{% set informations = __SELF__.informations %}
<form data-request = "onSave" data-request-success = "window.location.reload()">
    <div class="row">
    <div class=" col-md-6 form-group">
        <input type="text" class="form-control" value="{{ informations.client_name }}" name = "client_name" id="client_name" placeholder="Fullname">
    </div>
    <div class=" col-md-6 form-group">
        <input type="date" class="form-control" name = "client_dob" id="client_dob" value="{{ informations.client_dob }}" placeholder="Date of Birth">
    </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <input type="email" class="form-control" name="client_email" value="{{ informations.client_email }}" id="client_email" placeholder="Your E-mail Address">
        </div>
        <div class="col-md-6 form-group">
            <input type="text" class="form-control" name="client_mobile" value="{{ informations.client_mobile }}" id="client_mobile" placeholder="Mobile No.">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 ">
            <input type="text" class="form-control" name="client_home" value="{{ informations.client_home }}" id="client_home" placeholder="Home / Work">
        </div>
    </div>

    {% if(informations.has_spouse == 1) %}
    <h4>Spouse Detail</h4>
    <div class="row">
        <div class=" col-md-6 form-group">
            <input type="text" class="form-control" name = "spouse_name" value="{{ informations.spouse_name }}" id="spouse_name" placeholder="Fullname">
        </div>
        <div class=" col-md-6 form-group">
            <input type="date" class="form-control" name = "spouse_dob" value="{{ informations.spouse_dob }}" id="spouse_dob" placeholder="Date of Birth">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <input type="email" class="form-control" name="spouse_email" value="{{ informations.spouse_email }}" id="spouse_email" placeholder="Your E-mail Address">
        </div>
        <div class="col-md-6 form-group">
            <input type="text" class="form-control" name="spouse_mobile" value="{{ informations.spouse_mobile }}" id="spouse_mobile" placeholder="Mobile No.">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 ">
            <input type="text" class="form-control" name="spouse_home" value="{{ informations.spouse_home }}" id="spouse_home" placeholder="Home / Work">
        </div>
    </div>
    {% endif %}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
    </div>
</form>