/* Footer fix */

body {
	padding-top:0;
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

#wrapper-outer{
    height: 100%;
}
05386d
0088cc

#wrapper {
    height: 100%;
	min-height:100%;
	position:relative;
}


#content-wrapper {
		/*padding-bottom: 100px; */
}

#footer-wrapper {
    background: #ebecee;
    display: block;
	width:100%;
	position:absolute;
	/*bottom:0;*/
	left:0;
}



/* BASIC */

a:link, a:visited {
	text-decoration:none;
}

ul li {
	list-style:none !important;
}
