@media all and (max-width: 1920px) {
     .centered-block-form .login-form{
        width: 45%;
     
    }
  .fullwidth-image-block .home-image {
    height: 500px; }
    .fullwidth-image-block .image-block .float-content h1{
        font-size: 55px;
    }
    p{
        font-size: 18px;
    }
    h2{
        font-size: 40px;
    }
    .table-block .table thead th{
        font-size: 24px;
    }
}
    
@media all and (max-width: 1660px) {
  .fullwidth-image-block .image-block .float-content {
    width: 25%; }
    .fullwidth-image-block .image-block .float-content h1 {
      font-size: 45px; } }
      
@media all and (max-width: 1440px) {
    h2{
        font-size: 35px;
    }
    .table-block .table thead th{
    font-size: 24px;
  }
  .common-container {
    padding-left: 100px;
    padding-right: 100px; }

  .header-nav .colored-nav li a {
    font-size: 22px; }

  .fullwidth-image-block h2 {
    font-size: 30px; }
  .fullwidth-image-block .image-block .float-content {
    width: 25%; }
    .fullwidth-image-block .image-block .float-content a {
      font-size: 20px; }
    .fullwidth-image-block .image-block .float-content h1 {
      font-size: 40px; }
  .fullwidth-image-block .inside-image {
    height: 1100px; }
    
    .fullwidth-image-block .home-image{
        height: 400px;
    }

  .float-about {
    width: 85%; }

   }
    
@media all and (max-width: 1366px) {
  .fullwidth-image-block .image-block .float-content {
    width: 35%; }
    .detail-content{
        height: 600px;
    }
    .fullwidth-image-block .image-block .float-content h1 {
      font-size: 40px; } }
      
@media all and (max-width: 1200px) {
    .directions{
        width: 390px;
    }
    .right-block-form .contact-form{
        width: 450px;
    }
     .centered-block-form .login-form{
        width: 70%;
     
    }
    .inside-custom-container{
        width: 100% !important;
    }
    .detail-content{
        height: 400px;
    }
  
  .colored-background .buttons {
    margin: 28px 0px; }

  .buttons a {
    font-size: 18px; }

  .common-container {
    padding-left: 100px;
    padding-right: 100px; }

  .fullwidth-image-block .inside-image {
    height: auto; }

  .float-about p {
    font-size: 28px; } }
    
@media all and (max-width: 1024px) {
    .directions{
        width: 320px;
        padding: 20px;
    }
    .right-block-form .contact-form{
        width: 450px;
    }
    .blog-video{
        margin-bottom: 30px;
       
    }
    .float-about{
        width: 100%;
    }
    
    .colored-background .form .form-control {
        width: 100%;
    }
    .two-block-content{
        padding-bottom: 0px;
    }
  .ease.active {
    top: 80%; }

  .navbar-button {
    display: block; }
    
    .drop-menu .sub-menu{
        background: #05386d;
    }

  .header-nav {
    opacity: 0;
    display: none;
    transition: .3s all ease-in-out; }

  h2 {
    font-size: 30px; }

  .fullwidth-image-block .image-block .float-content {
    width: 50%; }
    .fullwidth-image-block .image-block .float-content h1 {
      font-size: 35px; }
    .fullwidth-image-block .image-block .float-content a {
      font-size: 18px; }

  .fullwidth-image-block .home-image {
    background-position: right; }

  .two-block-content .with-context .link a {
    font-size: 22px; }

  .right-block {
    padding-right: 0px; }

  .contact-form {
    width: 100%; }

  .header-nav .colored-nav li {
    margin-right: 20px; }
    .header-nav .colored-nav li a {
      color: #fff;
      font-weight: 500; } }
      
@media all and (max-width: 768px) {
    .directions{
        display: none;
    }
    .right-block-form .contact-form{
        left: 100px;
        width: 570px;
        top: 15%;
    }
    .centered-block-form .login-form{
        width: 100%;
     
    }
    .inside-custom-container{
        padding: 50px 0px !important;
    }
    h5{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
    .three-block-content .content-block .content{
        display: table-row;
    }
 .subscribe-btn .title, .subscribe-btn .col-md-5{
     text-align: center;
 }

  .ease.active {
    width: 60%; }

  .common-container {
    padding-left: 20px;
    padding-right: 20px; }

  .three-block-content {
    padding-bottom: 20px; }
    .three-block-content .content-block {
      padding-bottom: 20px;
      display: inline-block;}

  .two-block-content .with-image {
    text-align: center;
    margin-bottom: 20px; }
    
     .two-block-content{
         padding-bottom: 30px;
     }
  .two-block-content .with-context {
      margin-bottom: 30px;
    padding-left: 0px;
        margin: auto;}

  .subscribe-btn .sub-btn {
    margin-top: 20px; }

  .fullwidth-image-block .image-block {
    background-attachment: inherit; }
    
  .fullwidth-image-block .colored-background,.fullwidth-image-block .inside-image {
    height: auto; }

  .colored-background .login-form {
    margin-bottom: 40px;
    height: auto;}


    .overlay-map iframe{
        height: 800px;
    }

  .table-block .table thead tr th {
    font-size: 20px;
    /*padding: 0px 30px; */
      
  }
  .table-block .table tbody tr td {
    font-size: 14px;
    /*padding: 0px 30px;*/
    } 
    
}
    
@media all and (max-width: 600px) {
    .right-block-form .contact-form{
        width: 500px;
        left: 50px;
    }
    .top-margin{
        margin: 0px !important;
    }
    .blog-video iframe, .compress-content iframe{
        padding-bottom: 20px;
    }
     .detail-content{
        height: 300px;
    }
    h2{
        font-size: 26px;
    }
  p {
    font-size: 16px; }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    display: block; }

  .table-container {
    overflow: scroll;
    width: 100%; }

  .logo-field {
    margin-left: 20px; }


  .colored-background .right-block .image {
    height: 450px; }
  .colored-background .form .form-control {
    width: 100%; }

  .float-about p {
    font-size: 20px; }

  .custom-container {
    padding-left: 20px;
    padding-right: 20px; }

  .ease.active {
    width: 100%; }

  .table-block .table {
    padding: 0px; }
    .table-block .table tbody tr td {
      padding: 10px 0px; }

  .section-content {
    padding-top: 50px; }


  .fullwidth-image-block .inside-image {
    background-attachment: inherit; 
      background-position: center;
     
  }
  .fullwidth-image-block .home-image {
    height: 300px;
}
  .fullwidth-image-block .image-block .float-content {
    width: 80%; }
    .fullwidth-image-block .image-block .float-content h1 {
      font-size: 35px; } }
      
@media all and (max-width: 500px) {
     .right-block-form .contact-form{
        width: 450px;
        left: 20px;
    }
  .detail-content {
    padding: 20px 5px 20px 20px; }

  p {
    font-size: 14px; } }
    
@media all and (max-width: 425px) {
    .right-block-form .contact-form{
        width: 360px;
    }
    .blog-video iframe, .compress-content iframe{
        height: 200px;
    }
    .float-about .content img{
        width: 100%;
    }
    
    .colored-background .login-title{
        padding: 18px;
    }
    
  .colored-background .right-block .image {
    height: 350px; }

  .table tbody tr td {
    width: 250px; }

  .fullwidth-image-block .image-block .float-content {
    left: 10px; }
    .fullwidth-image-block .image-block .float-content a {
      font-size: 14px; }
    .fullwidth-image-block .image-block .float-content h1 {
      font-size: 24px; 
            padding-bottom: 10px;
    }
      }
      
@media all and (max-width: 375px){
    
    .right-block-form .contact-form{
        width: 320px;
        padding: 20px;
    }
    .right-block-form .contact-form .buttons{
        margin-top: 20px;
    }
    .colored-background .right-block .image {
        height: 250px;
    }
    .fullwidth-image-block .home-image {
         height: 250px;
    }
}
      
@media all and (max-width: 320px) {
    .right-block-form .contact-form{
        width: 280px;
    }
  .buttons .join {
    padding-bottom: 20px;
    display: block; }
  .buttons .buy {
    float: left; } }

/*# sourceMappingURL=responsive.css.map */
