
@media all and (max-width: 1920px){
  .fullwidth-image-block{
    .home-image{
      height: 500px;
    }

  }
}

@media all and (max-width: 1660px){
  .fullwidth-image-block{
    .image-block{
      .float-content{
        width: 25%;
        h1{
          font-size: 45px;
        }
      }
    }

  }
}

@media all and (max-width: 1440px){
    .table-block .table thead th{
    font-size: 24px;
  }
  .common-container {
    padding-left: 150px;
    padding-right: 150px;
  }

  .header-nav .colored-nav li{
    a{
     font-size: 22px
    }
  }

  .fullwidth-image-block{
      h2{
          font-size: 30px;
      }
    .image-block{
      .float-content{
        width: 25%;
        a{
            font-size: 20px;
        }
        h1{
            font-size: 40px;
        }
      }
    }
    .inside-image{
      height: 1200px;
    }
    .home-image{
        height: 400px;
    }
  }

  .float-about {
    width: 85%;
  }

  .directions {
    width: 100%;
  }

}

@media all and (max-width: 1366px){
  .fullwidth-image-block{
    .image-block{
      .float-content{
        width: 35%;
        h1{
          font-size: 40px;
        }
      }
    }

  }
}

@media all and (max-width: 1200px){
  .colored-background {
    .login-form{
    //   height: auto;
    }
    .buttons{
      margin: 28px 0px;
    }
  }
  .buttons a{
    font-size: 18px;
  }
  .common-container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .fullwidth-image-block{
    .inside-image{
      height: auto;
    }
  }

  .float-about p {
    font-size: 28px;
  }
}

@media all and (max-width: 1024px){
    .blog-video{
        margin-bottom: 30px;
    }
    .colored-background .form .form-control {
        width: 100%;
    }
    .two-block-content{
        padding-bottom: 0px;
    }
  .ease.active{
    top: 80%;
  }
  .navbar-button{
    display: block;
  }

  .header-nav{
    opacity: 0;
    display: none;
    transition: .3s all ease-in-out;
  }

  h2{
    font-size: 30px;
  }

  .fullwidth-image-block .image-block .float-content{
      width: 50%;
    h1{
      font-size: 35px;
    }
    a{
      font-size: 18px;
    }
  }
  
  .fullwidth-image-block .home-image{
          background-position: right;
  }

  .two-block-content .with-context .link a{
    font-size: 22px;
  }

  .right-block {
    padding-right: 0px;
  }

  .contact-form{
    width: 100%;
  }

  .header-nav .colored-nav li{
    margin-right: 20px;
    a{
      color: #fff;
      font-weight: 500;
    }
  }
}

@media all and (max-width: 922px){


}

@media all and (max-width: 768px){

  .detail-content{
    height: 500px;
  }
  .ease.active{
    width: 60%;
  }

  .common-container {
    padding-left: 20px;
    padding-right: 20px;
  }


  .three-block-content {
    padding-bottom: 20px;
    .content-block{
      padding-bottom: 20px;
    }

  }

  .two-block-content {
    .with-image{
      text-align: center;
      margin-bottom: 20px;
    }

    .with-context{
      padding-left: 0px;
    }
  }

  .subscribe-btn{
    .sub-btn{
      margin-top: 20px;
    }
  }

  .fullwidth-image-block{
    .image-block{
      background-attachment: inherit;
      //height: inherit;
    }
    .colored-background{
      height: auto;
    }
    .inside-image{
        height: auto;
    }
  }

  .colored-background .login-form{
    margin-bottom: 40px;
    height: auto;

  }

  .directions{
    margin-bottom: 40px;
    margin-bottom: 40px;
  }
  
  .overlay-map .overlay-contact{
        top: 50px;
    }
  
  .directions .direction-info{
        margin-bottom: 20px;
    }
    
    .overlay-map iframe{
        height: 1200px;
    }

  .table-block .table{
    thead tr th {
      font-size: 20px;
      padding: 0px 30px;
    }
    tbody tr td{
      font-size: 14px;
      padding: 0px 30px;
    }
  }

}

@media all and (max-width: 600px){
     .overlay-map .overlay-contact{
        top: 100px;
    }
    
     .fullwidth-image-block .home-image {
         height: 300px;
    }

    h2{
        font-size: 26px;
    }
    
  p{
    font-size: 16px;
  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal{
    display: block;
  }

  .table-container{
    overflow-x: auto;
    width: 100%;
  }

  .logo-field{
    margin-left: 20px;
  }

  .directions .direction-info{
    margin-bottom: 40px;
  }

  .colored-background {
    .right-block .image{
      height: 450px;
    }
    .form .form-control{
      width: 100%;
    }
  }

  .float-about p {
    font-size: 20px;
  }

  .custom-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ease.active{
    width: 100%;
  }

  .table-block .table{
    padding: 0px;
    tbody tr td{
      padding: 10px 0px;
    }
  }

  .section-content{
    padding-top: 50px;
  }
  

  .fullwidth-image-block {
    .inside-image{
      background-attachment: inherit;
    }
    .image-block{
      .float-content{
        width: 80%;
        h1{
          font-size: 35px;
        }
      }
    }
  }
}

@media all and (max-width: 500px){
  .detail-content{
    padding: 20px 5px 20px 20px;
  }

  p{
    font-size: 14px;
  }
}

@media all and (max-width: 425px){
    .float-about .content img{
        width: 100%;
    }
    .colored-background .login-title{
        padding: 18px;
    }
    
  .colored-background {
    .right-block .image{
      height: 350px;
    }
  }

  .table{
    tbody{
      tr{
        td{
          //padding-right: 30px;
          width: 250px;
        }
      }
    }
  }
  .fullwidth-image-block {
    .image-block{
      .float-content{
        left: 10px;
        a{
          font-size: 14px;
        }
        h1{
          font-size: 24px;
        }
      }
    }
  }
}

@media all and (max-width: 375px){
    .colored-background .right-block .image {
        height: 250px;
    }
 .fullwidth-image-block .home-image {
         height: 250px;
    }
}

@media all and (max-width: 320px){
  .buttons {
    .join{
      padding-bottom: 20px;
      display: block;
    }
    .buy{
      float: left;
    }

  }
}