*{
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #6c6c6c;
}

ul, li, h1,h2,h3,h4,h5,h6{
  padding: 0px;
  margin: 0px;
}

p{
  font-size: 18px;
}

.custom-container{
  padding-left: 50px;
  padding-right: 50px;
}
.common-container{
  padding-left: 200px;
  padding-right: 200px;
}

.header{
  width: 100%;
  padding-top: 20px;
  min-height: 80px;
  position: absolute;
  z-index: 1;
  left: 0;
}
.logo-field{
  border: 1px solid #fff;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  text-align: center;
  background: #fff;
  margin-left: 55px;
}
.logo{
  width: 20%;
  float: left;
  img{
    width: 110px;
    height: auto;
    padding-top: 28px;
  }
}
.header-nav{
  width: 80%;
  text-align: right;
  float: right;
  .navigate{
    width: 100%;
    float: right;
    li{
      display: inline-block;
      margin-right: 40px;
      a{
        font-size: 24px;
        color: #fff;
      }
    }
  }
  .colored-nav{
    padding-top: 25px;
    li{
      display: inline-block;
      margin-right: 40px;
      a{
        font-size: 24px;
        color: #537c7d;
      }
    }
    li:last-of-type{
        margin-right: 0px;
    }
  }
}

.second-header{
  width: 100%;
  padding: 20px 0px;
  min-height: 80px;
  background: #fff;
  position: relative;
  display: inline-block;
  .logo img{
    padding-top: 0px;
    width: 150px;
    height: auto;
  }
}
.fullwidth-image-block{
    .image-block{
      position: relative;
      background-size: cover;
      //background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      width: 100%;
      .float-content{
        position: absolute;
        bottom: 50px;
        width: 24%;
        h1{
          font-size: 55px;
          font-weight: 600;
          padding-bottom: 20px;
          color: #fff;
        }
        a{
          color: #fff;
          background: transparent;
          border: 3px solid #4fe3c1;
          width: 100%;
          font-size: 26px;
          padding: 10px;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
        }
        a:hover{
          color: #4fe3c1;
          background: #fff;
          border: 3px solid #fff;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
        }
      }

    }
    .inside-image{
      height: 900px;
    }
  .home-image{
    height: 500px;
  }
}

//content-wrapper
h5{
  font-size: 18px;
  font-weight: 600;
}
h2{
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 30px;
}

/****index page*****/

.section-content{
  padding: 100px 0px;
}
.three-block-content{
  display: inline-block;
  padding-bottom: 100px;
  .content-block{
    .image{
      padding-bottom: 15px;
    }
    .content{
      h5{
        padding-bottom: 10px;
      }
    }
  }
}
.two-block-content{
  display: inline-block;
  padding-bottom: 100px;
  width: 100%;
  .with-image{
    img{
      width: 70%;
    }
  }
  .with-context{
    padding-left: 50px;
    .link{
      width: 100%;
      border: 3px solid #4fe3c1;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      a{
        color: #575757;
        font-size: 30px;
        padding: 10px;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 100%;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
      }
    }
    .link:hover{
      background: #4fe3c1;
      border: 3px solid #4fe3c1;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      a{
        color: #fff;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
      }
    }
  }
}
.single-block-content{
  text-align: center;
  .solution-block{
    ul{
      li{
        display: inline-block;
      }
      li:first-of-type{
        padding-right: 20px;
      }
      li:last-of-type{
        img{
          width: 150px;
          height:auto;
        }
      }
    }
  }
}
.table-block {
  padding: 60px 0px;
  h3 {
    color: #fff;
    padding-bottom: 20px;
    font-weight: 700;
    //font-size: 18px;
  }
  .table {
    padding-left: 20px;

    thead {
      th {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
      }
    }
    tbody {
      tr {
        td {
          text-align: center;
          padding: 20px 0px;
          font-size: 18px;

        }
      }
    }
  }
  .apply-btn {
    display: inline-block;
    background: #fff;
    padding: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    float: right;
    transition: all .3s ease-in-out;
    a{
      color:#4fe3c1;
      font-size: 18px;
      font-weight: 500;
      transition: all .3s ease-in-out;
    }
  }
  .apply-btn:hover{
    background: #4fe3c1;
    transition: all .3s ease-in-out;
    a{
      color: #fff;
      transition: all .3s ease-in-out;
    }
  }
}
.subscribe-btn{
  background: #0b4c2a;
  padding: 20px 0px;
  .title{
    h3{
      color: #fff;
      font-weight: 600;
    }
  }

  .sub-btn{
    display: inline-block;
    background: #fff;
    padding: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    a{
      color: #5e5e5e;
    }
  }
  .sub-btn:hover{
    background: #4fe3c1;
    transition: all .3s ease-in-out;
    a{
      color: #fff;
      transition: all .3s ease-in-out;
    }
  }
}



/****index page*****/

/****about page*****/

.float-about{
  width: 55%;
  h2{
    color: #4fe3c1;
  }
  p{
    font-size: 35px;
  }
}
.right-block{
  display: inline-block;
  width: 100%;
  padding-right: 45px;

}
.detail-content{
  background: #fff;
  padding: 30px;
  margin-bottom: 50px;
}
.buttons{
    a{
         background: #fff;
        color: #4fe3c1;
     border: 1px solid #4fe3c1;
      padding: 10px 18px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      font-size: 16px;
      transition: all .3s ease-in-out;
    }
  .buy{
    float: right;
  }
}
.buttons:hover{
  a{
    color: #fff;
      background: #4fe3c1;
    transition: all .3s ease-in-out;
  }
}

/****about page ends*****/

/****login page*****/

.colored-background{
  background: #537c7d;
  .section-content{
    padding: 50px 0px;
  }
  .login-title{
    padding: 25px;
    background: #fff;
    color: #4fe3c1;
  }
  .form{
    padding: 25px;
    background: #dce0df;
    color: #6c6c6c;
    h3{
      padding-bottom: 15px;
      font-weight: 500;
    }
    label{
      font-weight: 300;
    }
    .form-control{
      width: 50%;
    }
  }
  .buttons{
    margin: 40px 0;
  }
  .login-form{
    height: 464px;
  }
  .right-block{
    .image{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 464px;
      width: 100%;
    }
  }
  .col-md-6{
    //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    //box-shadow: 5px 5px rgba(0,0,0,0.25);
  }
}

.register{

  .login-form{
    height: auto;
  }
}

/****login page ends*****/

/****contact page*****/
.directions{
  background: #537c7d;
  padding: 45px 35px;
  width: 65%;
  .direction-info{
    width: 100%;
    margin-bottom: 100px;
    display: inline-block;
    .icon{
      display: inline-block;
      width: 20%;
      float: left;
      .fa{
        color: #fff;
        font-size: 35px;
        background: transparent;
      }
    }
    .content{
      display: inline-block;
      width: 80%;
      float: right;
      p{
        color: #fff;
      }
    }
  }
  .get-direction{
    width: 100%;
    border: 1px solid #fff;
    text-align: center;
    padding: 20px;
    transition: all .3s ease-in-out;
    a{
      color: #fff;
      transition: all .3s ease-in-out;
      font-size: 18px;
    }
  }
  .get-direction:hover{
    background: #fff;
    transition: all .3s ease-in-out;
    a{
      color: #537c7d;
      transition: all .3s ease-in-out;
    }
  }
}
.contact-form{
  background: #537c7d;
  padding: 35px;
  width: 80%;
  float: right;
  h3{
    color: #fff;
    padding-bottom: 25px;
    font-weight: 600;
  }
  .form-group{
    margin-bottom: 20px;
    .form-control{
      border-radius: 0px;
      border-radius: 0;
      border: none;
      padding: 10px 15px;
    }
  }
  .buttons{
    margin-top: 50px;
    text-align: right;
    a{
      background: #fff;
      font-size: 16px;
      padding: 10px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }
    a:hover{
      color: #537c7d;
      background: #5e5e5e;
    }
  }
}
.overlay-map{
  position: relative;
  width: 100%;
  .overlay-contact{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 30px;
  }
}

/****contact page ends*****/

/****webinar page ends*****/

.schedule{
  .schedule-title{
    color: #4fe3c1;
    h2{
      font-weight: 600;
    }
  }
  .about-schedule{
    p{
      color: #fff;
    }
  }
}
.schedule-table{
  table{
    text-align: center;
    thead{
     tr{
       th{
         font-weight: 400;
         font-size: 20px;
         padding: 25px 0px;
         text-align: center;
       }
     }
    }
    tbody{
      td{
        padding: 20px 0px;
        a{
          padding: 10px;
          background: #4fe3c1;
          color: #fff;
          transition: all .3s ease-in-out;
        }
        a:hover{
            background: #fff;
            color: #4fe3c1;
            transition: all .3s ease-in-out;
        }
      }
    }
  }
}
.table-container{
  .mCSB_horizontal.mCSB_inside>.mCSB_container{
    margin-bottom: 0px;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal{
    display: none;
    opacity: 0;
  }
}
/****webinar page ends*****/


//footer-wrapper

.footer{
  padding-top: 40px;
  padding-bottom: 50px;
}
.footer-block{
  .title{
    padding-bottom: 15px;
    color: #537c7d;
  }
  .foot-linkers{
    li{
      padding-bottom: 10px;
      color: #3d3d3d;
      a{
        color: #3d3d3d;
      }
    }
    li:hover{
      a{
        color: #537c7d;
      }
    }
  }
}
.social-media{
  z-index: 5;
  right: -158px;
  width: 208px;
  padding: 10px 0px 5px 0px;
  position: fixed;
  background: #537c7d;
  top: 20%;
  .social-linkers{
    li{
      display: inline-block;
      width: 100%;
      padding: 10px 5px;
      margin-bottom: 0;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      .fa{
        font-size: 28px;
        color: #fff;
      }
      div:first-of-type{
        width: 45px;
        text-align: center;
        margin-right: 8px;
        float: left;
      }
      div:nth-of-type(2){
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        padding-top: 5px;
      }
    }
  }
}
.social-media:hover{
  opacity: 1;
  right: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  .social-linkers{
    li{
      //background: #76af9a;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
    }
  }
}



.navbar-button{
  position: absolute;
  right: 0px;
  background: transparent;
  border: 0;
  padding: 35px 0px 20px 20px;
  cursor: pointer;
  display: none;
  .icon-bar{
    background: #fff;
    width: 50px;
    height: 5px;
    display: block;
    margin-bottom: 5px;
  }
}

.ease{
  transition: .3s all ease-in-out;
}
.ease.active {
  text-align: center;
  transition: .3s all ease-in-out;
  display: block;
  background: #4fe3c1b3;
  opacity: 1;
  position: absolute;
  right: 0;
  width: 50%;
  top: 60%;
  height: 300px;
  z-index: 1;
  ul{
    li{
      display: block;
      padding: 10px;
    }
  }
}


/***********added pages**********/
.inside-custom-container{
  .right-block{
    padding-right: 0px;
  }
   .buttons:hover{
    a{
        color: #4fe3c1;
      border: 1px solid #4fe3c1;
      background: #fff;
    }
  }
}
.three-block-content{
  .buttons:hover{
    a{
      color: #4fe3c1;
      border: 1px solid #4fe3c1;
      background: #fff;
    }
  }
}

.inside-custom-container{
            width: 1500px;
            margin: auto;
            padding: 50px;
        }
        .about-schedule p{
            color: #3d3d3d;
        }
        .added-margin{
            margin-bottom: 20px;
        }
        .top-margin{
            margin-top: 30px;
        }
        .fullwidth-border{
            border-bottom: 3px solid #0b4c2a;
        }
        .schedule-about .table-container{
    table{
      thead tr th{
        padding: 15px 0;
      }
      tbody tr td{
        padding: 15px 0;
      }
    }
  }

.drop-menu{
  position:relative;
  .sub-menu{
    text-align: left;
    position: absolute;
    width: 250px;
    padding: 10px;
    z-index: 1;
    background: #fff;
    transition: all .5s ease-in-out;
    display: none;
    text-align: left;
    li{
      padding-bottom: 10px;
      width: 100%;
      margin-right: 0px;
      a{
        padding: 0px;
        font-size: 16px;
      }
    }
    li:last-of-type{
      padding-bottom: 0px;
    }
  }
}
.drop-menu:hover{
  .sub-menu{
    transition: all .5s ease-in-out;
    display:block;
  }
}