* {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #6c6c6c; }

  ul, li, h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px; }

    p {
      font-size: 18px; }

      .custom-container {
        padding-left: 50px;
        padding-right: 50px; }

        .common-container {
          padding-left: 200px;
          padding-right: 200px; }

          .header {
            width: 100%;
            padding-top: 20px;
            min-height: 80px;
            position: absolute;
            z-index: 1;
            left: 0; }

            .logo-field {
              border: 1px solid #fff;
              border-radius: 50%;
              width: 140px;
              height: 140px;
              text-align: center;
              background: #fff;
              margin-left: 55px; }

              .logo {
                width: 20%;
                float: left; }
                .logo img {
                  width: 110px;
                  height: auto;
                  padding-top: 28px; }

                  .header-nav {
                    width: 80%;
                    text-align: right;
                    float: right; }
                    .header-nav .navigate {
                      width: 100%;
                      float: right; }
                      .header-nav .navigate li {
                        display: inline-block;
                        margin-right: 40px; }
                        .header-nav .navigate li a {
                          font-size: 24px;
                          color: #fff; }
                          .header-nav .colored-nav {
                            padding-top: 25px; }
                            .header-nav .colored-nav li {
                              display: inline-block;
                              margin-right: 40px; }
                              .header-nav .colored-nav li a {
                                font-size: 24px;
                                padding: 10px;
                                color: #05386d; }
                                .header-nav .colored-nav li a:hover{
                                  border-bottom: 2px solid #0088cc;
                                  transition: all .3s ease-in-out;
                                }
                                .header-nav .colored-nav li:first-of-type a:hover{
                                  border-bottom: none;
                                }
                                .header-nav .colored-nav li:last-of-type{
                                  margin-right: 0px;
                                }

                                .second-header {
                                  width: 100%;
                                  padding: 20px 0px;
                                  min-height: 80px;
                                  /*background: #fff;*/
                                  position: relative;
                                  display: inline-block; }
                                  .second-header .logo img {
                                    padding-top: 0px;
                                    width: 210px;
                                    height: auto; }

                                    .fullwidth-image-block .image-block {
                                      position: relative;
                                      background-size: cover;
                                      background-repeat: no-repeat;
                                      background-attachment: fixed;
                                      width: 100%; }
                                      .fullwidth-image-block .image-block .float-content {
                                        position: absolute;
                                        bottom: 50px;
                                        width: 21%; }
                                        .fullwidth-image-block .image-block .float-content h1 {
                                          font-size: 70px;
                                          font-weight: 600;
                                          padding-bottom: 50px;
                                          color: #fff; }
                                          .fullwidth-image-block .image-block .float-content a {
                                            color: #fff;
                                            background: transparent;
                                            border: 3px solid #0088cc;
                                            width: 100%;
                                            font-size: 24px;
                                            padding: 10px;
                                            display: inline-block;
                                            text-align: center;
                                            vertical-align: top;
                                            transition: all 0.3s ease-in-out;
                                            -webkit-transition: all 0.3s ease-in-out; }
                                            .fullwidth-image-block .image-block .float-content a:hover {
                                              color: #0088cc;
                                              background: #fff;
                                              border: 3px solid #fff;
                                              transition: all 0.3s ease-in-out;
                                              -webkit-transition: all 0.3s ease-in-out; }
                                              .fullwidth-image-block .inside-image {
                                                height: 900px; }
                                                .fullwidth-image-block .home-image {
                                                  height: 700px; }

                                                  h5 {
                                                    font-size: 24px;
                                                    font-weight: 600; }

                                                    h2 {
                                                      font-weight: 700;
                                                      font-size: 50px;
                                                      padding-bottom: 20px; }
                                                      p{
                                                        font-size: 20px;
                                                      }
                                                      /****index page*****/
                                                      .section-content {
                                                        padding: 90px 0px; }

                                                        .three-block-content {
                                                          display: inline-block;
                                                          padding-bottom: 90px; }
                                                          .three-block-content .content-block .image {
                                                            padding-bottom: 15px; }
                                                            .three-block-content .content-block .content h5 {
                                                              padding-bottom: 10px; }

                                                              .two-block-content {
                                                                display: inline-block;
                                                                padding-bottom: 60px;
                                                                width: 100%; }
                                                                .two-block-content .with-image{
                                                                  text-align: center;
                                                                }
                                                                .two-block-content .with-image img {
                                                                  width: 70%; }
                                                                  .two-block-content .with-context {
                                                                    padding-left: 50px;
                                                                    width: 80%;}
                                                                    .two-block-content .with-context .link {
                                                                      width: 100%;
                                                                      border: 3px solid #0088cc;
                                                                      text-align: center;
                                                                      cursor: pointer;
                                                                      transition: all 0.3s ease-in-out;
                                                                      -webkit-transition: all 0.3s ease-in-out; }
                                                                      .two-block-content .with-context .link a {
                                                                        color: #0088cc;
                                                                        font-size: 30px;
                                                                        padding: 10px;
                                                                        display: inline-block;
                                                                        text-align: center;
                                                                        vertical-align: top;
                                                                        width: 100%;
                                                                        transition: all 0.3s ease-in-out;
                                                                        -webkit-transition: all 0.3s ease-in-out; }
                                                                        .two-block-content .with-context .link:hover {
                                                                          background: #0088cc;
                                                                          border: 3px solid #0088cc;
                                                                          transition: all 0.3s ease-in-out;
                                                                          -webkit-transition: all 0.3s ease-in-out; }
                                                                          .two-block-content .with-context .link:hover a {
                                                                            color: #fff;
                                                                            transition: all 0.3s ease-in-out;
                                                                            -webkit-transition: all 0.3s ease-in-out; }

                                                                            .single-block-content {
                                                                              text-align: center; }
                                                                              .single-block-content .solution-block ul li {
                                                                                display: inline-block; }
                                                                                .single-block-content .solution-block ul li:first-of-type {
                                                                                  padding-right: 20px; }
                                                                                  .single-block-content .solution-block ul li:last-of-type img {
                                                                                    width: 150px;
                                                                                    height: auto; }

                                                                                    .table-block {
                                                                                      padding: 60px 0px; }
                                                                                      .table-block h3 {
                                                                                        padding-left: 15px;
                                                                                        color: #fff;
                                                                                        padding-bottom: 20px;
                                                                                        font-weight: 700; }
                                                                                        .table-block .table {
                                                                                          padding-left: 20px; }
                                                                                          .table-block .table thead th {
                                                                                            font-weight: 700;
                                                                                            font-size: 30px;
                                                                                            text-align: center; }
                                                                                            .table-block .table tbody tr td {
                                                                                              text-align: center;
                                                                                              padding: 20px 0px;
                                                                                              font-size: 18px; }
                                                                                              .table-block .apply-btn {
                                                                                                /*border: 2px solid #0088cc;*/
                                                                                                display: inline-block;
                                                                                                background: #fff;
                                                                                                padding: 10px 20px;
                                                                                                display: inline-block;
                                                                                                text-align: center;
                                                                                                vertical-align: top;
                                                                                                float: right;
                                                                                                transition: all .3s ease-in-out; }
                                                                                                .table-block .apply-btn a {

                                                                                                  color: #0088cc;
                                                                                                  font-size: 18px;
                                                                                                  font-weight: 500;
                                                                                                  transition: all .3s ease-in-out; }
                                                                                                  .table-block .apply-btn:hover {
                                                                                                    background: #0088cc;
                                                                                                    transition: all .3s ease-in-out; }
                                                                                                    .table-block .apply-btn:hover a {
                                                                                                      color: #fff;
                                                                                                      transition: all .3s ease-in-out; }

                                                                                                      .subscribe-btn {
                                                                                                        background: #0b4c2a;
                                                                                                        padding: 20px 0px; }
                                                                                                        .subscribe-btn .title{
                                                                                                          text-align: right;
                                                                                                        }
                                                                                                        .subscribe-btn .title h3 {
                                                                                                          padding-top: 8px;
                                                                                                          color: #fff;
                                                                                                          font-weight: 600; }
                                                                                                          .subscribe-btn .sub-btn {
                                                                                                            display: inline-block;
                                                                                                            background: #fff;
                                                                                                            padding: 10px;
                                                                                                            display: inline-block;
                                                                                                            text-align: center;
                                                                                                            vertical-align: top; }
                                                                                                            .subscribe-btn .sub-btn a {
                                                                                                              color: #5e5e5e; }
                                                                                                              .subscribe-btn .sub-btn:hover {
                                                                                                                background: #0088cc;
                                                                                                                transition: all .3s ease-in-out; }
                                                                                                                .subscribe-btn .sub-btn:hover a {
                                                                                                                  color: #fff;
                                                                                                                  transition: all .3s ease-in-out; }

                                                                                                                  /****index page*****/
                                                                                                                  /****about page*****/
                                                                                                                  .float-about {
                                                                                                                    width: 55%; }
                                                                                                                    .float-about h2 {
                                                                                                                      color: #05386d; }
                                                                                                                      .float-about p {
                                                                                                                        font-size: 35px; }

                                                                                                                        .right-block {
                                                                                                                          display: inline-block;
                                                                                                                          width: 100%;
                                                                                                                          padding-right: 45px; }

                                                                                                                          .detail-content {
                                                                                                                            background: #fff;
                                                                                                                            padding: 30px;
                                                                                                                            margin-bottom: 50px; }

                                                                                                                            .buttons a {
                                                                                                                              font-weight: 500;
                                                                                                                              /*border: 2px solid #0088cc;*/
                                                                                                                              background: #fff;
                                                                                                                              color: #0088cc;
                                                                                                                              padding: 10px 18px;
                                                                                                                              display: inline-block;
                                                                                                                              text-align: center;
                                                                                                                              vertical-align: top;
                                                                                                                              font-size: 16px;
                                                                                                                              margin-top: 10px;
                                                                                                                              transition: all .3s ease-in-out; }

                                                                                                                              .buttons:hover a{

                                                                                                                               color: #fff;
                                                                                                                               background: #0088cc;
                                                                                                                             }
                                                                                                                             .buttons .join{
                                                                                                                              float: left;
                                                                                                                            }
                                                                                                                            .buttons .buy {
                                                                                                                              float: right; }

                                                                                                                              .buttons .join:hover a,.buttons .buy:hover a{
                                                                                                                               color: #fff;
                                                                                                                               background: #0088cc;
                                                                                                                               /*border: 2px solid #0088cc;*/
                                                                                                                               transition: all .3s ease-in-out; }

                                                                                                                               /****about page ends*****/
                                                                                                                               /****login page*****/
                                                                                                                               /*.colored-background {*/
                                                                                                                                /*  background: #537c7d; }*/
                                                                                                                                .colored-background .section-content {
                                                                                                                                  padding: 50px 0px; }
                                                                                                                                  .colored-background .login-title {
                                                                                                                                    padding: 25px;
                                                                                                                                    background: #05386d;
                                                                                                                                    color: #fff; }
                                                                                                                                    .colored-background .form {
                                                                                                                                      padding: 25px;
                                                                                                                                      background: #dce0df;
                                                                                                                                      display: inline-block;
                                                                                                                                      width: 100%;
                                                                                                                                      color: #6c6c6c; }
                                                                                                                                      .colored-background .form h3 {
                                                                                                                                        padding-bottom: 15px;
                                                                                                                                        font-weight: 500; }
                                                                                                                                        .colored-background .form label {
                                                                                                                                          font-weight: 300; }
                                                                                                                                          .colored-background .form .form-control {
                                                                                                                                            width: 50%; }
                                                                                                                                            .colored-background .buttons {
                                                                                                                                              margin: 20px 0; }

                                                                                                                                              .colored-background .login-form {
                                                                                                                                                background: #dce0df;
                                                                                                                                                height: 464px; }
                                                                                                                                                .colored-background .right-block .image {
                                                                                                                                                  background-position: center;
                                                                                                                                                  background-repeat: no-repeat;
                                                                                                                                                  background-size: cover;
                                                                                                                                                  height: 464px;
                                                                                                                                                  width: 100%; }
                                                                                                                                                  .centered-block-form .login-form{
                                                                                                                                                    width: 25%;
                                                                                                                                                    margin: auto;
                                                                                                                                                  }
                                                                                                                                                  .centered-block-form .form .form-control{
                                                                                                                                                    width: 100%;
                                                                                                                                                  }
                                                                                                                                                  .colored-background .two-block-content{
                                                                                                                                                    padding: 0px;
                                                                                                                                                  }
                                                                                                                                                  .register .login-form {
                                                                                                                                                    height: auto; }

                                                                                                                                                    /****login page ends*****/
                                                                                                                                                    /****contact page*****/

                                                                                                                                                    .directions{
                                                                                                                                                      position: absolute;
                                                                                                                                                      z-index: 1;
                                                                                                                                                      background: #05386d;
                                                                                                                                                      width: 400px;
                                                                                                                                                      padding: 20px;
                                                                                                                                                      color: #fff;
                                                                                                                                                      padding: 45px 35px;
                                                                                                                                                      width: 500px;
                                                                                                                                                      top: 20%;
                                                                                                                                                      left: 100px;

                                                                                                                                                    }

                                                                                                                                                    .directions .direction-info {
                                                                                                                                                      width: 100%;
                                                                                                                                                      margin-bottom: 100px;
                                                                                                                                                      display: inline-block; }
                                                                                                                                                      .directions .direction-info .icon {
                                                                                                                                                        display: inline-block;
                                                                                                                                                        width: 20%;
                                                                                                                                                        float: left; }
                                                                                                                                                        .directions .direction-info .icon .fa {
                                                                                                                                                          color: #fff;
                                                                                                                                                          font-size: 35px;
                                                                                                                                                          background: transparent; }
                                                                                                                                                          .directions .direction-info .content {
                                                                                                                                                            display: inline-block;
                                                                                                                                                            width: 80%;
                                                                                                                                                            float: right; }
                                                                                                                                                            .directions .direction-info .content p {
                                                                                                                                                              color: #fff; }

                                                                                                                                                              .right-block-form .contact-form {
                                                                                                                                                                position: absolute;
                                                                                                                                                                background: #05386d;
                                                                                                                                                                padding: 35px;
                                                                                                                                                                width: 600px;
                                                                                                                                                                top: 20%;
                                                                                                                                                                right: 100px;
                                                                                                                                                                z-index: 1;}
                                                                                                                                                                .contact-form h3 {
                                                                                                                                                                  color: #fff;
                                                                                                                                                                  padding-bottom: 25px;
                                                                                                                                                                  font-weight: 600; }
                                                                                                                                                                  .contact-form .form-group {
                                                                                                                                                                    margin-bottom: 20px; }
                                                                                                                                                                    .contact-form .form-group .form-control {
                                                                                                                                                                      border-radius: 0px;
                                                                                                                                                                      border-radius: 0;
                                                                                                                                                                      border: none;
                                                                                                                                                                      padding: 10px 15px; }
                                                                                                                                                                      .contact-form .buttons {
                                                                                                                                                                        margin-top: 50px;
                                                                                                                                                                        text-align: right; }
                                                                                                                                                                        .contact-form .buttons a {
                                                                                                                                                                          background: #fff;
                                                                                                                                                                          font-size: 16px;
                                                                                                                                                                          padding: 10px;
                                                                                                                                                                          display: inline-block;
                                                                                                                                                                          text-align: center;
                                                                                                                                                                          vertical-align: top; }
                                                                                                                                                                          .contact-form .buttons a:hover {
                                                                                                                                                                            color: #fff;
                                                                                                                                                                            background: #0088cc; }

                                                                                                                                                                            .overlay-map {
                                                                                                                                                                              position: relative;
                                                                                                                                                                              width: 100%; }
                                                                                                                                                                              .overlay-map .overlay-contact {
                                                                                                                                                                                position: absolute;
                                                                                                                                                                                z-index: 1;
                                                                                                                                                                                left: 0;
                                                                                                                                                                                right: 0;
                                                                                                                                                                                top: 30px; }

                                                                                                                                                                                /****contact page ends*****/
                                                                                                                                                                                /****webinar page ends*****/
                                                                                                                                                                                .schedule .schedule-title {
                                                                                                                                                                                  color: #05386d; }
                                                                                                                                                                                  .schedule .schedule-title h2 {
                                                                                                                                                                                    font-weight: 600; }
                                                                                                                                                                                    /*.schedule .about-schedule p {*/
                                                                                                                                                                                      /*  color: #fff; }*/

                                                                                                                                                                                      .schedule-table table {
                                                                                                                                                                                        text-align: center; }
                                                                                                                                                                                        .schedule-table table thead tr th {
                                                                                                                                                                                          font-weight: 400;
                                                                                                                                                                                          font-size: 20px;
                                                                                                                                                                                          padding: 25px 0px;
                                                                                                                                                                                          text-align: center; }
                                                                                                                                                                                          .schedule-table table tbody td {
                                                                                                                                                                                            padding: 20px 0px; }
                                                                                                                                                                                            .schedule-table table tbody td a {
                                                                                                                                                                                              padding: 10px;
                                                                                                                                                                                              background: #0088cc;
                                                                                                                                                                                              color: #fff;
                                                                                                                                                                                              border: 1px solid #0088cc;
                                                                                                                                                                                              transition: all .3s ease-in-out; }
                                                                                                                                                                                              .schedule-table table tbody td a:hover {
                                                                                                                                                                                                border: 1px solid #0088cc;
                                                                                                                                                                                                background: #fff;
                                                                                                                                                                                                color: #0088cc;
                                                                                                                                                                                                transition: all .3s ease-in-out; }

                                                                                                                                                                                                .table-container .mCSB_horizontal.mCSB_inside > .mCSB_container {
                                                                                                                                                                                                  margin-bottom: 0px; }
                                                                                                                                                                                                  .table-container .mCSB_scrollTools.mCSB_scrollTools_horizontal {
                                                                                                                                                                                                    display: none;
                                                                                                                                                                                                    opacity: 0; }
                                                                                                                                                                                                    .table-container .mCustomScrollBox{
                                                                                                                                                                                                      /*display: none;*/
                                                                                                                                                                                                    }

                                                                                                                                                                                                    /****webinar page ends*****/
                                                                                                                                                                                                    .footer {
                                                                                                                                                                                                      padding-top: 40px;
                                                                                                                                                                                                      padding-bottom: 50px; }

                                                                                                                                                                                                      .footer-block .title {
                                                                                                                                                                                                        padding-bottom: 15px;
                                                                                                                                                                                                        color: #05386d; }
                                                                                                                                                                                                        .footer-block .foot-linkers li {
                                                                                                                                                                                                          font-size: 16px;
                                                                                                                                                                                                          padding-bottom: 10px;
                                                                                                                                                                                                          color: #3d3d3d; }
                                                                                                                                                                                                          .footer-block .foot-linkers li a {
                                                                                                                                                                                                            font-size: 16px;
                                                                                                                                                                                                            color: #3d3d3d; }
                                                                                                                                                                                                            .footer-block .foot-linkers li a:hover {
                                                                                                                                                                                                              border-bottom: 2px solid #05386d;
                                                                                                                                                                                                              transition: .3s ease-in-out;
                                                                                                                                                                                                              font-weight: 500;
                                                                                                                                                                                                              color: #05386d; }

                                                                                                                                                                                                              .social-media {
                                                                                                                                                                                                                z-index: 5;
                                                                                                                                                                                                                right: -158px;
                                                                                                                                                                                                                width: 208px;
                                                                                                                                                                                                                padding: 10px 0px 5px 0px;
                                                                                                                                                                                                                position: fixed;
                                                                                                                                                                                                                background: #05386d;
                                                                                                                                                                                                                top: 20%; }
                                                                                                                                                                                                                .social-media .social-linkers li {
                                                                                                                                                                                                                  display: inline-block;
                                                                                                                                                                                                                  width: 100%;
                                                                                                                                                                                                                  padding: 10px 5px;
                                                                                                                                                                                                                  margin-bottom: 0;
                                                                                                                                                                                                                  transition: all 0.3s ease-in-out;
                                                                                                                                                                                                                  -webkit-transition: all 0.3s ease-in-out; }
                                                                                                                                                                                                                  .social-media .social-linkers li .fa {
                                                                                                                                                                                                                    font-size: 28px;
                                                                                                                                                                                                                    color: #fff; }
                                                                                                                                                                                                                    .social-media .social-linkers li div:first-of-type {
                                                                                                                                                                                                                      width: 45px;
                                                                                                                                                                                                                      text-align: center;
                                                                                                                                                                                                                      margin-right: 8px;
                                                                                                                                                                                                                      float: left; }
                                                                                                                                                                                                                      .social-media .social-linkers li div:nth-of-type(2) {
                                                                                                                                                                                                                        font-size: 16px;
                                                                                                                                                                                                                        font-weight: 400;
                                                                                                                                                                                                                        color: #fff;
                                                                                                                                                                                                                        padding-top: 5px; }

                                                                                                                                                                                                                        .social-media:hover {
                                                                                                                                                                                                                          opacity: 1;
                                                                                                                                                                                                                          /*right: 0;*/
                                                                                                                                                                                                                          transition: all 0.3s ease-in-out;
                                                                                                                                                                                                                          -webkit-transition: all 0.3s ease-in-out; }
                                                                                                                                                                                                                          .social-media:hover .social-linkers li {
                                                                                                                                                                                                                            transition: all 0.3s ease-in-out;
                                                                                                                                                                                                                            -webkit-transition: all 0.3s ease-in-out; }

                                                                                                                                                                                                                            .navbar-button {
                                                                                                                                                                                                                              position: absolute;
                                                                                                                                                                                                                              right: 0px;
                                                                                                                                                                                                                              background: transparent;
                                                                                                                                                                                                                              border: 0;
                                                                                                                                                                                                                              padding: 35px 0px 20px 20px;
                                                                                                                                                                                                                              cursor: pointer;
                                                                                                                                                                                                                              display: none; }
                                                                                                                                                                                                                              .navbar-button .icon-bar {
                                                                                                                                                                                                                                background: #fff;
                                                                                                                                                                                                                                width: 50px;
                                                                                                                                                                                                                                height: 5px;
                                                                                                                                                                                                                                display: block;
                                                                                                                                                                                                                                margin-bottom: 5px; }

                                                                                                                                                                                                                                .ease {
                                                                                                                                                                                                                                  transition: .3s all ease-in-out; }

                                                                                                                                                                                                                                  .ease.active {
                                                                                                                                                                                                                                    text-align: center;
                                                                                                                                                                                                                                    transition: .3s all ease-in-out;
                                                                                                                                                                                                                                    display: block;

                                                                                                                                                                                                                                    background: #05386d;
                                                                                                                                                                                                                                    opacity: 1;
                                                                                                                                                                                                                                    position: absolute;
                                                                                                                                                                                                                                    right: 0;
                                                                                                                                                                                                                                    width: 50%;
                                                                                                                                                                                                                                    top: 60%;
                                                                                                                                                                                                                                    height: 250px;
                                                                                                                                                                                                                                    z-index: 1; }
                                                                                                                                                                                                                                    .ease.active ul li {
                                                                                                                                                                                                                                      display: block;
                                                                                                                                                                                                                                      padding: 10px; }


                                                                                                                                                                                                                                      /***********added pages**********/

                                                                                                                                                                                                                                      .inside-custom-container .right-block {
                                                                                                                                                                                                                                        padding-right: 0px; }
                                                                                                                                                                                                                                        .compress-content table thead tr th {
                                                                                                                                                                                                                                          padding: 15px 0; }
                                                                                                                                                                                                                                          .compress-content table tbody tr td {
                                                                                                                                                                                                                                            padding: 15px 0; }

                                                                                                                                                                                                                                            .inside-custom-container .buttons:hover a {
                                                                                                                                                                                                                                              color: #fff;
                                                                                                                                                                                                                                              border: 1px solid #0088cc;
                                                                                                                                                                                                                                              background: #0088cc;
                                                                                                                                                                                                                                            }

                                                                                                                                                                                                                                            .three-block-content .buttons a{
                                                                                                                                                                                                                                             border: 2px solid #0088cc;
                                                                                                                                                                                                                                           }


                                                                                                                                                                                                                                           .three-block-content .buttons:hover a{
                                                                                                                                                                                                                                            color: #fff;
                                                                                                                                                                                                                                            background: #0088cc;
                                                                                                                                                                                                                                          }


                                                                                                                                                                                                                                          .inside-custom-container{
                                                                                                                                                                                                                                            width: 1500px;
                                                                                                                                                                                                                                            margin: auto;
                                                                                                                                                                                                                                            padding: 50px;
                                                                                                                                                                                                                                          }
                                                                                                                                                                                                                                          .about-schedule p{
                                                                                                                                                                                                                                            color: #3d3d3d;
                                                                                                                                                                                                                                          }
                                                                                                                                                                                                                                          .added-margin{
                                                                                                                                                                                                                                            margin-bottom: 20px;
                                                                                                                                                                                                                                          }
                                                                                                                                                                                                                                          .top-margin{
                                                                                                                                                                                                                                            margin-top: 30px;
                                                                                                                                                                                                                                          }
                                                                                                                                                                                                                                          .blog-video iframe, .compress-content iframe{
                                                                                                                                                                                                                                            width: 100%;
                                                                                                                                                                                                                                          }
                                                                                                                                                                                                                                          .drop-menu {
                                                                                                                                                                                                                                            position: relative; }
                                                                                                                                                                                                                                            .drop-menu .sub-menu {
                                                                                                                                                                                                                                              text-align: left;
                                                                                                                                                                                                                                              position: absolute;
                                                                                                                                                                                                                                              width: 250px;
                                                                                                                                                                                                                                              padding: 10px;
                                                                                                                                                                                                                                              z-index: 1;
                                                                                                                                                                                                                                              background: #fff;
                                                                                                                                                                                                                                              transition: all .5s ease-in-out;
                                                                                                                                                                                                                                              display: none;
                                                                                                                                                                                                                                              text-align: left; }
                                                                                                                                                                                                                                              .drop-menu .sub-menu li {
                                                                                                                                                                                                                                                padding-bottom: 10px;
                                                                                                                                                                                                                                                width: 100%;
                                                                                                                                                                                                                                                margin-right: 0px; }
                                                                                                                                                                                                                                                .drop-menu .sub-menu li a {
                                                                                                                                                                                                                                                  padding: 0px;
                                                                                                                                                                                                                                                  font-size: 16px; }
                                                                                                                                                                                                                                                  .drop-menu .sub-menu li:last-of-type {
                                                                                                                                                                                                                                                    padding-bottom: 0px; }

                                                                                                                                                                                                                                                    .drop-menu:hover .sub-menu {
                                                                                                                                                                                                                                                      transition: all .5s ease-in-out;
                                                                                                                                                                                                                                                      display: block; }


                                                                                                                                                                                                                                                      /*# sourceMappingURL=styles.css.map */


/*
    new pages css
    =====================================================*/
    .header-wrapper{
      background: #f8f8f8;
    }
    .footer-wrapper{
      background: #f8f8f8;
    }
/*
    inside-blog page css
 =====================================================*/

    .blog-block{
        margin-bottom: 30px;
    }
    .blog-image-content{
        margin-bottom: 30px;

    }
    .blog-image-content{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .blog-image-content img{
        height: 400px;
        width: 100%;
    }
    .blog-image-content .trend-bg{
        height: 400px;
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .fixed-content .fixed-title, .like-title{
        margin-bottom: 30px;
    }
    .fixed-content .fixed-title h3, .like-title h3{
        color: #0e386a;
        font-size: 30px;
        font-weight: 300;
    }
    .trending, .similar{
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }
    .trending:last-of-type, .similar:last-of-type{
        margin-bottom: 10px;
    }
    .trending-content .image, .similar-content .image, .other-blog .image{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .trending-content .image:hover,  .similar-content .image:hover, .other-blog .image:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .trending-content img, .similar-content img{
        width: 100%;
    }
    .trending-content .about-trends .date, .similar-content .about-similar .date{
        color: #0e386a;
        font-weight: 500;
        font-size: 16px;
    }
    .trend-bg .subscribe-button{
        position: absolute;
        background: #b90806;
        padding: 10px 20px;
    }
    .trend-bg .subscribe-button .sub a{
        color: #fff;
    }
    .lines{
        border-top: 2px solid #6c6c6c;
    }
    .other-blog .image{
        margin-bottom: 20px;
    }
    .other-blog img{
        width: 100%;
    }
    .reply-form{
        padding-top: 30px;
    }
    .reply-form form label{
        font-weight: 400;
        font-size: 18px;
    }
    .reply-form form .form-control{
        border-radius:0px;
    }
    .reply-form form .post-btn label{
        padding: 10px;
    }
    .reply-form form .btn-primary{
        padding: 8px 25px;
        background: transparent;
        color: #6c6c6c;
        border-radius: 0;
        border: 1px solid #0088cc;
        transition: all .3s ease-in-out;
    }
    .reply-form form .btn-primary:hover{
        border: 1px solid #0088cc;
        background: #0088cc;
        color: #fff;
        transition: all .3s ease-in-out;
    }


    /*
    GPS trial login inside page
     =======================================*/

    .accordion-form .login-title, #accordion .panel-title{
        padding: 25px;
        font-size: 28px;
        background: #05386d;
        color: #fff;
    }

    .accordion-form button:hover{
        background: #05386d;
    }
    .accordion:after{
        color: #fff !important;
        font-size: 30px;
    }
    .accordion-form .togglebg{
        background: #6a97ca;
        margin: 0px;
        border-radius: 0px;
    }
    .accordion-form .panel p{
        color: #fff;
        padding: 30px;
    }
    .colored-background .right-block .login-title{
        background: #dce0df;
    }
    .colored-background .right-block .login-title{
        padding: 25px;
        font-size: 28px;
        color: #05386d;
    }
    .right-block .panel form{
        padding: 30px;
    }
    .right-block form label{
        font-weight: 400;
        font-size: 16px;
    }
    .right-block form .form-control{
        border-radius: 0px;
    }
    .right-block .accordion:after{
        color: #05386d !important;
    }

/*
 new form
==============================*/

.panel-group .panel{
  border-radius: 0px;
}
#accordion .panel-heading{
    padding: 0px;
    border-radius: 0px;
}
#accordion .panel-title{
    padding: 25px;
    font-size: 28px;
    background: #05386d;
}
.right-block #accordion .panel-title{
   
    background: #dce0df;
}
#accordion .panel-title a span{
    color: #fff;
}
.right-block #accordion .panel-title a span{
  color: #6c6c6c;
}
#accordion #status-panel .panel-body{
    background: #6a97ca;
    margin: 0px;
    border-radius: 0px;
}
#accordion #status-panel .panel-body p{
    color: #fff;
    padding: 30px;
}
#accordion .panel-group .panel{
    border-radius: 0px;
}
#accordion .panel-group{
    margin-bottom: 0px;
}
.colored-background #accordion .form{
    padding: 15px 20px;
}



/*
    new pages css ends
 =====================================================*/

/*
calculator css
 =======================================*/
.calculator-block{
    width: 100%;
}
.calculator{
        height: auto;
    width: 65%;
    background: silver;
    padding: 30px;
    float: left;
    margin-left: 20%;
}
/*
    new pages css ends
 =====================================================*/


/*# sourceMappingURL=styles.css.map */
