<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="right-block">
            <div class="panel-group" id="spouse_accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="#spouse_information" data-toggle="collapse" data-parent="#accordion">
                                <span>Information</span>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse" id="spouse_information">
                        <div class="panel-body">
                           <form data-request = "spouseinformation::onSave">
                            <div class="row">
                                <div class=" col-md-6 form-group">
                                    <input type="text" class="form-control" name = "spouse_name" id="spouse_name" placeholder="Fullname">
                                </div>
                                <div class=" col-md-6 form-group">
                                    <input type="date" class="form-control" name = "spouse_dob" id="spouse_dob" placeholder="Date of Birth">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="spouse_email" id="spouse_email" placeholder="Your E-mail Address">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" name="spouse_mobile_no" id="spouse_mobile_no" placeholder="Mobile No.">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 ">
                                    <input type="text" class="form-control" name="spouse_second_no" id="spouse_second_no" placeholder="Home / Work">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#spouse_card" data-toggle="collapse" data-parent="#card">
                            <span>Revolving Accounts(Credit Cards)</span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="spouse_card">
                    <div class="panel-body">
                       <form data-request = "spouseinformation::onSave_revolving">
                           <div class="available-for-clone">
                            <div class="add-btn-more clone-me col-md-12" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>What is the balance on the account? </label>
                                    <input type="text" class="form-control" name = "spouse_rev_account_balance[]">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>What is the interest rate? </label> 
                                    <input type="text" class="form-control" name = "spouse_rev_interest_rate[]">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>What is the minimum payment? </label>
                                    <input type="text" class="form-control" name = "spouse_rev_minimum_payment[]">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>How much do you actually pay? </label>
                                    <input type="text" class="form-control" name = "spouse_rev_actual_pay[]">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>What is the due date? </label>
                                    <select name= "rev_due_date[]" class="form-control" class="form-control">
                                        <option>--select--</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                        <option>26</option>
                                        <option>27</option>
                                        <option>28</option>
                                        <option>29</option>
                                        <option>30</option>
                                        <option>31</option>
                                        <option>32</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">

                    <a href="#spouse_installment" data-toggle="collapse" data-parent="#accordion">
                        <span>Installment Section</span>
                    </a>
                </h3>
            </div>
            <div class="panel-collapse collapse" id="spouse_installment">
                <div class="panel-body">
                   <form data-request = "spouseinformation::onSave_installment">

                    <div class="available-for-clone">
                        <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                        <div class="row">
                            <div class="col-md-6 form-group">

                                <label>Installment Accounts</label>
                                <select name="spouse_inst_installment_account[]" id="spouse_installment_id"  class="form-control">
                                    <option>--select--</option>
                                    <option>Car Loan</option>
                                    <option>Student Loan</option>
                                    <option>Time Share</option>
                                    <option>Secured Loan</option>
                                    <option>Others</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>What is the interest rate? </label> 
                                <input type="text" class="form-control" name = "spouse_inst_interest_rate[]">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group" style="display: none" id="spouse_inst_other_installment">
                                <label>Other Name of the Installment Account? </label>
                                <input type="text" class="form-control" name = "spouse_inst_other_installment[]">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>How much is the payment? </label>
                                <input type="text" class="form-control" name = "spouse_inst_payment[]">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>What is the due date? </label>
                                <select name= "inst_due_date[]" class="form-control">

                                    <option>--select--</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                    <option>32</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="#spouse_mortgage" data-toggle="collapse" data-parent="#accordion">
                    <span>Mortgage Section</span>
                </a>
            </h3>
        </div>
        <div class="panel-collapse collapse" id="spouse_mortgage">
            <div class="panel-body">
               <form data-request = "spouseinformation::onSave_mortgage">
                <div class="available-for-clone">
                    <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Mortgage</label>
                            <select name="spouse_mor_mortgage_type[]" class="form-control">
                                <option>--select--</option>
                                <option>First</option>
                                <option>Second</option>
                                <option>HELOC</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>How much is your payment?? </label> 
                            <input type="text" class="form-control" name = "spouse_mor_payment[]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>What is the interest rate?</label> 
                            <input type="text" class="form-control" name = "spouse_mor_interest_rate[]">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>What is the balance? </label> 
                            <input type="text" class="form-control" name = "spouse_mor_balance[]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>What was purchase price? </label>
                            <input type="text" class="form-control" name = "spouse_mor_purchase_price[]">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>What is estimated value? </label>
                            <input type="text" class="form-control" name = "spouse_mor_estimated_value[]">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#spouse_expenses" data-toggle="collapse" data-parent="#accordion">
                <span>Expenses</span>
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse" id="spouse_expenses">
       <form data-request = "spouseinformation::onSave_expenses">
        <div class="panel-body">
           In House expenses
           <div class="row">
            <div class="col-md-4 form-group">
                <label>Groceries</label>
                <input type="text" class="form-control" name = "spouse_inhouse_groceries">
            </div>
            <div class="col-md-4 form-group">
                <label>Cable </label> 
                <input type="text" class="form-control" name = "spouse_inhouse_cable">
            </div>
            <div class="col-md-4 form-group">
                <label>Cellphone </label> 
                <input type="text" class="form-control" name = "spouse_inhouse_cellphone">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label>Utilities</label> 
                <input type="text" class="form-control" name = "spouse_inhouse_utilities">
            </div>
            <div class="col-md-4 form-group">
                <label>Clothes </label>
                <input type="text" class="form-control" name = "spouse_inhouse_clothes">
            </div>
            <div class="col-md-4 form-group">
                <label>Dry cleaning </label>
                <input type="text" class="form-control" name = "spouse_inhouse_dry_cleaning">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label>Entertainment</label> 
                <input type="text" class="form-control" name = "spouse_inhouse_entertainment">
            </div>
            <div class="col-md-4 form-group">
                <label>Emergency </label>
                <input type="text" class="form-control" name = "spouse_inhouse_emergency">
            </div>
        </div>
        <div class="available-for-clone">
            <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Name Of Other Expense</label> 
                    <input type="text" class="form-control" name = "spouse_inhouse_expense_name[]">
                </div>
                <div class="col-md-4 form-group">
                    <label>Expenses </label>
                    <input type="text" class="form-control" name = "spouse_inhouse_other_expenses[]">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label>Total</label> 
                <input type="text" class="form-control" name = "spouse_inhouse_total">
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-4 form-group">
                <label>Personal Grooming</label>
                <input type="text" class="form-control" name = "spouse_overall_grooming">
            </div>
            <div class="col-md-4 form-group">
                <label>Tolls </label> 
                <input type="text" class="form-control" name = "spouse_overall_tolls">
            </div>
            <div class="col-md-4 form-group">
                <label>Eating Out </label> 
                <input type="text" class="form-control" name = "spouse_overall_eating_out">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label>Gas</label> 
                <input type="text" class="form-control" name = "spouse_overall_gas">
            </div>
            <div class="col-md-4 form-group">
                <label>Children Lessons </label>
                <input type="text" class="form-control" name = "spouse_overall_children_lessons">
            </div>
            <div class="col-md-4 form-group">
                <label>Daycare </label>
                <input type="text" class="form-control" name = "spouse_overall_daycare">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label>(Hair,nails,massage)</label> 
                <input type="text" class="form-control" name = "spouse_overall_hair_nails">
            </div>
            <div class="col-md-4 form-group">
                <label>Gym Membership </label>
                <input type="text" class="form-control" name = "spouse_overall_gym">
            </div>
        </div>
        <div class="available-for-clone">
            <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Name Of Other Expense</label> 
                    <input type="text" class="form-control" name = "spouse_overall_expense_name[]">
                </div>
                <div class="col-md-4 form-group">
                    <label>Expenses </label>
                    <input type="text" class="form-control" name = "spouse_overall_other_expenses[]">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label>Total</label> 
                <input type="text" class="form-control" name = "spouse_overall_overall_total">
            </div>
        </div>
        <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
    </form>
</div>
</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#spouse_income" data-toggle="collapse" data-parent="#accordion">
                <span>Income</span>
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse" id="spouse_income">
        <form data-request = "spouseinformation::onSave_income">
            <div class="panel-body">
                <div class="available-for-clone">
                    <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Pay frequency</label>
                            <select name="spouse_inc_pay_frequency[]" class="form-control">
                                <option>--select--</option>
                                <option>Weekly</option>
                                <option>Bi Weekly</option>
                                <option>Bi Monthly</option>
                                <option>Monthly</option>
                                <option>Commisson(Average)</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>What is your net income? (After Taxes) </label> 
                            <input type="text" class="form-control" name = "spouse_inc_net_income[]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Overtime or Bonuses?</label> 
                            <input type="text" class="form-control" name = "spouse_inc_extra_income[]">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Date of next pay day? </label>
                            <select name= "inc_pay_day[]" class="form-control">
                                <option>--select--</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#spouse_bank" data-toggle="collapse" data-parent="#accordion">
                <span>Bank Info</span>
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse" id="spouse_bank">
        <form data-request = "spouseinformation::onSave_bank_info">
            <div class="panel-body">
                <div>
                    (Why Are We Asking?- The financial GPS uses extra money to leverage the fastest path to bypass interest and attack principle. We do not need to know exact figures, and we will never ask for account info. We want to give you the most accurate path to maximize your savings.)
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>How much do you have in your checking account?</label>
                            <input type="text" class="form-control" name = "spouse_bank_checking_account_balance">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>How much do you have in your savings account?</label> 
                            <input type="text" class="form-control" name = "spouse_bank_saving_account_balance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Do you have a 401k account or any pre-tax savings plan?</label> 
                            <select name = "spouse_bank_pretax_saving_plan" class="form-control">
                                <option>--select--</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>If Yes ,How much do you contribute per pay period? </label> 
                            <input type="text" class="form-control" name = "spouse_bank_contribution_per_day">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Do you get a match?</label>
                            <select name = "spouse_bank_get_match" class="form-control">
                                <option>--select--</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>What is your balance? </label>
                            <input type="text" class="form-control" name = "spouse_bank_balance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Did you get a tax refund last year?</label>
                            <select name = "spouse_bank_tax_refund_previous_year" class="form-control">
                                <option>--select--</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>

                        </div>
                        <div class="col-md-6 form-group">
                            <label>How much tax refund last year? </label>
                            <input type="text" class="form-control" name = "spouse_bank_tax_refund_amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>What age do you want to retire and stop working realistically?</label>
                            <input type="text" class="form-control" name = "spouse_bank_retire_age">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Would you be interested to find out how you can get back your mortgage payments?</label>
                            <select name = "spouse_bank_get_back_mortage_payments" class="form-control">
                                <option>--select--</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">

 $(document).on('click', '.clone-me', function(){
    var currentDiv = $(this).parents(".available-for-clone");
    var cloned = currentDiv.clone();

    cloned.removeClass('available-for-clone').addClass('cloned');
    cloned.insertAfter(currentDiv);
    cloned.find('.add-btn-more').removeClass('clone-me').addClass('unclone-me');
    cloned.find('.add-btn-more').html('<img src="{{"assets/images/minus.png"|theme }}" width="30px" style="text-align: right;">');  
});

 $(document).on('click', '.unclone-me', function(){
    $(this).parents('.cloned').remove();
}); 

 $('#installment_id').change(function()
 {
    var value = $(this).val();
    if(value == 'Others')
    {
        $('#inst_other_installment').show();
    }

});
</script>