<p>
    Everyone makes a goal to pay off a 15 or 30 year loan, on average the bank will make 2-3 times profit from lending out the money used for the purchase of your home.
</p>
<p>
    We need to establish a way to pay off the house faster, and instead of keeping your dollars trapped into the house with exchange of having no mortgage payments.
</p>
<p>
    The issue with the Roth outside of what critics will point out, is the fact that the money you receive is linear and can finish if you live too long, same issue with the 401k. There is not a real strategy that is being used by financial experts that are addressing longevity of life and inflation and several other factors.
</p>
<p>
    We want to limit the amount of time to pay off the house, by showing our clients software offered by the HALO Foundation, our nonprofit dedicated to the educational awareness of the retirement crisis, their Financial GPS software
</p>
<p>
    The software has mathematical formulas to solve for the fastest past possible to eliminate debt bypass interest and attack principle. <br><br>The GPS makes it possible to eliminate debt including your mortgage in 8-11 years or even faster. <br><br>This is the fun part, instead of keeping your house paid off which is intuitive for most people, we want refinance the house and move the equity in a place where you would never guess what we are going to use. Before we divulge that information, we want to give you a hint on our structure.
</p>
<figure>
<iframe width="860" height="515" src="https://www.youtube.com/embed/kbyXQ_lJwsI" frameborder="0" allowfullscreen="" style="background-color: initial; margin: 0px; padding: 0px;">
</iframe></figure>
<p>
    Here’s an article that shows one of the most creative deals in Major League Baseball history. It utilized something similar to the CYA <a href="http://abcnews.go.com/Sports/mets-pay-bobby-bonilla-119-million-july/story?id=40273954" target="_blank">Article</a>
</p>
<p>
    If you read the article carefully you’d see in the 2nd paragraph “The deal, which pays out $1.64 million from 2004 to 2033, was obtained through a life insurance company.”
</p>
<p>
    Yes we are using a permanent cash value life insurance policy to be the container for your home equity as you pay off your house.
</p>
<p>
    Traditionally everyone will aim to pay off their house in 30 years, the CYA process in that same period of time will show you how the insurance policy will pay you an income for the rest of your life, you will see on average of 4 years that every single payment that you made to the bank was received from the insurance policy.
</p>
<p>
    While the equity is in the house the money is not earning a rate of return, while the money is in the insurance policy, it can earn compound interest and since this is a long term solution, we repeat this cycle to transplant the equity for the house and in bank’s control to the insurance policy which is in your control.
</p>
<p>
    To get a little more in depth understanding on the type of cash value insurance we are using here’s a full understanding.
</p>
<p>
    Warning….Many Financial Experts frown on using cash value life insurance Suze Orman, Dave Ramsey, countless others…..
</p>
<p>
    Question we have for all these so “Experts” if your advice is so great, then why are we in a retirement crisis? We do not believe we will get too much fanfare by Wall Street people (Securities licensed individuals)
</p>
<p>
    Why is that? First let’s go thru a little history first in 1980 when 401k first went into effect only 13% of Americans owned stock in 1998 over half the country had these stocks….over 2 Trillion dollars’ worth. The Government incentivized its citizens thru tax breaks to invest in the market and the people who sold these plans carried securities licenses.
</p>
<p>
    Here is the full <a href="http://www.dailykos.com/story/2012/9/17/1132891/-The-401k-is-a-Government-Subsidy-for-Wall-Street" target="_blank">Article</a> ,If the general public knew that over a 20-30 year period cash value life insurance has the ability to create a lifelong income then it could create some competition. We believe Wall Street has a place in an investment portfolio but it cannot create a lifelong income stream you have to explore other areas.
</p>
<p>
    Some experts will speak very positive about life insurance as cash value Here’s another financial expert speaking about life insurance
</p>
<figure>
<iframe width="560" height="315" src="https://www.youtube.com/embed/EOJBDm6Kv6M" frameborder="0" allowfullscreen="" style="margin: 0px; padding: 0px;">
</iframe></figure>
<p>
    Lastly, we are using a strategy that the market has never seen before, we have combined the leverage the lump sum dump ins of the expedited pay off of the house, refinancing equity to keep in the insurance policy instead of being dead in the house. Repeating that process, and allowing the equity to earn compound in the insurance policy will grow and when the individual elects typically at retirement age there is a substantial tax free income.<br><br>"To get started and take control of your financial life we will need you to enroll with the GPS and input all your information into the page we can get you an analysis of potential savings,we offer a free 7 day trial for the GPS"
</p>
<figure></figure>