[gpstrial]
==
<style type="text/css">

.panel-group .panel{
  border-radius: 0px;
}
#accordion .panel-heading{
    padding: 0px;
    border-radius: 0px;
}
#accordion .panel-title{
    padding: 15px;
    font-size: 18px;
    background: #05386d;
}
.right-block #accordion .panel-title{

    background: #dce0df;
}
#accordion .panel-title a span{
    color: #fff;
}
.right-block #accordion .panel-title a span{
  color: #6c6c6c;
}
#accordion #status-panel .panel-body{
    background: #6a97ca;
    margin: 0px;
    border-radius: 0px;
}
#accordion #status-panel .panel-body p{
    color: #fff;
    padding: 24px;
}
#accordion .panel-group .panel{
    border-radius: 0px;
}
#accordion .panel-group{
    margin-bottom: 0px;
}
.colored-background #accordion .form{
    padding: 10px 15px;
}
.buttons .sub a{
    color: #000;
}
</style>
<div class="container">
    <section class="fullwidth-image-block">
        <div class="image-block colored-background">
            <div class="custom-container">
                <div class="section-content">
                    <div class="row">
                        <div class="two-block-content">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default login-form">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <a href="#status-panel" data-toggle="collapse" data-parent="#accordion">
                                                    <span>WHY ARE WE ASKING YOU THESE QUESTIONS</span>
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="panel-collapse collapse" id="status-panel">
                                            <div class="panel-body">
                                                <p>The GPS uses all your disposable income after debt calculation to leverage the extra money that we will suggest to use, this is a mathematical formula that if you are accurate will give you the blueprint to eliminate debt and save thousands of dollars that would inevitably would be paid out in interest to the banks.</p>
                                            </div>
                                        </div>
                                        <div class="form">
                                            <div class="form-group">
                                                <label for="status">Please select You are single or Married</label>
                                                <select class="form-control" id="maritial_status">
                                                    <option>Single</option>
                                                    <option>Married</option>
                                                </select>
                                            </div>

                                            <div class="buttons">
                                                <span class="sub"><button class="btn btn-primary btn-md" onclick="show_form()">Confirm</button></span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div id="single_form" style="display: none;">
                                        {% component 'gpstrial' %}
                                    </div>

                                    <div id="married_form" style="display: none;">
                                    <hr/>
                                    <p><h3>Spouse Information</h3></p>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    function show_form()
    {
        var maritial_status = document.getElementById("maritial_status").value;
         if(maritial_status == "Single")
         {
            document.getElementById("single_form").style.display = "block";
            document.getElementById("married_form").style.display = "none";
         }
         else
         {
            document.getElementById("single_form").style.display = "block";
            document.getElementById("married_form").style.display = "block";
         }
    }
</script>