[viewBag]


==
<div class="section bg-grey-light frontpage-4cols" id="4cols">
    <div class="container">
      
        <div class="row cols">
            <div class="col-md-4 col-sm-12">
                <div class="content-icon wow fadeInUp">
                 <a class="icon" >
                        <i class="fa fa-star"></i>
                 </a>
                   {% component 'contenteditor1' %}
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="content-icon wow fadeInUp">
                    <a class="icon" href="#">
                        <i class="fa fa-magic"></i>
                    </a>
                    {% component 'contenteditor2' %}
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="content-icon wow fadeInUp">
                    <a class="icon" href="#">
                        <i class="fa fa-cogs"></i>
                    </a>
                        {% component 'contenteditor3' %}
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">Learn More</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>