[viewBag]


==
<div class="shadow"></div>
<div class="section frontpage-cta parallax-bg" data-parallax="scroll" data-image-src="{{ 'assets/images/samples/full-4.jpg' | theme }}" id="cta2">
    <div class="container wow zoomIn">
        <div class="description">
            <div class="col-md-7">
                {% component 'contenteditor4' %}
            </div>
               <div class="col-md-5">
               </div>
        </div>
    </div>
</div>