[viewBag]


==
<div class="section frontpage-content bg-white" id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                 <h2 class="block-title wow zoomIn">{% component 'home_middle' %}</h2>
                    <div class="wow fadeInUp description">                      
                        <p>                            
                            <a class="btn btn-primary-custom btn-margin-top" href="{{ 'login' | page }}">Find Out More</a>
                        </p>                        
                    </div>
                </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <p class="no-margin">
                    {% component 'home_middle_video' %}
                </p>
            </div>
        </div>
    </div>
</div>