<div class="contact-form">
    <h3>CONTACT US</h3>
    <form id="contact-form"
    data-request="{{ contactForm }}::onMailSend"
    data-request-update="'{{ contactForm }}::confirm': '.confirm-contact-container'"
    {% if contactForm.enableFileUpload %}
    data-request-files
    {% endif %}
    >
    <div class="form-group">
        <label for="name">
            {{label.name}}
        </label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">
            {{label.email}}
        </label>
        <input type="text" name="email" class="form-control">
    </div>
    {% if contactForm.enableFileUpload %}
    <div class="form-group">
        <label for="attachment">{{label.attachment}}</label>
        <input type="file" name="attachment" class="form-control">
    </div>
    {% endif %}
    <div class="form-group">
        <label for="message">
            {{label.message}}
        </label>
        <textarea rows="5" name="message_content" class="form-control"></textarea>
    </div>
    {% if contactForm.enableCaptcha %}
    <div class="form-group">
        <label for="g-recaptcha">
            {{label.captcha}}
        </label>
        <div class="g-recaptcha" data-sitekey="{{ contactForm.captchaSiteKey }}"></div>
    </div>
    {% endif %}
    {% if contactForm.mailgunSubscribeExist %}
    <div class="form-group">
        <div class="checkbox">
            <label><input type="checkbox" name="maillist_subscribe" checked>{{label.maillist}}</label>
            <input type="hidden" name="confirm_subscribe" value="true">
        </div>
    </div>
    {% endif %}
    <button class="btn btn-primary btn-lg pull-right mt-4">
        {{label.button_text}}
    </button>
</form>
</div>