/*
Theme Name: Vega
Theme URI: https://www.lyrathemes.com/vega/
Author: Lyra Themes
Author URI: https://www.lyrathemes.com/
Description: Vega is a clean, minimal, responsive one page business theme. This simple theme can be used for a personal blog , business website, landing page, business portfolio, or any other creative website. Using Vega to create your new website will be a fast and easy experience, without getting overwhelmed with needless settings and choices. This multipurpose theme is built on the Bootstrap framework making it fully responsive and mobile friendly. This one page theme can also be used to set up a single page (one page) website. It has animated content, three pre-built color choices (orange, blue, and green), text and image logo options, full screen image banner, multiple home page displays, multiple blog feed displays, and custom CSS options. The one page home page displays the banner, welcome content, featured pages, two call to action rows with an optional parallax background effect, recent posts, and an open content row. Vega has been tested with WooCommerce and has basic WooCommerce support/integration. This simple business theme can also be used to create multilanguage websites (tested using qTranslateX). Backed by world class, one-on-one support, Vega is featured-packed yet simple enough to be used to create almost any kind of website.
Version: 2.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: vega
Domain Path: /languages/
Tags: one-column, two-columns, right-sidebar, grid-layout, flexible-header, custom-header, custom-colors, custom-menu, featured-image-header, featured-images, footer-widgets, full-width-template, theme-options, translation-ready, blog, news, portfolio
*/


/*
- Headings
- Special Headings
- Links
- Background Colors for Sections
- Custom Icons
- Buttons
- Helper
- Forms
- Search Form
- Images and Thumbnails
- Video Embed
- Structure
- Header Navigation
- Top Navigation
- Page Banner 
- Image Banner
- Blog Feed
- Pagination
- Post
- Page
- Widgets
- Tag Cloud Widget
- Icon List
- Front Page - Content 
- Front Page - Featured Icons / 4 Columns with Icons
- Front Page - CTA 
- Front Page - Open Content 
- Front Page - Recent Posts
- 404 Page
- Comments
- Footer
- Footer Widgets
- Footer Nav
- Back to Top
- Jetpack
- Wordpress Core
- qTranslateX
- Media Queries
*/

body{ font-family: 'Lato', sans-serif; font-size:14px; line-height:24px; color:#212121; }

/* Headings
------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6{ font-family: 'Lato', sans-serif; line-height:1.36; font-weight:600;}
h1{ font-size:38px; }
h2{ font-size:36px; }
h3{ font-size:26px; }
h4{ font-size:18px; }
h5{ font-size:16px; }
h6{ font-size:16px; }

/* Special Headings
------------------------------------------------------------------------*/

.block-title{ font-family:'Lato', sans-serif; font-weight:bold; margin:0 0 25px; /* text-transform:uppercase; */ position:relative; text-align:center; line-height:1.2; padding-bottom:10px; color:#3f3f3f; }
.block-title:after{ content:""; height:0px; width:50px; position:absolute; bottom:-2px; left:50%; margin-left:-25px; border-bottom:1px solid #F55145; }
.block-title a{ color:inherit; }
.block-title.block-title-left {text-align:left;}
.block-title.block-title-left:after{ left:0; margin-left:0; }
.page-content .block-title{ margin: 0 0 10px; }
.home .block-title{font-weight:900}

/* Links
------------------------------------------------------------------------*/

a{ color:#F55145; }
a:hover,
a:focus{ color:#DC483E;}
button:focus,input:focus,img:focus, a:focus {outline:0;}
a.more-link { color: #333; text-transform: uppercase;}

/* Background Colors for Sections
------------------------------------------------------------------------*/

.bg-white{ background-color:#fff }
.bg-dark{ background-color:#4D4C4C; color:#fff; }
.bg-primary{ background-color:#F55145; color:#fff; }
.bg-grey-light{ background-color:#F4F4F4; } 
.bg-grey-light-2{ background-color:#fafafa; }
.bg-grey-light-3{ background-color:#fcfcfc; }
.bg-smoke{ background-color:#F5F5F5; }
.bg-footer{background-color:#efefef;}



/* Custom Icons
------------------------------------------------------------------------*/

.ic{ display:inline-block; background-repeat:no-repeat; background-position:center center; vertical-align:middle }
.ic-angle-up-white{ width:19px; height:11px; background-image:url(assets/img/ico_arrow_ud_white.png); background-position:0 0; }
.ic-angle-left{ width:11px; height:19px; background-image:url(assets/img/ico_arrow_lr_black.png); background-position:0 0; }
.ic-angle-left-white{ width:11px; height:19px; background-image:url(assets/img/ico_arrow_lr_white.png); background-position:0 0; }
.ic-angle-right{ width:11px; height:19px; background-image:url(assets/img/ico_arrow_lr_black.png); background-position:right 0; }
.ic-angle-right-white{ width:11px; height:19px; background-image:url(assets/img/ico_arrow_lr_white.png); background-position:right 0; }
.ic-angle-up{ width:19px; height:11px; background-image:url(assets/img/ico_arrow_ud_black.png); background-position:0 0; }
.ic-angle-down{ width:19px; height:11px; background-image:url(assets/img/ico_arrow_ud_black.png); background-position:0 bottom; }
.ic-angle-down-white{ width:19px; height:11px; background-image:url(assets/img/ico_arrow_ud_white.png); background-position:0 bottom; }

/* Buttons
------------------------------------------------------------------------*/

.btn{ font-family: 'Lato', sans-serif; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; font-size:13px; padding:12px 20px; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; }
.btn .fa{ font-size:14px; margin-right:5px; color:#9d9d9d; }

.btn-inverse{ background-color:#3f3f3f; color:#fff; }
.btn-inverse:focus,
.btn-inverse:hover{ background-color:#292929; color:#fff; }

.btn.btn-social-icon{ padding:0; }
.btn.btn-social-icon .fa{ color:#fff; }

.btn-primary-custom{ background-color:#F55145; border-color:#F55145; color:#fff; }
.btn-primary-custom{ background-color:#F55145; color:#fff; }
.btn-primary-custom:focus,
.btn-primary-custom:hover{ background-color:#DC483E; color:#fff; }

.btn.btn-margin-top{margin-top:20px;}
.btn.btn-margin-bottom{margin-bottom:10px;}

/* Helper
------------------------------------------------------------------------*/

.light{ font-weight:300; }
.spacer{ clear:both; width:100%; }
.shadow{ z-index:1; -webkit-box-shadow:0 -11px 49px rgba(121,121,121,0.35); -moz-box-shadow:0 -11px 49px rgba(121,121,121,0.35); box-shadow:0 -11px 49px rgba(121,121,121,0.35); }
.helper{ display:inline-block; width:0; height:100%; vertical-align:middle; }
.separator{ clear:both; position:relative; }
.center{ text-align:center !important; }
.large{ font-size: 180px; line-height: 200px; padding-bottom: 20px; color: #777; }
.clearfix:after { content: ""; display: table; clear: both; }

/* Forms
------------------------------------------------------------------------*/

.form-control{ border-radius:0; height:40px; border-color:#aeaeae; }
.form-control:focus { border-color: #F55145; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(249, 98, 56, 0.6); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(249, 98, 56, 0.6); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(249, 98, 56, 0.6); outline: 0 none; }
.form-control::-webkit-placeholder{ color:#3e3e3e }
.form-control::-moz-placeholder{ color:#3e3e3e }
.form-control::placeholder{ color:#3e3e3e }
.input-sm{ height:32px; }
.input-lg{ height:54px; }
textarea.input-lg{ height:auto; }
.input-group-addon{ border-color:#aeaeae; }
.input-group-btn > .btn { padding-bottom:10px; padding-top:9.5px; position:relative; }

/* Search Form
------------------------------------------------------------------------*/
.search-form{ position:relative }
.search-form .form-control{ border:0; padding-right:50px; -webkit-box-shadow:0 0 9px #bdbdbd inset; -moz-box-shadow:0 0 9px #bdbdbd inset; box-shadow:0 0 9px #bdbdbd inset; }
.search-form .btn{ width:45px; position:absolute; right:0; top:0; height:100%; padding:0 }

/* Images and Thumbnails
------------------------------------------------------------------------*/
.img-responsive.center{ margin-left:auto; margin-right:auto; }
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail { max-width: 100%; height: auto; }

/* Video Embed
------------------------------------------------------------------------*/

.iframe-video {position: relative; padding-bottom: 65%; height: 0; overflow: hidden;}
.iframe-video iframe {position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; }

/* Structure
------------------------------------------------------------------------*/

.section{ position:relative; padding:55px 0 35px; /*65*/ }


/* Header Navigation 
------------------------------------------------------------------------*/

.header{background-color:#F55145;}
.header .social-menu{float:right}	

.header-left{padding-left:0px;}

.top-menu{list-style:none;margin:0;padding:0;}
.top-menu:after{content:"";display:table;clear:both}
.top-menu>li{float:left;padding:0;margin:0}
.top-menu>li>a{padding:6px 12px;color:#fff;display:block;font-size:12px;text-decoration:none;line-height:22px}

.top-menu>li>a:focus,
.top-menu>li>a:hover{color:#000;text-decoration:none}

.social-menu{list-style:none;margin:0;padding:0}
.social-menu li{display:inline-block;}
.social-menu li:last-child{margin-right:0}
.social-menu li a{color:#fff}
.social-menu>li>a:focus,.social-menu>li>a:hover{color:#000;text-decoration:none}

.top-menu.social-menu>li>a{position:relative;overflow:hidden;width:42px;padding-left:0;padding-right:0;white-space:nowrap}
.top-menu.social-menu>li>a:before{width:42px;text-align:center;display:inline-block}

.social-menu a:before{font-family:'FontAwesome';}
.menu-social-container .menu a[href*="facebook.com"]:before,
.social-menu a[href*="facebook.com"]:before{content: "\f09a";}
.menu-social-container .menu a[href*="twitter.com"]:before,
.social-menu a[href*="twitter.com"]:before{content: "\f099";}
.menu-social-container .menu a[href*="instagram.com"]:before,
.social-menu a[href*="instagram.com"]:before{content: "\f16d";}
.menu-social-container .menu a[href*="pinterest.com"]:before,
.social-menu a[href*="pinterest.com"]:before{content: "\f231";}
.menu-social-container .menu a[href*="wordpress.com"]:before,
.social-menu a[href*="wordpress.com"]:before{content: "\f19a";}
.menu-social-container .menu a[href*="linkedin.com"]:before,
.social-menu a[href*="linkedin.com"]:before{content: "\f0e1";}
.menu-social-container .menu a[href*="youtube.com"]:before,
.social-menu a[href*="youtube.com"]:before{content: "\f16a";}
.menu-social-container .menu a[href*="plus.google.com"]:before,
.social-menu a[href*="plus.google.com"]:before{content: "\f0d5";}
.menu-social-container .menu a[href*="mailto"]:before,
.social-menu a[href*="mailto"]:before{content: "\f0e0";}
.menu-social-container .menu a[href*="rss"]:before,
.social-menu a[href*="rss"]:before{content: "\f09e";}

.header-toggle{display:none;text-align:center;background-color:#f3f3f3;cursor:pointer;font-size:16px;}
.header-toggle.open,
.header-toggle:hover{background-color:#545454;color:#fff;}



/* Top Navigation
------------------------------------------------------------------------*/

.navbar-custom{ min-height:90px; margin:0; border:0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; background-color:#fff; -webkit-box-shadow:0 0 5px rgba(0,0,0,0.2); -moz-box-shadow:0 0 5px rgba(0,0,0,0.2); box-shadow:0 0 5px rgba(0,0,0,0.2); }

.navbar-custom .navbar-brand{ line-height:36px; padding-top:26px; padding-bottom:17px; height:70px; }
a.navbar-brand.text-logo { text-transform: uppercase; font-weight: 900; font-size:30px; color:#010101;}


.navbar-custom .navbar-nav > li > a{ font-family:'Lato', sans-serif; font-size:12px; font-weight:bold; font-weight:600; padding: 25px 12px; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; text-transform: uppercase; color:#010101; }
.navbar-custom .navbar-nav > li > a { line-height: 40px;}
.navbar-custom .navbar-nav{ position:relative }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover { color:#F55145 !important; background-color: transparent; }

.navbar-custom .nav > li > a:hover,
.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > .current > a,
.navbar-custom .nav > .active > a,
.navbar-custom .nav > .current-menu-ancestor > a,
.navbar-custom .nav > .open > a{ background-color:transparent; color:#F55145; }

.navbar-custom .nav > .page-scroll > a{color:#010101 !important;}
.navbar-custom .nav > .page-scroll > a:hover,
.navbar-custom .nav > .page-scroll > a.showing{color:#F55145 !important;}

.navbar-custom ul .sub-arrow{ display:none }
.navbar-custom ul .dropdown-menu .sub-arrow{display:inline-block;font-weight:700;line-height:1;margin-left:10px;overflow:hidden;text-indent:-10px; vertical-align:middle;}
.navbar-custom ul .dropdown-menu .sub-arrow:after{font-family:'FontAwesome';content:"\f105";padding:0 2px;}

.navbar-custom span.scroll-up, 
.navbar-nav magnet.scroll-down{ position:absolute; display:none; visibility:hidden; height:20px; overflow:hidden; text-align:center; }
.navbar-custom span.scroll-up-arrow, 
.navbar-custom span.scroll-down-arrow{ position:absolute; top:-2px; left:50%; margin-left:-8px; width:0; height:0; overflow:hidden; border-top:7px dashed transparent; border-right:7px dashed transparent; border-bottom:7px solid; border-left:7px dashed transparent; }
.navbar-custom span.scroll-down-arrow{ top:6px; border-top:7px solid; border-right:7px dashed transparent; border-bottom:7px dashed transparent; border-left:7px dashed transparent; }
.navbar-custom ul.sm-nowrap > li > a{ white-space:nowrap; }

.navbar-nav .collapsible ul{ display:none; position:static !important; top:auto !important; left:auto !important; margin-left:0 !important; margin-top:0 !important; width:auto !important; min-width:0 !important; max-width:none !important; }
.navbar-nav .collapsible ul.sm-nowrap > li > a{ white-space:normal;}

.navbar-nav .dropdown-menu{ left:0; right:auto; min-width:175px !important; padding:10px 0; -webkit-border-radius:3px !important; -moz-border-radius:3px !important; border-radius:3px !important; border:0; margin-top:-2px !important; margin-left:0 !important; border-top:2px solid #F55145; }
.navbar-nav .dropdown-menu .dropdown-menu{ left:100% !important; top:-10px !important; }
.navbar-custom .dropdown-menu > li > a{ white-space:normal; font-size:13px; font-family:'Lato', sans-serif; padding:10px 15px; position:relative; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; color:#5c5c5c; font-weight:bold;font-weight:500; letter-spacing:0.5px }
.navbar-custom .dropdown-menu .dropdown-menu > li > a{ color:#999999; }
.navbar-custom .dropdown-menu > li > a .fa{ position:absolute; top:8px; right:20px; line-height:20px; font-size:16px }
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li:hover > a,
.navbar-custom .dropdown-menu > .open > a{ background:transparent; color:#F55145; }

.navbar-toggle{ font-size:22px; margin-bottom:8px; margin-top:24px; margin-right:5px; color:#585858; }

@media (min-width:768px){
    .nav-wrapper{height:90px;}
}
.navbar-fixed-top .navbar-collapse{
   padding-right:15px;
   padding-left:30px;
}

/* fix for smartmenu */
.navbar-nav > li .scroll-up, .navbar-nav > li .scroll-down{display:none !important}

/* Page Banner 
------------------------------------------------------------------------*/

.jumbotron{ background:url(assets/img/bg_slide.png) repeat 0 0 #ebebea; margin:0; padding:80px 0 80px; line-height:26px; }
/* .jumbotron.parallax-bg { background: none !important;} */

/* .home .jumbotron{ background:url(assets/img/bg_slide.png) repeat 0 0 #ebebea; margin:0; padding:180px 0 160px; line-height:26px; } */
.jumbotron p{ font-size:22px; font-weight:400; }
.jumbotron .description{ font-size:22px; font-weight:400; }
.jumbotron p span{ padding:10px; display:inline-block; background-color:#F55145; }
.jumbotron .block-title{ margin-bottom:30px; }
.jumbotron h1,
.jumbotron h2{ font-size:28px; }

.jumbotron.banner-none{padding:50px 0 40px;}

/* Image Banner
------------------------------------------------------------------------*/

.frontpage-banner.image-banner{ position:relative; overflow:hidden; color:#fff; }
.frontpage-banner.image-banner.banner-featured-image { padding:200px 0 180px;  }
.frontpage-banner.image-banner.banner-custom-header { padding:200px 0 180px;  }
.frontpage-banner.banner-none { padding-top: 60px; padding-bottom: 50px;  }
.frontpage-banner.image-banner .container{ z-index:3; position:relative }
.frontpage-banner.image-banner p{ font-size:20px; font-weight:bold; margin-bottom:20px; }
.frontpage-banner.image-banner .description{ font-size:20px; font-weight:bold; }

.frontpage-banner.image-banner.full-screen .container{ min-height:200px; height:100%; text-align:center }
.frontpage-banner.image-banner.full-screen .inner{ display:inline-block; vertical-align:middle; }
.frontpage-banner.image-banner.full-screen p{ font-size:20px; font-weight:bold; }
.frontpage-banner.image-banner.frontpage-banner .block-title{ font-size:36px; font-weight:900;  }

/* .home .jumbotron.parallax-bg { background: none !important; } */
.frontpage-banner.frontpage-banner-parallax-bg{ margin:0; padding:180px 0 160px; line-height:26px; } 
.frontpage-banner.frontpage-banner-parallax-bg:before { width: 100%; height: 100%; background-color: #000; opacity: 0.35; content: ""; position: absolute; left: 0; top: 0; z-index: 2; }

.image-banner .block-title{ color:#fff; }

/* Blog Feed
------------------------------------------------------------------------*/

.no-results { font-size: 24px; color:#666; }

.blog-feed .entry{ clear:both; padding-bottom:10px; margin-bottom:60px;}

.blog-feed .entry .entry-image-left{ margin-bottom:30px; position:relative; overflow:hidden; display:block; max-width:100%; width: 300px; float: left; }
.blog-feed .entry .entry-image-left img{ width:300px; float:left; height:auto;}

.blog-feed .entry .entry-image-top{ margin-bottom:20px; }
.blog-feed .entry .entry-image-top img{ max-width:99%; height:auto; }

.blog-feed .entry .entry-image-two-col img{ height:auto; width:100%; }

.blog-feed .entry h3{ margin:0 0 20px; line-height:1.2; }
.blog-feed .entry h3 a{ color:inherit; }

.blog-feed .entry .entry-content-right{ position:relative; padding-bottom:15px; margin-bottom:10px; margin-left:315px; padding-right:10px; text-align:justify; }
.blog-feed .entry .entry-content-right p:last-child{ margin-bottom:0; }
.blog-feed .entry .entry-content-right:after{ height:0; position:absolute; bottom:0; left:0; width:50px; content:""; border-bottom:1px solid #F55145; }

.blog-feed .entry .entry-meta{  font-family:'Lato', sans-serif; font-weight:600; font-size:12px; margin-bottom:15px; }
.blog-feed .entry .entry-meta-right{ margin-left: 315px; }
.blog-feed .entry .entry-meta a{ font-weight:600; color:inherit; }
.blog-feed .entry .entry-meta .sep{ margin:0 5px; }
.blog-feed .entry .entry-meta label{ font-weight:600; margin-bottom:0; margin-right:10px; }

.blog-feed .entry .entry-buttons-right{ margin-left: 315px;}
.blog-feed .entry .entry-buttons .btn{ min-width:125px; padding-left:5px; padding-right:5px; margin-right:5px; }

/* Pagination
------------------------------------------------------------------------*/
.posts-pagination{margin-bottom:30px; margin-top:70px;}
.posts-pagination-block a{ display:inline-block; width:50px; height:50px; line-height:44px; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; text-align:center; font-size:40px; margin-right:-15px; position:relative; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); transform:translate3d(0,0,0); -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; -webkit-box-shadow:0 0 0 10px transparent; -moz-box-shadow:0 0 0 10px transparent; box-shadow:0 0 0 10px transparent; background-color:#e4e4e4; color:#000000; }
.posts-pagination-block a:focus,
.posts-pagination-block a:hover{ outline:none; z-index:2; -webkit-box-shadow:0 0 0 0 #F55145; -moz-box-shadow:0 0 0 0 #F55145; box-shadow:0 0 0 0 #F55145; color:#fff; background-color:#F55145;}
.posts-pagination-block a:focus .ic-angle-right,
.posts-pagination-block a:hover .ic-angle-right,
.posts-pagination-block a:focus .ic-angle-left,
.posts-pagination-block a:hover .ic-angle-left{ background-image:url(assets/img/ico_arrow_lr_white.png) }

/* Post 
------------------------------------------------------------------------*/

.post-content .post{ margin-bottom:40px; padding-bottom:20px; }

.post-content .post .entry-title{ position:relative; padding-bottom:20px; line-height:20px; margin:0 0 15px;  }
.post-content .post .entry-title:after{ height:0; position:absolute; bottom:0; left:0; width:50px; content:""; border-bottom:1px solid #F55145; }

.post-content .post .entry-meta{ font-family:'Lato', sans-serif; font-weight:600; font-size:12px; margin-bottom:15px; margin-top:20px; }
.post-content .post .entry-meta a{ font-weight:600; }
.post-content .post .entry-meta .sep{ margin:0 5px; }
.post-content .post .entry-meta label{ font-weight:600; margin-bottom:0; margin-right:10px; }

.post-content .post .entry-tags{ margin-bottom:28px }
.post-content .post .entry-tags a{ font-size:11px; display:inline-block; padding:5px; position:relative; margin-right:5px; color:#7e7e7e; background-color:#e6e6e6; }
.post-content .post .entry-tags a:focus,
.post-content .post .entry-tags a:hover{ text-decoration:none; outline:none; background-color:#3f3f3f; color:#fff; }
.post-content .post .entry-tags a:after{ position:absolute; right:-9px; top:0; content:""; width:0; height:0; border-left:8px solid transparent; border-right:8px solid transparent; border-top:6px solid #ffffff; }

.post-content .post .entry-image{ margin-bottom:20px; }
.post-content .post .entry-image img{ max-width:99%; height:auto; }

.post-content .type-attachment{ margin-bottom:40px; padding-bottom:20px; border-bottom:1px solid #3f3f3f; }
.post-content .type-attachment .entry-title{ position:relative; padding-bottom:20px; line-height:20px; margin:0 0 15px; }
.post-content .type-attachment .entry-title:after{ height:0; position:absolute; bottom:0; left:0; width:50px; content:""; border-bottom:1px solid #F55145; }

.post-content .type-attachment .entry-meta{ font-family:'Lato', sans-serif; font-weight:600; font-size:12px; margin-bottom:15px; margin-top:20px; }
.post-content .type-attachment .entry-meta a{ font-weight:600; }
.post-content .type-attachment .entry-meta .sep{ margin:0 5px; }
.post-content .type-attachment .entry-meta label{ font-weight:600; margin-bottom:0; margin-right:10px; }

/* Page 
------------------------------------------------------------------------*/

.page-content .page{ margin-bottom:40px; padding-bottom:20px; }
.page-content .page .page-title{ position:relative; padding-bottom:20px; line-height:20px; margin:0 0 15px;  }
.page-content .page .page-title:after{ height:0; position:absolute; bottom:0; left:0; width:50px; content:""; border-bottom:1px solid #F55145; }

.post-content .post .entry-image{ margin-bottom:20px; }
.post-content .post .entry-image img{ max-width:99%; height:auto; }

/* Widgets
------------------------------------------------------------------------*/

.sidebar {margin-top:8px;}
.widget{ margin-bottom:55px; }

.widget-title{ position:relative; padding-bottom:19px; line-height:20px; margin:0 0 20px;  color:#010101; border-bottom:1px solid #F55145; }
.widget-title a{ color:inherit }

h3.widget-title{font-size:18px;}

.widget ul{ list-style:none; margin:0; padding:0;  }
.widget ul li{ margin-bottom:10px; }
.widget ul li a{ display:inline-block; padding-left:20px; position:relative; color:#3f3f3f; }
.widget ul li a:focus,
.widget ul li a:hover{ color:#F55145; }
.widget ul li a:before{ content:"\f054"; position:absolute; left:0; top:1px; font-family:'FontAwesome'; color:inherit; font-size:12px; opacity:0.7; filter:alpha(opacity=70); color:#212121; }

.widget ul li.recentcomments{ position:relative;padding-left:20px }
.widget ul li.recentcomments:before{ content:"\f054"; position:absolute; left:0; top:1px; font-family:'FontAwesome'; color:inherit; font-size:12px; opacity:0.7; filter:alpha(opacity=70); color:#212121; }
.widget ul li.recentcomments a:before{ display:none }

.widget ul li ul{ list-style:disc; margin:10px 0 0 33px; padding:0; font-size:12px }
.widget ul li li{ margin-bottom:8px; }
.widget ul li li a{ padding-left:0; }
.widget ul li li a:before{ display:none; }

/* Tag Cloud Widget
------------------------------------------------------------------------*/

.tagcloud{ padding-top:20px }
.tagcloud a{ display:inline-block; padding:5px 8px; margin-bottom:10px; margin-right:3px; font-size:13px; background-color:#767a7c; color:#fff; }
.tagcloud a:focus,
.tagcloud a:hover{ text-decoration:none; background-color:#F55145; color:#fff; }

/* Icon List
------------------------------------------------------------------------*/

.icon-list{ list-style:none; margin:0 0 25px; padding:0 }
.icon-list li{ padding-left:32px; position:relative; margin-bottom:15px; }
.icon-list li .fa{ position:absolute; left:0; top:7px; font-size:14px; color:#212121; }
.icon-list li a{ color:inherit }

/* Front Page - Content 
------------------------------------------------------------------------*/

.frontpage-content {text-align:center;}
.frontpage-content .description { width: 75%; margin:0 auto;}

/* Front Page - Featured Icons / 4 Columns with Icons
------------------------------------------------------------------------*/

.frontpage-4cols p{margin-bottom:40px;}
.frontpage-4cols .description {width:75%; margin:0 auto;}
.frontpage-4cols .cols{margin-top:20px;}
.content-icon{ text-align:center; padding:20px 25px 40px; -webkit-box-shadow:0 0 0 transparent; -moz-box-shadow:0 0 0 transparent; box-shadow:0 0 0 transparent; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); transform:translate3d(0,0,0); -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; }
.content-icon:hover{ -webkit-box-shadow:0 0 15px rgba(0,0,0,0.06);-moz-box-shadow:0 0 15px rgba(0,0,0,0.06); box-shadow:0 0 15px rgba(0,0,0,0.06); }
.content-icon .icon{ width:85px; height:85px; line-height:85px; text-align:center; -webkit-border-radius:85px; -moz-border-radius:85px; border-radius:85px; margin:0 auto 35px; font-size:30px; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; background-color:#fffefe; color:#F55145; display:block;}
.content-icon:hover .icon{ color:#3f3f3f; }
.content-icon .title{  margin:0 0 15px; overflow:hidden; }
.content-icon .title a {color: inherit;}
.content-icon .body{ line-height:20px; text-overflow:ellipsis; margin:0 0 35px; }
.content-icon .body p{ line-height:20px; font-size:13px; }
.content-icon .body p:last-child{ margin-bottom:0 }
.content-icon:hover .btn{ background-color:#F55145; }

/* Front Page - CTA 
------------------------------------------------------------------------*/

.frontpage-cta {text-align:center; }
/* .frontpage-cta:before { width: 100%; height: 100%; background-color: #000; opacity: 0.35; content: ""; position: absolute; left: 0; top: 0; z-index: 0; } */
.frontpage-cta .description {width:85%; margin:0 auto;}
.frontpage-cta .btn{margin-right:10px;margin-top:10px;text-decoration:none;}
.frontpage-cta p{ text-align:center; font-family: 'Lato', sans-serif; line-height: 1.36; font-size:22px; font-weight:bold;  /*letter-spacing:-1px*/}
.frontpage-cta p.small{ font-size:14px; font-family:'Lato', sans-serif; margin-bottom:0px;line-height:20px;}
.frontpage-cta a{color:#fff; text-decoration:underline;}
.frontpage-cta a:hover{color:#fff;}
.frontpage-cta.parallax-bg{color: #fff !important;}
.frontpage-cta.parallax-bg.section{padding:130px 0 130px}

.frontpage-cta.parallax-bg{position:relative;}
.frontpage-cta.parallax-bg:before {width: 100%; height: 100%; background-color: #000; opacity: 0.35; content: ""; position: absolute; left: 0; top: 0; z-index: 2; }
.frontpage-cta.parallax-bg .container {z-index: 3; position: relative; }

/* Front Page - Open Content 
------------------------------------------------------------------------*/

.frontpage-open1 .btn {margin-top:5px; }

/* Front Page - Recent Posts
------------------------------------------------------------------------*/

.icon-link{ width:45px; height:45px; font-size:16px; line-height:45px; display:inline-block; vertical-align:middle; -webkit-border-radius:45px; -moz-border-radius:45px; border-radius:45px; text-align:center; margin:3px; -webkit-transform:translateZ(0); -moz-transform:translateZ(0); transform:translateZ(0); -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; background-color:#140d0a; background-color:rgba(20,13,10,0.9); color:#fff; }
.icon-link.white{ color:#3f3f3f; background-color:#fff; background-color:rgba(255,255,255,0.9) }
.icon-link:after{ width:100%; position:absolute; height:100%; top:-3px; left:-3px; padding:3px; -webkit-transition:-webkit-transform 0.2s, opacity 0.2s; -webkit-transform:scale(.8); -moz-transition:-moz-transform 0.2s, opacity 0.2s; -moz-transform:scale(.8); -ms-transform:scale(.8); transition:transform 0.2s, opacity 0.2s; transform:scale(.8); opacity:0; content:''; -webkit-border-radius:45px; -moz-border-radius:45px; border-radius:45px; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; -webkit-box-shadow:0 0 0 2px #fff; box-shadow:0 0 0 2px #fff; }
.icon-link.white:after{ -webkit-box-shadow:0 0 0 2px #140d0a; box-shadow:0 0 0 2px #140d0a; }
.icon-link:hover{ background-color:#ffffff; color:#140d0a; }
.icon-link.white:hover{ background-color:#140d0a; color:#ffffff; }
.icon-link:hover:after{ -webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); transform:scale(1); opacity:1; }

.recent-entry{ margin-bottom:30px; }

.recent-entry .recent-entry-image{ margin-bottom:30px; position:relative; overflow:hidden; display:block; max-width:100%; }
.recent-entry .recent-entry-image img{ height:auto; width:100%; }
.recent-entry .recent-entry-image .caption{ position:absolute; left:0; top:-100%; text-align:center; width:100%; height:100%; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; transition:all 0.3s linear; background-color:#F55145; background-color:rgba(245,81,69,0.54); }
.recent-entry:hover .recent-entry-image .caption{ top:0; }
.recent-entry .recent-entry-image .caption .icon-link{ opacity:0 }
.recent-entry:hover .recent-entry-image .caption .icon-link{ opacity:1 }
.recent-entry .recent-entry-image .caption .caption-inner{ display:inline-block; vertical-align:middle; }

.recent-entry .recent-entry-title{ margin:0 0 20px; line-height:1.2; /*letter-spacing:-1px;*/}
.recent-entry .recent-entry-title a{ color:inherit; }

.recent-entry .recent-entry-content{ position:relative; padding-bottom:15px; margin-bottom:20px; font-size:13px; }
.recent-entry .recent-entry-content p:last-child{ margin-bottom:0; }
.recent-entry .recent-entry-content:after{ height:0; position:absolute; bottom:0; left:0; width:50px; content:""; border-bottom:1px solid #F55145; }

.recent-entry .recent-entry-meta{ font-family:'Lato', sans-serif; font-weight:600; font-size:12px; margin-bottom:15px; }
.recent-entry .recent-entry-meta a{ font-weight:600; }
.recent-entry .recent-entry-meta .sep{ margin:0 5px; }
.recent-entry .recent-entry-meta label{ font-weight:600; margin-bottom:0; margin-right:10px;}

.recent-entry .recent-entry-buttons .btn{ min-width:125px; padding-left:10px; padding-right:12px; margin-right:5px; margin-bottom:5px; }


/* 404 Page
------------------------------------------------------------------------*/

.error-content{ text-align: center; }
.error-content h2{font-size: 180px; line-height: 200px; padding-bottom: 20px; color: #777; }
.error-content h3{text-transform:uppercase; }

/* Google Map 
-----------------------------------------------------------------------*/
.map iframe{ display:block; max-width:100% }
.map iframe{ border:5px solid #262525 !important }

/* Comments
------------------------------------------------------------------------*/

.comments-area{border-top:1px solid #3f3f3f; padding-top:30px;}

h3#comments{ color: #F55145;font-family: "Lato",sans-serif;font-weight: 400;margin: 0 0 20px; }

.commentlist{list-style:none;margin:0 0 40px;padding:0 0 15px;border-bottom:1px solid #3f3f3f}
.commentlist ul{list-style:none;margin:0;padding:1px 0}
.commentlist ul.children{margin-left:50px}
.commentlist li{position:relative;padding:1px 0}
.commentlist .avatar{width:80px;height:80px;float:left;background-color:#3f3f3f;left:-100px;top:0;position:absolute}
.commentlist ul.children .avatar{width:50px;height:50px;left:-70px}
.commentlist ul.children ul.children .avatar{width:35px;height:35px;left:-55px}
.commentlist .comment-body{position:relative;margin-left:100px;padding:20px 20px 10px;min-height:80px;margin-bottom:30px;background-color:#f1f1f1;border:1px solid #d3d3d3;}
.commentlist ul.children  .comment-body{margin-left:70px}
.commentlist ul.children ul.children .comment-body{margin-left:55px}
.commentlist .comment-body:before{position:absolute;left:-11px;top:19px;content:"";width:0;height:0;border-top:11px solid transparent;border-bottom:11px solid transparent;border-right:11px solid #d3d3d3;}
.commentlist .comment-body:after{position:absolute;left:-10px;top:20px;content:"";width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid #f1f1f1;}
.commentlist ul.children .comment-body:before,
.commentlist ul.children ul.children .comment-body:before{top:14px}
.commentlist ul.children .comment-body:after,
.commentlist ul.children ul.children .comment-body:after{top:15px}
.commentlist .comment-author{line-height:1.3}
.commentlist .comment-author .fn a,
.commentlist .comment-author .fn{font-family:'Lato', sans-serif;font-size:13px;text-transform:uppercase;font-style:normal}
.commentlist .comment-author .says{display:none}
.commentlist .comment-meta{margin:0 0 10px;color:#999;font-size:12px}
.commentlist .comment-meta a{color:inherit}
#respond h3{color: #F55145;font-family: "Lato",sans-serif;font-weight: 400;margin: 20px 0 20px;font-size: 20px; text-transform:uppercase;}
#commentform input[type="text"],#commentform textarea{border:1px solid #aaa;height:40px;color:#555;font-size:14px;padding:6px 12px;line-height:1.42857;width:100%;max-width:500px;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset}
#commentform textarea{height:auto;max-width:inherit}
#commentform label{display:block;font-weight:600;line-height:1.3;margin:0;padding:0 0 10px;/*position:absolute;left:0;top:0*/}
#commentform p{position:relative;padding-top:25px}
#commentform #submit{color:#3f3f3f;border:0;font-size: 13px;text-transform:uppercase;font-weight:600;padding: 13px 20px;}
.comments-area .navigation a { color: black; text-transform: uppercase; }
p.nocomments { font-size: 16px; text-transform: uppercase; color: #666; }

/* Footer
------------------------------------------------------------------------*/

.footer{ padding:20px 0 20px; background-color:#F55145; }

.copyright{ text-align:right; font-size:11px; margin-right:45px; line-height:1.3; color:#fff; }
.copyright a{ text-decoration:none; color:#fff; }
.copyright a:hover{color:#fff;}

/* Footer Widgets
------------------------------------------------------------------------*/

.footer-widgets{ padding:40px 0 10px }

.footer-widgets .widget-title{ padding-bottom:10px; border-bottom:none; }
.footer-widgets .widget-title:after{ content:""; height:0px; width:50px; position:absolute; bottom:-2px; left:0; margin-left:0px; border-bottom:1px solid #F55145; }

.footer-widgets .textwidget{padding-right:10px;}

/* Footer Nav
------------------------------------------------------------------------*/

.nav-foot{ list-style:none; margin:0;  padding:0 }
.nav-foot li{ display:inline-block; font-family:'Lato', sans-serif; margin-right:20px; font-size:12px; }
.nav-foot li a{ display:block; font-weight:600; color:#fff; }

/* Back to Top
------------------------------------------------------------------------*/

#back_to_top{ position:fixed; opacity:0; bottom:-90px; left:0; width:100%; height:0px; z-index:1000; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); transform:translate3d(0,0,0); outline:none; -webkit-box-shadow:0 0 0 50px transparent; -moz-box-shadow:0 0 0 50px transparent; box-shadow:0 0 0 50px transparent; }
#back_to_top.show{ opacity:1; bottom:0; -webkit-box-shadow:0 0 0 0 #000; -moz-box-shadow:0 0 0 0 #000; box-shadow:0 0 0 0 #000; }
#back_to_top .container{ position:relative; height:0; }
#back_to_top a{ text-align:center; line-height:46px; position:absolute; bottom:10px; right:0; width:50px; height:50px; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); transform:translate3d(0,0,0); -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; background-color:#000; color:#fff; -webkit-box-shadow:0 0 0 10px transparent; -moz-box-shadow:0 0 0 10px transparent; box-shadow:0 0 0 10px transparent; opacity:0.8; filter:alpha(opacity=80); filter:-ms-alpha(opacity=80); }
#back_to_top.scroll a{ opacity:1; filter:alpha(opacity=100); filter:-ms-alpha(opacity=100); }
#back_to_top a:hover{ opacity:1; filter:alpha(opacity=100); filter:-ms-alpha(opacity=100); outline:none; background-color:#3f3f3f; -webkit-box-shadow:0 0 0 0 #3f3f3f; -moz-box-shadow:0 0 0 0 #3f3f3f; box-shadow:0 0 0 0 #3f3f3f; }


/* Jetpack
------------------------------------------------------------------------*/
#jp-carousel-comments-loading { display: none !important; }
.jetpack-image-container img { width: 100%; height: auto; }


/* Wordpress Core
------------------------------------------------------------------------*/
.alignnone { margin: 5px 20px 20px 0; }
.aligncenter,
div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float:right; margin: 5px 0 20px 20px; }
.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.alignright { float: right; margin: 5px 0 20px 20px; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto }
img.alignright { max-width:100%; height:auto;}
img.alignnone { max-width:100%; height:auto;}
img.alignleft { max-width:100%; height:auto;}
img.aligncenter { max-width:100%; height:auto;}
.wp-caption { max-width: 100%; /* Image does not overflow the content area */ }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; margin-top: 10px; padding: 0 4px 5px; }
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }
.sticky,
.gallery-caption,
.bypostauthor {}

/* qTranslateX
------------------------------------------------------------------------*/

.qtranxs_widget ul li a:before{content:none;}
.qtranxs_widget ul li a{padding-left:0px}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {background-color: #212121;}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {border-radius:0px;}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {background-color: #000000;}

/* ----------------------------------------------------------------------*/
/* MEDIA QUERIES
/* ----------------------------------------------------------------------*/


/* MIN WIDTH 1200
------------------------------------------------------------------------*/
@media (min-width:1200px){

    .container{ width:1130px }

}

/* MIN WIDTH 768
------------------------------------------------------------------------*/
@media (min-width:768px){

    .navbar-nav>li>a{ padding-top:25px; padding-bottom:25px }

}

/* MAX WIDTH 991
------------------------------------------------------------------------*/
@media (max-width:991px){
    
    .nav-foot{ text-align:center; margin-bottom:15px; }
    .copyright{ text-align:center; margin-right:0; }
    
}

/* MIN WIDTH 992 + MAX WIDTH 1199
------------------------------------------------------------------------*/
@media (min-width:992px) and (max-width:1199px){

}

/* MIN WIDTH 768 + MAX WIDTH 991
------------------------------------------------------------------------*/
@media (min-width:768px) and (max-width:991px){
    
    .recent-entry .recent-entry-meta .btn{ font-size:9px; line-height:18px; width:85px; }
	.navbar-custom .navbar-nav > li > a{ padding-left:10px; padding-right:10px; }

}

/* MAX WIDTH 767
------------------------------------------------------------------------*/
@media (max-width:767px){
    
    h1{ font-size:30px; }
    h2{ font-size:28px; }
    h3{ font-size:26px; }
    h4{ font-size:18px; }
    h5{ font-size:16px; }
    h6{ font-size:16px; }

	.center-on-mobile{ text-align:center !important; }
	.center-on-mobile *{ text-align:center !important; }
	.center-on-mobile ul{ display:inline-block; }
	.center-on-mobile ul li{ text-align:left !important; }

    .navbar-custom .navbar-nav > li > a{ padding:5px 15px }
    .navbar-custom .navbar-nav > li > a { line-height: 20px; }
    .navbar-custom .dropdown-menu{ padding:2px 0 2px 25px }
    .navbar-custom .open .dropdown-menu > li > a, 
    .navbar-custom .open .dropdown-menu .dropdown-header{ padding:5px 15px }
    .navbar-custom .dropdown-menu > li > a .fa{ top:4px }
    .navbar-custom .dropdown-menu > li > a:hover,
    .navbar-custom .dropdown-menu > li:hover > a ,
    .navbar-custom .dropdown-menu > .open > a{ color:#fff; background:#F55145 }
    .navbar-custom .navbar-collapse{ -webkit-box-shadow:0 1px 0 rgba(58,57,57,0.1) inset; -moz-box-shadow:0 1px 0 rgba(58,57,57,0.1) inset; box-shadow:0 1px 0 rgba(58,57,57,0.1) inset; }
    .navbar-custom .nav > .current > a, 
    .navbar-custom .nav > .open > a{ background-color:#F55145; color:#fff; }
    
    .content-icon .body{ height:auto; }
    
    .top-menu{border-left:0;margin:0 -15px;text-align:center}
	.top-menu > li > a{padding:5px 15px}
	.header .top-menu{float:none;}
	.header .top-menu> li{border-bottom:0;float:none;display:inline-block;vertical-align:top}
    
    .header{max-height:0;margin:0;overflow:hidden;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
	.header.open{max-height:300px}
    
    .header-toggle{display:block}
    
}

/* MAX WIDTH 680
------------------------------------------------------------------------*/
@media (max-width:680px){

    .blog-feed .entry .entry-image-left{ float:none;}
    .blog-feed .entry .entry-image-left img {width:100%;height:auto}
    .blog-feed .entry .entry-meta, 
    .blog-feed .entry .entry-buttons, 
    .blog-feed .entry .entry-content-right{ margin-left:0 }
    
}

/* MAX WIDTH 540
------------------------------------------------------------------------*/
@media (max-width:540px){
    
}

/* MAX WIDTH 480
------------------------------------------------------------------------*/
@media (max-width:480px){
    .recent-entry .recent-entry-meta .btn{ font-size:9px; line-height:18px; width:85px }
	.commentlist .avatar{left:0;top:-100px}
	.commentlist ul.children,
	.commentlist ul.children ul.children{margin-left:10px}
	.commentlist ul.children .avatar{left:0;top:-70px}
	.commentlist ul.children ul.children .avatar{left:0;top:-55px}
	.commentlist .comment-body{margin-left:0;margin-top:100px}
	.commentlist ul.children  .comment-body{margin-left:0;margin-top:70px}
	.commentlist ul.children ul.children .comment-body{margin-left:0;margin-top:55px}
	.commentlist .comment-body:before{left:10px;top:-11px;border-top:0;border-left:11px solid transparent;border-right:11px solid transparent;border-bottom:11px solid #d3d3d3;}
    .commentlist .comment-body:after{left:11px;top:-10px;border-top:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #f1f1f1;}
    .commentlist ul.children .comment-body:before,.commentlist ul.children ul.children .comment-body:before{top:-11px}
    .commentlist ul.children .comment-body:after,.commentlist ul.children ul.children .comment-body:after{top:-10px}
    .frontpage-cta {padding:60px;}
    .frontpage-cta p{ font-size:18px; font-weight:bold; }
    
}

/* MAX WIDTH 400
------------------------------------------------------------------------*/
@media (max-width:400px){

    .recent-entry .recent-entry-meta .btn{ font-size:9px; line-height:18px; width:85px; }
    
}

/* FULL SCREEN BANNER
------------------------------------------------------------------------*/
@media (min-width:320px){
    .image-banner.full-screen{ height:480px; }
    .frontpage-banner.frontpage-banner-parallax-bg{padding:60px 0;}
    .frontpage-banner.image-banner.frontpage-banner .block-title{font-size:24px;}
    .frontpage-banner.image-banner p {font-size: 18px;}
}
@media (min-width:360px){
	.image-banner.full-screen{ height:640px; }
    .frontpage-banner.frontpage-banner-parallax-bg{padding:80px 0;}
    .frontpage-banner.image-banner.frontpage-banner .block-title{font-size:24px;}
    .frontpage-banner.image-banner p {font-size: 18px;}
}
@media (min-width:480px){
    .image-banner.full-screen{ height:800px; }
    .frontpage-banner.frontpage-banner-parallax-bg{padding:100px 0;}
    .frontpage-banner.image-banner.frontpage-banner .block-title{font-size:36px;}
    .frontpage-banner.image-banner p {font-size: 18px;}
}
@media (min-width:768px){
	.image-banner.full-screen{ height:1024px; }
    .frontpage-banner.image-banner.frontpage-banner .block-title{font-size:48px;}
    .frontpage-banner.image-banner p {font-size: 20px; font-weight:bold;}
    .frontpage-banner.frontpage-banner-parallax-bg{padding:120px 0;}
}
@media (min-width:1280px){
	.image-banner.full-screen{ height:720px; }
    .frontpage-banner.frontpage-banner-parallax-bg{ margin:0; padding:180px 0 160px; } 
}
@media (min-width:1440px){
	.image-banner.full-screen{ height:900px; }
    .frontpage-banner.frontpage-banner-parallax-bg{ margin:0; padding:180px 0 160px; } 
}
@media (min-width:1366px){
    .image-banner.full-screen{height:768px; }
    .frontpage-banner.frontpage-banner-parallax-bg{ margin:0; padding:180px 0 160px; } 
}
@media (min-width:1920px){
	.image-banner.full-screen{ height:1080px; }
    .frontpage-banner.frontpage-banner-parallax-bg{ margin:0; padding:180px 0 160px; } 
}

.social-media {
    z-index: 5;
    right: 0;
    width: 45px;
    padding: 10px 0px 5px 0px;
    position: fixed;
    background:#2e93cd;
    top: 20%; }
    .social-linkers{
    	padding: 0px;
    	margin: 0px;
    }
    .social-media .social-linkers li {
        display: inline-block;
        width: 100%;
        padding: 4px 10px;
        margin-bottom: 0;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out; }
        .social-media .social-linkers li .fa {
            font-size: 28px;
            color: #fff; }
            .social-media .social-linkers li div:first-of-type {
                width: 45px;
                text-align: center;
                margin-right: 8px;
                float: left; }
                .social-media .social-linkers li div:nth-of-type(2) {
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                    padding-top: 5px; }

                    .social-media:hover {
                        opacity: 1;
                        /*right: 0;*/
                        transition: all 0.3s ease-in-out;
                        -webkit-transition: all 0.3s ease-in-out; }
                        .social-media:hover .social-linkers li {
                            transition: all 0.3s ease-in-out;
                            -webkit-transition: all 0.3s ease-in-out; }

                            

/*niroj editor new css start*/
.frontpage-banner .redactor-box .redactor-editor{
	background: black;
}
.section.frontpage-cta .description .redactor-box table tr td{
	color: black;
}

.video-wrapper {
    position: relative;
    padding-top: 25px;
    margin-bottom: 15px;
    height: 0;
}

.video-wrapper.ratio-5-4 {padding-bottom: 80%;}
.video-wrapper.ratio-4-3 {padding-bottom: 70%;}
.video-wrapper.ratio-16-10 {padding-bottom: 62.5%;}
.video-wrapper.ratio-16-9 {padding-bottom: 56.25%;}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
}

.table>thead>tr>th {
    text-align:  center;
}

.image-banner .container .zoomIn{
	height: 200px !important;
} 



.icon-list li{
	padding-left: 0;
}

.footer-widgets .icon-list li:first-of-type{
	font-size: 26px;
	pointer-events: none;
	font-weight: bold;
	position: relative;
	padding-bottom: 10px;
	margin: 0 0 25px;
}

.footer-widgets .icon-list li:first-of-type:after{
	content: "";
    height: 0px;
    width: 50px;
    position: absolute;
    bottom: -9px;
    left: 0%;
    border-bottom: 1px solid #2e93cd;

}

/*niroj editor new css end*/