==

<script src="{{ 'assets/plugins/jquery/jquery.min.js'|theme }}"></script>

<!-- Bootstrap Core Js -->
<script src="{{ 'assets/plugins/bootstrap/js/bootstrap.js'|theme }}"></script>

<!-- Select Plugin Js -->
<script src="{{ 'assets/plugins/bootstrap-select/js/bootstrap-select.js'|theme }}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{{ 'assets/plugins/jquery-slimscroll/jquery.slimscroll.js'|theme }}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{{ 'assets/plugins/node-waves/waves.js'|theme }}"></script>

<!-- Jquery CountTo Plugin Js -->
<script src="{{ 'assets/plugins/jquery-countto/jquery.countTo.js'|theme }}"></script>

<!-- Morris Plugin Js -->
<script src="{{ 'assets/plugins/raphael/raphael.min.js'|theme }}"></script>
<script src="{{ 'assets/plugins/morrisjs/morris.js'|theme }}"></script>

<!-- ChartJs -->
<script src="{{ 'assets/plugins/chartjs/Chart.bundle.js'|theme }}"></script>

<!-- Flot Charts Plugin Js -->
<script src="{{ 'assets/plugins/flot-charts/jquery.flot.js'|theme }}"></script>
<script src="{{ 'assets/plugins/flot-charts/jquery.flot.resize.js'|theme }}"></script>
<script src="{{ 'assets/plugins/flot-charts/jquery.flot.pie.js'|theme }}"></script>
<script src="{{ 'assets/plugins/flot-charts/jquery.flot.categories.js'|theme }}"></script>
<script src="{{ 'assets/plugins/flot-charts/jquery.flot.time.js'|theme }}"></script>


<!-- Jquery DataTable Plugin Js -->
<script src="{{'assets/plugins/jquery-datatable/jquery.dataTables.js'|theme}}"></script>
<script src="{{'assets/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js'|theme}}"></script>
<script src="{{'assets/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js'|theme}}"></script>
<script src="{{'assets/plugins/jquery-datatable/extensions/export/buttons.flash.min.js'|theme}}"></script>
<script src="{{'assets/plugins/jquery-datatable/extensions/export/jszip.min.js'|theme}}"></script>
<script src="{{'assets/plugins/jquery-datatable/extensions/export/pdfmake.min.js'|theme}}"></script>
<script src="{{'assets/plugins/jquery-datatable/extensions/export/vfs_fonts.js'|theme}}"></script>
<script src="{{'assets/plugins/jquery-datatable/extensions/export/buttons.html5.min.js'|theme}}"></script>
<script src="{{'assets/plugins/jquery-datatable/extensions/export/buttons.print.min.js'|theme}}"></script>

<!-- Sparkline Chart Plugin Js -->
<script src="{{ 'assets/plugins/jquery-sparkline/jquery.sparkline.js'|theme }}"></script>

<!-- Custom Js -->
<script src="{{ 'assets/javascript/admin.js'|theme }}"></script>
<script src="{{ 'assets/javascript/pages/index.js'|theme }}"></script>
<script src="{{'assets/javascript/pages/tables/jquery-datatable.js'|theme }}"></script>

<!-- Demo Js -->
<script src="{{ 'assets/javascript/demo.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>

</html>