==
</div> <!--CONTENT WRAPPER ENDS-->

<div id="footer-wrapper" class="footer-wrapper">
    <div class="common-container">
        <div class="footer">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-block">
                        <div class="title">
                            <h3>CONTACT INFO</h3>
                        </div>
                        <div class="footer-links">
                            <ul class="foot-linkers">
                                <li>Phone: (713) 300-1760</li>
                                <li>Email: info@hireyourhouse.com</li>
                                <li>Support: support@cya411.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-block">
                        <div class="title">
                            <h3>QUICK LINKS</h3>
                        </div>
                        <div class="footer-links">
                            <ul class="foot-linkers">
                                <li><a href="{{ 'index'|page }}">Home</a></li>
                                <li><a href="{{ 'about-us'|page }}">About</a></li>
                                <li><a href="{{ 'webinar'|page }}">Webinar Schedule</a></li>
                                <li><a href="{{ 'author'|page }}">Author</a></li>
                                <li><a href="{{ 'contact-us'|page }}">Contact</a></li>                                        
                                <li><a href="{{ 'refer'|page }}">Refer a friend</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="footer-block">
                        <div class="title">
                            <h3>ACCOUNTS</h3>
                        </div>
                        <div class="footer-links">
                            <ul class="foot-linkers">
                                <li><a href="{{ 'blog'|page }}">Blog</a></li>
                                <li><a href="{{ 'register'|page }}">Sign Up</a></li>
                                <li><a href="{{ 'help'|page }}">Help & Support</a></li>
                                <li><a href="{{ 'legal'|page }}">Legal</a></li>
                                <li><a href="{{ 'terms'|page }}">Terms of Service</a></li>
                                <li><a href="{{ 'news'|page }}">In The News</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!--CONTAINER-->
    
</div> <!--FOOTER WRAPPER ENDS-->
<div class="social-media">
    <ul class="social-linkers">
        <li>
            <a href="https://www.facebook.com/hireyourhouse/?fref=ts">
                <div>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </div>
                <div>Facebook</div>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/hireyourhouse">
                <div>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div>Twitter</div>
            </a>
        </li>
        <li>
            <a href="{{ 'contact-us'|page }}">
                <div>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div>Contact Us</div>
            </a>
        </li>
        <li>
            <a href="{{ 'contact-us'|page }}">
                <div>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div>Mail Us</div>
            </a>
        </li>
    </ul>
</div>


</div> <!--WRAPPER ENDS-->
<!--<script src="/js/jquery.js"></script>-->


<script>

//    var $ = jQuery;
$('.mobile-nav').on('click', function () {
    $(this).toggleClass('open');
    $('.ease').toggleClass('active');
});

$(document).ready(function(){
    mcustomscroll();
});


// functions

function mcustomscroll() {


    $('.detail-content').mCustomScrollbar();
    $('.table-container').mCustomScrollbar({
        axis: "x"
    });

}

// var acc = document.getElementsByClassName("accordion");
// var i;

// for (i = 0; i < acc.length; i++) {
//     acc[i].addEventListener("click", function() {
//         this.classList.toggle("active");
//         $('.accordion-form .panel').addClass("togglebg");
//         var panel = this.nextElementSibling;
//         if (panel.style.maxHeight){
//             panel.style.maxHeight = null;
//         } else {
//             panel.style.maxHeight = panel.scrollHeight + "px";
//         }
//     });
// }

</script>

<script src="{{ 'assets/javascript/jquery.js'|theme }}"></script>
<script src="{{ 'assets/javascript/jquery.mCustomScrollbar.concat.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/jquery.mCustomScrollbar.min.js'|theme }}"></script>
{% framework extras %}
{% scripts %}


</body>
</html>