[builderDetails]
modelClass = "cya\FrontendContent\Models\About_model"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<!DOCTYPE html>
<html>
<head>

    <title>CYA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- bootstrap -->
    <link href="{{ 'assets/css/bootstrap.css'|theme }}" rel="stylesheet">
    <script src="{{ 'assets/javascript/bootstrap.js'|theme }}"></script>


    <!-- put at last -->
    <link href="{{ 'assets/css/global.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/styles.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/responsive.css'|theme }}" rel="stylesheet">

    <link href="{{ 'assets/css/jquery.mCustomScrollbar.min.css'|theme }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900" rel="stylesheet">
    <style>
    .navbar-button .icon-bar{
        background: #05386d;
    }
</style>
</head>
<body>
    <div class="wrapper" id="wrapper">
        <div class="header-wrapper" id="header-wrapper">
            <div class="custom-container">
                <div class="second-header">
                    <div class="logo">
                        <div class="logo-block">
                            <a href="{{ 'index'|page }}"> <img src="{{'assets/images/cya.png'|theme }}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="header-nav ease">
                        <ul class="colored-nav">                       
                            <li class="drop-menu"><a>About</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ 'about-us'|page }}">About Us</a></li>
                                    <li><a href="{{ 'author'|page }}">Meet the Author</a></li>
                                    <li><a href="{{ 'problem'|page }}">Problem</a></li>
                                    <li><a href="{{ 'quick'|page }}">Quick Fix</a></li>
                                    <li><a href="{{ 'solution'|page }}">Solution</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ 'webinar'|page }}">Webinar Schedule</a></li>
                            <li><a href="{{ 'login'|page }}">GPS Trial</a></li>
                            <li><a href="{{ 'contact-us'|page }}">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="mobile-nav navbar-button" title="Navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div class="mainmenu"></div>
                </div>
            </div>
        </div>