<style type="text/css">
	@media all and (max-width: 2560px){
		.btn-flat{
			position: absolute;
			left: 19%;
		}
	}
	@media all and (max-width: 1920px){
		.btn-flat{
			position: absolute;
			left: 25%;
		}
	}
	@media all and (max-width: 1600px){
		.btn-flat{
			position: absolute;
			left: 30%;
		}
	}
		@media all and (max-width: 1440px){
		.btn-flat{
			position: absolute;
			left: 35%;
		}
	}
		@media all and (max-width: 1366px){
		.btn-flat{
			position: absolute;
			left: 35.5%;
		}
	}

</style>


<a class="btn btn-warning btn-flat" id="btn-assign-agent-client" href="#">Assign Agent</a>

<?= $this->listRender() ?>

<script type="text/javascript">
	$('btn-assign-agent-client').click(function(){
		alert();	
	});
</script>