{{ form_ajax('onUpdate', { model: user }) }}

    <div class="form-group">
        <label for="accountName">First Name</label>
        <input name="first_name" type="text" class="form-control" id="first_name" value="{{ form_value('first_name') }}">
    </div>
    <div class="form-group">
        <label for="accountName">Last Name</label>
        <input name="last_name" type="text" class="form-control" id="last_name" value="{{ form_value('last_name') }}">
    </div>

    <div class="form-group">
        <label for="accountEmail">Email</label>
        <input name="email" type="email" class="form-control" id="accountEmail" value="{{ form_value('email') }}">
    </div>

    <div class="form-group">
        <label for="accountPassword">New Password</label>
        <input name="password" type="password" class="form-control" id="accountPassword">
    </div>

    <div class="form-group">
        <label for="accountPasswordConfirm">Confirm New Password</label>
        <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
    </div>

{{ form_close() }}