    <form
    data-request="onRegister">
    <div class="form-group">
        <label for="registerName">First Name</label>
        <input
        name="first_name"
        type="text"
        class="form-control"
        id="registerFirstName"
        placeholder="First Name" />
    </div>

    <div class="form-group">
        <label for="registerName">Last Name</label>
        <input
        name="last_name"
        type="text"
        class="form-control"
        id="registerLastName"
        placeholder="Last Name" />
    </div>

    <div class="form-group">
        <label for="registerEmail">Email</label>
        <input
        name="email"
        type="email"
        class="form-control"
        id="registerEmail"
        placeholder="Email" />
    </div>

    <div class="form-group">
        <label for="registerUsername">Username</label>
        <input
        name="username"
        type="texg"
        class="form-control"
        id="registerUsername"
        placeholder="Username" />
    </div>

    <div class="form-group">
        <label for="registerPassword">Password</label>
        <input
        name="password"
        type="password"
        class="form-control"
        id="registerPassword"
        placeholder="Choose a password" />
    </div>

    <div class="form-group">
        <label for="registerPassword">Confirm Password</label>
        <input
        name="password_confirmation"
        type="password"
        class="form-control"
        id="registerconfirmPassword"
        placeholder="Confirm Password" />
    </div>

    <div class="form-group">
        <input type="checkbox" name="agree" value="check"> I Agree for <a
        href="{{ 'terms'|page }}" target="_blank" style="color:#bfbfbf">Terms & Conditions</a>
    </div>
    <button type="submit" class="btn btn-default">Register</button>
</form>

