<p>Father of the 401k is telling you to keep working <br>
</p>
<p>First, you have to understand if these vehicles aren’t the best for you to use then why isn’t your financial advisor telling me a different strategy? We believe the simple answer is that they don’t know too many other option than the stock market.
</p>
<p><a href="https://www.forbes.com/sites/antoinegara/2017/01/12/heres-why-2017-could-be-the-best-year-in-wall-street-history/#5baf61e33bb3" target="_blank">Could be that Wall Street is the most profitable it has ever been?</a>
</p>
<p>Roth IRA- Is a decent idea of paying into retirement accounts with after tax savings so when you invest and you start to receive your income tax free.
</p>
<p>The issue with the Roth outside of what critics will point out, is the fact that the money you receive is linear and can finish if you “live to long”, same issue with the 401k. There is not a real strategy that is being used by financial experts that are addressing longevity of life and inflation and several other factors.
</p>