<script type="text/javascript">
	$('.error-msg').remove();

	var errors = {{ fieldMsgs|json_encode()|raw }};

	$.each(errors,function(name,msg)
	{
		$('<div class="error-msg">'+ msg +'</div>').insertBefore($('input[name='+ name +']'));
	});

</script>