{% set testimonials =  __SELF__.testimonials %}

<div class="row">
    {% for testimonial in testimonials %}
        <div class="col-md-6">
            <blockquote class="adjust2">
                {{ testimonial.content|raw }}

                {% if testimonial.author %}
                    <small>{{ testimonial.author }}</small>
                {% endif %}

                {% if testimonial.date %}
                    <small>{{ testimonial.date }}</small>
                {% endif %}
            </blockquote>
        </div>
        <div class="col-md-6">
    
            <img src="{{ testimonial.photo.path }}" alt="" height="30px" class="image-responsive">
        
        </div>
        <div class="clearfix"></div>
    {% endfor %}
</div>
