{% set informations = __SELF__.informations %}

<form data-request = "onSave_credential">
    <div class="row">
    <div class=" col-md-6 form-group">
        <input type="text" class="form-control" value="{{ informations.first_name }}" name = "first_name" id="first_name" placeholder="Firt Name">
    </div>
    <div class=" col-md-6 form-group">
        <input type="text" class="form-control" name = "last_name" id="last_name" value="{{ informations.last_name }}" placeholder="Last Name">
    </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <input type="email" class="form-control" name="email" value="{{ informations.email }}" id="email" placeholder="Your E-mail Address">
        </div>
        <div class="col-md-6 form-group">
            <input type="text" class="form-control" name="username" value="{{ informations.username }}" id="username" placeholder="User Name">
        </div>
    </div>
    <div class="row">
    <p>note(if password not entered then automatically set old password)</p>
        <div class="form-group col-md-6 ">
            <input type="password" class="form-control" name="password"  id="password" placeholder="Password">
        </div>
        <div class="form-group col-md-6 ">
            <input type="password" class="form-control" name="password"  id="re_password" placeholder="Re Type Password">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
    </div>
</form>    