
{% set records = Video.records %}
{% set displayColumn = Video.displayColumn %}
{% set noRecordsMessage = Video.noRecordsMessage %}
{% set detailsPage = Video.detailsPage %}
{% set detailsKeyColumn = Video.detailsKeyColumn %}
{% set detailsUrlParameter = Video.detailsUrlParameter %}


    {% for record in records %}

            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                

                {% if detailsPage %}
                    </a>
                {% endif %}
            {% endspaceless %}
      
<h4>{{ attribute(record, displayColumn) }}</h4>
        <video src="{{record.video.path}}" width="320" height="200"  controls></video>
        
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
	
	
