<p>
    This is content from the page set as the front page. Each of the Call to Action rows, and the last row (the Open Content) also fetches content from pages that you can select in the theme customizer. So you have extreme control over what you want to display in these sections. It can be an embedded video, contact form using shortcodes, Twitter or Instagram feeds, images, galleries – the possibilities are endless. You also control which sections get displayed and in which order. idk
</p>
<iframe frameborder="0" height="300" src="https://www.youtube.com/embed/cg6EFvPcbak" width="400"></iframe>