
<div class="section bg-grey-light frontpage-4cols" id="4cols">
    <div class="container">
        <h2 class="wow zoomIn block-title">Featured Pages</h2>
        <div class="wow zoomIn text-center description">
            {% content 'features/content' %}
        </div>
        <div class="row cols">
            <div class="col-md-3 col-sm-6">
                <div class="content-icon wow fadeInUp">
                    <a class="icon" href="#">
                        <i class="fa fa-star"></i>
                    </a>
                    <h4 class="title">
                        <a href="#">Multiple Blog Layouts</a>
                    </h4>
                    <div class="body">
                        <p>
                            <p>The theme supports multiple blog layouts with a right sidebar.</p>
                        </p>
                    </div>
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-icon wow fadeInUp">
                    <a class="icon" href="#">
                        <i class="fa fa-magic"></i>
                    </a>
                    <h4 class="title">
                        <a href="#">Pre-built Color Schemes</a>
                    </h4>
                    <div class="body">
                        <p>
                            <p>The theme comes packaged with three color schemes: Orange (default), Blue, and Green.</p>
                        </p>
                    </div>
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-icon wow fadeInUp">
                    <a class="icon" href="#">
                        <i class="fa fa-cogs"></i>
                    </a>
                    <h4 class="title">
                        <a href="#">Front Page Layout</a>
                    </h4>
                    <div class="body">
                        <p>
                            <p>The special front page layout shows the page content, call to action, featured pages, and recent blog posts.</p>
                        </p>
                    </div>
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-icon wow fadeInUp">
                    <a class="icon" href="#">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                    <h4 class="title">
                        <a href="#">Flexible Banner Options</a>
                    </h4>
                    <div class="body">
                        <p>
                            <p>Use the Custom Header or Featured Image as the internal page banners.</p>
                        </p>
                    </div>
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

