[viewBag]

==
<div
    class="image-banner frontpage-banner frontpage-banner-parallax-bg{% if this.theme.intro_fullscreen %} full-screen{% endif %}"
    data-parallax="scroll"
    data-image-src="{{ 'assets/images/cyyy.jpg' | theme }}"
    id="intro">
    <div class="container">
        <div class="inner">
          {% component 'contenteditor' %}
        </div>
        <div class="helper"></div>
    </div>
</div>