title = "About Us"
url = "/about-us"
layout = "titled"
is_hidden = 0

[shares]
facebook = 1
twitter = 1
googleplus = 1
tumblr = 0
linkedin = 1
reddit = 0
digg = 0

[contenteditor]
file = "aboutus.htm"
==
<div class="row">
    <div class="col-md-8">
        {% component 'contenteditor' %}
    </div>
    <div class="col-md-4">
        <p><img class="img-responsive" src="{{ 'assets/images/about us image.jpg' | theme }}" alt="" /></p>
        <a href="{{'login'|page}}" class="btn btn-success btn-flat">Join Webinar</a >
        <a href="{{'author'|page}}" class="btn btn-warning btn-flat pull-right">Meet Author</a >
    </div>
</div>

<div class="spacer" style="height: 60px"></div>

<div class="oc-share">
    <div class="btn-group">
        <div class="btn btn-xs">Share:</div>
        {% if facebook %}
        <a class="btn btn-xs" target="_blank" title="On Facebook" href="https://www.facebook.com/sharer.php?u={{url}}">
            <img src="{{ 'assets/images/icon/social/facebook.jpg' | theme }}" width="18.5px" class="img-responsive">
        </a>
        {% endif %}

        {% if twitter %}
        <a class="btn btn-xs" target="_blank" title="On Twitter" href="https://twitter.com/share?url={{url}}&text={{ this.page.title }}">
            <img src="{{ 'assets/images/icon/social/twiter.jpg' | theme }}" width="18.5px" class="img-responsive">
        </a>
        {% endif %}

        {% if googleplus %}
        <a class="btn btn-xs" target="_blank" title="On Google Plus" href="https://plus.google.com/share?url={{url}}">
            <img src="{{ 'assets/images/icon/social/google.jpg' | theme }}" width="18.5px" class="img-responsive">
        </a>
        {% endif %}

        {% if linkedin %}
        <a class="btn btn-xs" target="_blank" title="On LinkedIn" href="https://www.linkedin.com/shareArticle?url={{url}}&title={{ this.page.title }}">
            <img src="{{ 'assets/images/icon/social/linkdin.jpg' | theme }}" width="18.5px" class="img-responsive">
        </a>
        {% endif %}                
    </div>
</div>