title = "Author"
url = "/author"
layout = "clean"
is_hidden = 0

[shares]
facebook = 1
twitter = 1
googleplus = 1
tumblr = 0 
linkedin = 1

[contenteditor]
file = "author.htm"
==
<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/blog2.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
  <div class="container">
    <h1 class="wow zoomIn"></h1>
  </div>
</div>

<div class="section blog-feed bg-white">
  <div class="container">
    <div class="row">

      <div class="col-md-12 blog-feed-column">


        <div class="entry clearfix wow zoomIn post type-post status-publish format-standard has-post-thumbnail sticky hentry category-sample-posts category-uncategorized">


          <div class="entry-content">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ 'assets/images/Mario-Henry-Headshot.jpg' | theme }}" class="img-responsive" />
              </div>
              <div class="col-md-6">
                {% component 'contenteditor' %}
              </div>
              <div class="col-md-3">
                <img src="{{ 'assets/images/book_picture.jpg' | theme }}" class="img-responsive" />
                <a href="https://www.amazon.com/Hire-Your-House-Mario-Henry/dp/1628388900" target="_blank" class="btn btn-warning btn-flat btn-sm pull-right" style="width: 100%">Buy Now</a> 
              </div>
            </div>
          </div>
          <!-- /Large Image Top, Full Content Below -->

          <!-- Post Meta -->

          <!-- /Post Meta -->
        </div>


      </div>
      <div class="oc-share">
        <div class="btn-group">
          <div class="btn btn-xs">Share:</div>
          {% if facebook %}
          <a class="btn btn-xs" target="_blank" title="On Facebook" href="https://www.facebook.com/sharer.php?u={{url}}">
            <img src="{{ 'assets/images/icon/social/facebook.jpg' | theme }}" width="18.5px" class="img-responsive">
          </a>
          {% endif %}

          {% if twitter %}
          <a class="btn btn-xs" target="_blank" title="On Twitter" href="https://twitter.com/share?url={{url}}&text={{ this.page.title }}">
            <img src="{{ 'assets/images/icon/social/twiter.jpg' | theme }}" width="18.5px" class="img-responsive">
          </a>
          {% endif %}

          {% if googleplus %}
          <a class="btn btn-xs" target="_blank" title="On Google Plus" href="https://plus.google.com/share?url={{url}}">
            <img src="{{ 'assets/images/icon/social/google.jpg' | theme }}" width="18.5px" class="img-responsive">
          </a>
          {% endif %}

          {% if linkedin %}
          <a class="btn btn-xs" target="_blank" title="On LinkedIn" href="https://www.linkedin.com/shareArticle?url={{url}}&title={{ this.page.title }}">
            <img src="{{ 'assets/images/icon/social/linkdin.jpg' | theme }}" width="18.5px" class="img-responsive">
          </a>
          {% endif %}                
        </div>
      </div>

    </div>
  </div>
</div>