title = "Blog"
url = "/blog"
layout = "cya-layout"
is_hidden = 0

[builderList]
modelClass = "Cya\Blog\Models\Blog"
scope = "-"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "blog-detail"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[shares post]
facebook = 1
twitter = 1
googleplus = 1
tumblr = 0
linkedin = 1
reddit = 0
digg = 1
==
<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/blogbanner-home.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class="wow zoomIn"></h1>
    </div>
</div>

<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-9 blog-feed-column">
                {% set records = builderList.records %}
                {% set displayColumn = builderList.displayColumn %}
                {% set noRecordsMessage = builderList.noRecordsMessage %}
                {% set detailsPage = builderList.detailsPage %}
                {% set detailsKeyColumn = builderList.detailsKeyColumn %}
                {% set detailsUrlParameter = builderList.detailsUrlParameter %}

                {% for record in records %}


                <div class="entry clearfix wow zoomIn post type-post status-publish format-standard has-post-thumbnail sticky hentry category-sample-posts category-uncategorized">

                    <!-- Post Title -->
                    {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                        {% endif %}
                        <h3 class="entry-title">
                            {{record.title}}
                        </h3>

                        {% if detailsPage %}
                    </a>
                    {% endif %}
                    <!-- Small Image Left, Excerpt Right -->
                    <div class="entry-image entry-image-left">
                        <p>{{ record.image_link |raw}}</p>
                    </div>

                    <div class="entry-content-right">
                        <p>{{ record.short_description |raw}}</p>
                    </div>
                    <!-- /Small Image Left, Excerpt Right -->

                    <!-- Post Meta -->
                    <div class="entry-meta  entry-meta-right ">
                        Posted: {{ html_limit(record.created_at,10) }}<br />
                        <div class="oc-share">
                            <div class="btn-group">
                                <div class="btn btn-xs" style="padding-left: 0">Share:</div>
                                {% if facebook %}
                                <a class="btn btn-xs" target="_blank" title="On Facebook" href="https://www.facebook.com/sharer.php?u={{url}}">
                                    <img src="{{ 'assets/images/icon/social/facebook.jpg' | theme }}" width="18.5px" class="img-responsive">
                                </a>
                                {% endif %}

                                {% if twitter %}
                                <a class="btn btn-xs" target="_blank" title="On Twitter" href="https://twitter.com/share?url={{url}}&text={{ this.page.title }}">
                                    <img src="{{ 'assets/images/icon/social/twiter.jpg' | theme }}" width="18.5px" class="img-responsive">
                                </a>
                                {% endif %}

                                {% if googleplus %}
                                <a class="btn btn-xs" target="_blank" title="On Google Plus" href="https://plus.google.com/share?url={{url}}">
                                    <img src="{{ 'assets/images/icon/social/google.jpg' | theme }}" width="18.5px" class="img-responsive">
                                </a>
                                {% endif %}

                                {% if linkedin %}
                                <a class="btn btn-xs" target="_blank" title="On LinkedIn" href="https://www.linkedin.com/shareArticle?url={{url}}&title={{ this.page.title }}">
                                    <img src="{{ 'assets/images/icon/social/linkdin.jpg' | theme }}" width="18.5px" class="img-responsive">
                                </a>
                                {% endif %}                
                            </div>
                        </div>
                    </div> <!-- /Post Meta -->
                </div>

                {% else %}
                <li class="no-data">{{ noRecordsMessage }}</li>
                
                {% endfor %}
                <!-- Pagination -->
                <div class="posts-pagination">
                    <div class="posts-pagination-block">
                        <a href="#">
                            <span class="ic ic-angle-left"></span>
                        </a>
                    </div>
                </div>
                <!-- /Pagination -->

            </div>

            <div class="col-md-3 sidebar">
                {% partial 'modules/cya_sidebar' %}
            </div>

        </div>
    </div>
</div>