title = "Blog-detail"
url = "/blog-detail/:id"
layout = "clean"
is_hidden = 0

[builderDetails]
modelClass = "Cya\Blog\Models\Blog"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"

[Blog_comment]

[builderList]
modelClass = "Cya\Blog\Models\Blog_comment_model"
scope = "-"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[shares post]
facebook = 1
twitter = 1
googleplus = 1
tumblr = 0
linkedin = 1
reddit = 0
digg = 1

==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/blog-header.jpg' | theme }}') no-repeat 0 0 #000000;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class=" wow zoomIn"> </h1>
        
    </div>
</div>
<div class="section post-content bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div class="clearfix post type-post status-publish format-standard has-post-thumbnail hentry category-sample-posts category-uncategorized">

                    <!-- Post Content -->
                    <div class="entry-content">
                        {{ record.description |raw }}
                    </div>
                    <!-- /Post Content -->
                    
                    <div class="oc-share">
                        <div class="btn-group">
                            <div class="btn btn-xs" style="padding-left: 0">Share:</div>
                            {% if facebook %}
                            <a class="btn btn-xs" target="_blank" title="On Facebook" href="https://www.facebook.com/sharer.php?u={{url}}">
                                <img src="{{ 'assets/images/icon/social/facebook.jpg' | theme }}" width="18.5px" class="img-responsive">
                            </a>
                            {% endif %}

                            {% if twitter %}
                            <a class="btn btn-xs" target="_blank" title="On Twitter" href="https://twitter.com/share?url={{url}}&text={{ this.page.title }}">
                                <img src="{{ 'assets/images/icon/social/twiter.jpg' | theme }}" width="18.5px" class="img-responsive">
                            </a>
                            {% endif %}

                            {% if googleplus %}
                            <a class="btn btn-xs" target="_blank" title="On Google Plus" href="https://plus.google.com/share?url={{url}}">
                                <img src="{{ 'assets/images/icon/social/google.jpg' | theme }}" width="18.5px" class="img-responsive">
                            </a>
                            {% endif %}

                            {% if linkedin %}
                            <a class="btn btn-xs" target="_blank" title="On LinkedIn" href="https://www.linkedin.com/shareArticle?url={{url}}&title={{ this.page.title }}">
                                <img src="{{ 'assets/images/icon/social/linkdin.jpg' | theme }}" width="18.5px" class="img-responsive">
                            </a>
                            {% endif %}                
                        </div>
                    </div>
                </div>

                <div class="comments-area">

                    <!-- If comments are open, but there are no comments. -->
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a Reply
                            <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small>
                        </h3>
                        <div class="contact-form">
                         <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                         <form data-request = "Blog_comment::onSave" class="comment-form">
                            <input type="hidden" name="blog_id" value = {{ record.id }}>
                            <p><label>Name*</label>
                                <input type="text" class="form-control" name = "name" id="name" placeholder="Fullname">
                            </p>
                            <p><label>Email*</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail Address">
                            </p>
                            <p><label>Comment*</label>
                                <textarea  type="text" class="form-control" name = "comment" id="comment" placeholder="Comment"></textarea>
                            </p>
                            <button class="btn btn-primary btn-md btn-flat">Submit</button>
                        </form>
                    </div>

                </div><!-- #respond -->

            </div>
        </div>
        <div class="col-md-3 sidebar">
            {% partial 'modules/cya_sidebar' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- If comments are open, but there are no comments. -->
            <div class="container">
                <div class="comment-respond">
                    <h3 class="comment-reply-title">Comments </h3>
                    {% set comments = builderList.records %}
                    {% set displayColumn = builderList.displayColumn %}
                    {% set noRecordsMessage = builderList.noRecordsMessage %}

                    {% for comment in comments %}
                    {% if (comment.blog_id == record.id ) %}
                    <div class="row">
                        <div class="col-md-10" style="background: #cfcfcf">
                            <label><h4>{{ comment.name }}</h4>{{ html_limit(comment.created_at ,10) }}</label>
                            <p>  {{ comment.comment }}</p>
                        </div>
                    </div>
                    <hr/>
                    {% endif %}
                    {% endfor %}
                </div><!-- #respond -->
            </div>
        </div>
    </div>
</div>
</div>

{% else %}
{{ notFoundMessage }}
{% endif %}