title = "Clients"
url = "/clients"
layout = "agent_layout"
is_hidden = 0

[builderList]
modelClass = "RainLab\User\Models\User"
scope = "-"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "client_details"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "RainLab\User\Models\User"
scope = "-"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "client_details"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<section class="content">
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="header">
						<h2>
							Clients
						</h2>
					</div>
					<div class="body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped table-hover js-basic-example dataTable">
								<thead>
									<tr>
										<th>Name</th>
										<th>Email</th>
										<th>Status</th>
										<th>Activated</th>
										<th>Last Login</th>
										<th>Agent</th>
										<!-- <th>Action</th> -->
									</tr>
								</thead>
								<tbody>
									
									{% set records = builderList2.records %}
									{% set displayColumn = builderList2.displayColumn %}
									{% set noRecordsMessage = builderList2.noRecordsMessage %}
									{% set detailsPage = builderList2.detailsPage %}
									{% set detailsKeyColumn = builderList2.detailsKeyColumn %}
									{% set detailsUrlParameter = builderList2.detailsUrlParameter %}

									<ul class="record-list">
										{% for record in records %}
										{# Use spaceless tag to remove spaces inside the A tag. #}
										{% for group in record.groups %}										
										{% if (group.id != 4)  %}
										{% spaceless %}
										<tr>
											<td>
												{% if detailsPage %}
												<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
													{{ record.first_name }} {{ record.last_name }}
												</a>
												{% endif %}
											</td>	
											<td>{{ record.email }}</td>
											<td>{% if(record.is_activated == 1) %}
												{{ 'Yes' }}
												{% else %}
												{{ 'No' }}
												{% endif %}
											</td>
											<td>{{ record.activated_at }}</td>
											<td>{{ record.last_login }}</td>
											<td>{{ record.username }}</td>
											{% endspaceless %}
											{% endif %}
											{% endfor %}
										</tr>
										{% else %}
										<tr class="no-data"><td colspan="6">{{ noRecordsMessage }}</td></tr>
										{% endfor %}
									</ul>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>