title = "Client_details"
url = "/client_details/:id"
layout = "agent_layout"
is_hidden = 0

[builderDetails]
modelClass = "Cya\ClientDetails\Models\Gps_trial_model"
identifierValue = "{{ :id }}"
modelKeyColumn = "user_id"
displayColumn = "user_id"
notFoundMessage = "Record not found"
==
<?php
use Cya\ClientDetails\Models\Gps_trial_model;

function onStart(){ $this->prepareVars(); }

function prepareVars()
{
	$user_id = $this->controller->vars['this']['param']['id'];


	$financial_details = Gps_trial_model::get_gps_details($user_id);
	foreach ($financial_details as $key => $value) 
	{
		$this['client_name'] = $value->client_name;
		$this['client_dob'] = $value->client_dob;
		$this['client_email'] = $value->client_email;
		$this['client_mobile'] = $value->client_mobile;
		$this['client_home'] = $value->client_home;
		$this['id'] = $value->id;
		$this['user_id'] = $value->user_id;
		$this['revolving_accounts'] = json_decode($value->client_revolving_account);
		$this['installments'] = json_decode($value->client_installment);
		$this['mortgages'] = json_decode($value->client_mortgage);
		$this['incomes'] = json_decode($value->client_income);
		$this['expenses'] = json_decode($value->client_expenses);
		$this['bank_infos'] = json_decode($value->client_bank_info);
		$this['has_spouse'] = $value->has_spouse;
		if($value->has_spouse == 1)
		{
			$this['spouse_name'] = $value->spouse_name;
			$this['spouse_dob'] = $value->spouse_dob;
			$this['spouse_email'] = $value->spouse_email;
			$this['spouse_mobile'] = $value->spouse_mobile;
			$this['spouse_home'] = $value->spouse_home;
			$this['spouse_revolving_accounts'] = json_decode($value->spouse_revolving_account);
			$this['spouse_installments'] = json_decode($value->spouse_installment);
			$this['spouse_mortgage'] = json_decode($value->spouse_mortgage);
			$this['spouse_expenses'] = json_decode($value->spouse_expenses);
			$this['spouse_income'] = json_decode($value->spouse_income);
			$this['spouse_bank_info'] = json_decode($value->spouse_bank_info);

		}

		
	}
}
?>
==
<section class="content">
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="header">
						<h2>
							Client Details
						</h2>
					</div>
					<div class="body">
						<div class="row">
							<div class="col-md-12">
								<h3>Personal Information</h3>
								<table class="table table-striped">
									<tr>
										<td>Name</td>
										<td>{{ client_name }}</td>
									</tr>
									<tr>
										<td>Email</td>
										<td>{{ client_email }}</td>
									</tr>
									
									<tr>
										<td>Date of Birth</td>
										<td>{{ client_dob }}</td>
									</tr>
									<tr>
										<td>Contact</td>
										<td>{{ client_mobile }}/{{ client_home }}</td>
									</tr>
									
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h3>Financial Information</h3>
								<hr/>
								<h4>Revolving Accounts</h4>
								<table class="table table-striped">
									<tr>
										<th>Account Balance</th>
										<th>Interest Rate</th>
										<th>Minimum Payment</th>
										<th>Actual Payment</th>
										<th>Due Date</th>
									</tr>
									{% for revolving_account in revolving_accounts %}
									<tr>
										<td>{{ revolving_account.rev_account_balance }}</td>
										<td>{{ revolving_account.rev_interest_rate }}</td>
										<td>{{ revolving_account.rev_minimum_payment }}</td>
										<td>{{ revolving_account.rev_actual_pay }}</td>
										<td>{{ revolving_account.rev_due_date }}</td>
									</tr>
									{% endfor %}
								</table>
								<br/>
								<br/>
								<hr/>
								<h4>Installment Section</h4>
								<table class="table table-striped">
									<tr>
										<th>Installment Account</th>
										<th>Interest Rate</th>
										<th>Installment Payment</th>
										<th>Due Date</th>
									</tr>
									{% for installment in installments %}
									<tr>
										<td>{{ installment.inst_installment_account }}</td>
										<td>{{ installment.inst_interest_rate }}</td>
										<td>{{ installment.inst_payment }}</td>
										<td>{{ installment.inst_due_date }}</td>
									</tr>
									{% endfor %}
								</table>
								<br/>
								<br/>
								<hr/>
								<h4>Mortgage</h4>
								<table class="table table-striped">
									<tr>
										<th>Mortgage Type</th>
										<th>Payment</th>
										<th>Interest Rate</th>
										<th>Balance</th>
										<th>Purchase Price</th>
										<th>Estimated Value</th>
									</tr>
									{% for mortgage in mortgages %}
									<tr>
										<td>{{ mortgage.mor_mortgage_type }}</td>
										<td>{{ mortgage.mor_payment }}</td>
										<td>{{ mortgage.mor_interest_rate }}</td>
										<td>{{ mortgage.mor_balance }}</td>
										<td>{{ mortgage.mor_purchase_price }}</td>
										<td>{{ mortgage.mor_estimated_value }}</td>
									</tr>
									{% endfor %}
								</table>
								<br/>
								<br/>
								<hr/>
								<h4>Income</h4>
								<table class="table table-striped">
									<tr>
										<th>Pay frequency</th>
										<th>Net Income</th>
										<th>Overtime or Bonuses</th>
										<th>Date of Payday</th>
									</tr>
									{% for income in incomes %}
									<tr>
										<td>{{ income.inc_pay_frequency }}</td>
										<td>{{ income.inc_net_income }}</td>
										<td>{{ income.inc_extra_income }}</td>
										<td>{{ income.inc_pay_day}}</td>
									</tr>
									{% endfor %}
								</table>
								<br/>
								<br/>
								<hr/>
								<h4>Bank Information</h4>
								<table class="table table-striped">
									<tr>
										<th>Checking Account Balance</th>
										<th>Saving Account Bank Balance</th>
										<th>Pre Tax Saving Plan</th>
										<th>Contribution Per Day</th>
										<th>Get Match</th>
										<th>Bank Balance</th>
										<th>Tax Refund Previous Year</th>
										<th>Tax Refund Amount</th>
										<th>Retire Age</th>
										<th>Get Back Mortgage Plans</th>
									</tr>
									{% for bank_info in bank_infos %}
									<tr>
										<td>{{ bank_info.bank_checking_account_balance }}</td>
										<td>{{ bank_info.bank_saving_account_balance }}</td>
										<td>{{ bank_info.bank_pretax_saving_plan }}</td>
										<td>{{ bank_info.bank_contribution_per_day }}</td>
										<td>{{ bank_info.bank_get_match }}</td>
										<td>{{ bank_info.bank_balance }}</td>
										<td>{{ bank_info.bank_tax_refund_previous_year }}</td>
										<td>{{ bank_info.bank_tax_refund_amount }}</td>
										<td>{{ bank_info.bank_retire_age }}</td>
										<td>{{ bank_info.bank_get_back_mortage_payments }}</td>
									</tr>
									{% endfor %}
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if(has_spouse == 1) %}
			<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="header">
						<h2>
							Client Spouse Details
						</h2>
					</div>
					<div class="body">
						<div class="row">
							<div class="col-md-12">
								<h3>Personal Information</h3>
								<table class="table table-striped">
									<tr>
										<td>Name</td>
										<td>{{ spouse_name }}</td>
									</tr>
									<tr>
										<td>Email</td>
										<td>{{ spouse_email }}</td>
									</tr>
									
									<tr>
										<td>Date of Birth</td>
										<td>{{ spouse_dob }}</td>
									</tr>
									<tr>
										<td>Contact</td>
										<td>{{ spouse_mobile }}/{{ spouse_home }}</td>
									</tr>
									
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h3>Financial Information</h3>
								<hr/>
								<h4>Revolving Accounts</h4>
								<table class="table table-striped">
									<tr>
										<th>Account Balance</th>
										<th>Interest Rate</th>
										<th>Minimum Payment</th>
										<th>Actual Payment</th>
										<th>Due Date</th>
									</tr>
									{% for revolving_account in spouse_revolving_accounts %}
									<tr>
										<td>{{ revolving_account.rev_account_balance }}</td>
										<td>{{ revolving_account.rev_interest_rate }}</td>
										<td>{{ revolving_account.rev_minimum_payment }}</td>
										<td>{{ revolving_account.rev_actual_pay }}</td>
										<td>{{ revolving_account.rev_due_date }}</td>
									</tr>
									{% endfor %}
								</table>
								<br/>
								<br/>
								<hr/>
								<h4>Installment Section</h4>
								<table class="table table-striped">
									<tr>
										<th>Installment Account</th>
										<th>Interest Rate</th>
										<th>Installment Payment</th>
										<th>Due Date</th>
									</tr>
									{% for installment in spouse_installments %}
									<tr>
										<td>{{ installment.inst_installment_account }}</td>
										<td>{{ installment.inst_interest_rate }}</td>
										<td>{{ installment.inst_payment }}</td>
										<td>{{ installment.inst_due_date }}</td>
									</tr>
									{% endfor %}
								</table>
								<br/>
								<br/>
								<hr/>
								<h4>Mortgage</h4>
								<table class="table table-striped">
									<tr>
										<th>Mortgage Type</th>
										<th>Payment</th>
										<th>Interest Rate</th>
										<th>Balance</th>
										<th>Purchase Price</th>
										<th>Estimated Value</th>
									</tr>
									{% for mortgage in spouse_mortgage %}
									<tr>
										<td>{{ mortgage.mor_mortgage_type }}</td>
										<td>{{ mortgage.mor_payment }}</td>
										<td>{{ mortgage.mor_interest_rate }}</td>
										<td>{{ mortgage.mor_balance }}</td>
										<td>{{ mortgage.mor_purchase_price }}</td>
										<td>{{ mortgage.mor_estimated_value }}</td>
									</tr>
									{% endfor %}
								</table>
								<br/>
								<br/>
								<hr/>
								<h4>Income</h4>
								<table class="table table-striped">
									<tr>
										<th>Pay frequency</th>
										<th>Net Income</th>
										<th>Overtime or Bonuses</th>
										<th>Date of Payday</th>
									</tr>
									{% for income in spouse_income %}
									<tr>
										<td>{{ income.inc_pay_frequency }}</td>
										<td>{{ income.inc_net_income }}</td>
										<td>{{ income.inc_extra_income }}</td>
										<td>{{ income.inc_pay_day}}</td>
									</tr>
									{% endfor %}
								</table>
								<br/>
								<br/>
								<hr/>
								<h4>Bank Information</h4>
								<table class="table table-striped">
									<tr>
										<th>Checking Account Balance</th>
										<th>Saving Account Bank Balance</th>
										<th>Pre Tax Saving Plan</th>
										<th>Contribution Per Day</th>
										<th>Get Match</th>
										<th>Bank Balance</th>
										<th>Tax Refund Previous Year</th>
										<th>Tax Refund Amount</th>
										<th>Retire Age</th>
										<th>Get Back Mortgage Plans</th>
									</tr>
									{% for bank_info in spouse_bank_info %}
									<tr>
										<td>{{ bank_info.bank_checking_account_balance }}</td>
										<td>{{ bank_info.bank_saving_account_balance }}</td>
										<td>{{ bank_info.bank_pretax_saving_plan }}</td>
										<td>{{ bank_info.bank_contribution_per_day }}</td>
										<td>{{ bank_info.bank_get_match }}</td>
										<td>{{ bank_info.bank_balance }}</td>
										<td>{{ bank_info.bank_tax_refund_previous_year }}</td>
										<td>{{ bank_info.bank_tax_refund_amount }}</td>
										<td>{{ bank_info.bank_retire_age }}</td>
										<td>{{ bank_info.bank_get_back_mortage_payments }}</td>
									</tr>
									{% endfor %}
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</section>