title = "contact-us"
url = "/contact-us"
layout = "clean"
is_hidden = 0
show_menu = 0

[GrofGraf\ContactMe\Components\ContactForm contactForm]
loadJS = 1
==
<div class="section frontpage-open1 bg-white" id="open">
  <div class="container">
    <div class="clearfix post type-post status-publish format-standard has-post-thumbnail hentry category-sample-posts category-uncategorized">

      <!-- Post Content -->
      <div class="entry-content">
       <h2>Contact Us</h2>
     </div>
     <!-- /Post Content -->

   </div>
   <div class="wow fadeIn">
    <div class="row">
      <div class="col-md-7">
        <h4>Directions</h4>
        <div class="map">
          <div class="googlemaps">
           <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDtqga6fjKWgElEosSZHXAL7MNXa5pWM8Y'></script><div style='overflow:hidden;height:382px;width:547px;'><div id='gmap_canvas' style='height:382px;width:547px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
           <script type='text/javascript'>function init_map(){var myOptions = {zoom:7,center:new google.maps.LatLng(40.7127753,-74.0059728),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.7127753,-74.0059728)});infowindow = new google.maps.InfoWindow({content:'<strong>New York</strong><br><br> new york<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
         </div>
       </div>
     </div>
     <div class="col-md-5">
      <div role="form" class="wpcf7" id="wpcf7-f400-o1" lang="en-US" dir="ltr">
        <div class="screen-reader-response"></div>
        <div class="confirm-contact-container">
        </div>
        <form id="contact-form"
        data-request="{{ contactForm }}::onMailSend"
        data-request-update="'{{ contactForm }}::confirm': '.confirm-contact-container'"
        {% if contactForm.enableFileUpload %}
        data-request-files
        {% endif %}
        >
        <div class="form-group">
          <label for="name">
            {{label.name}}
          </label>
          <input type="text" name="name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="email">
            {{label.email}}
          </label>
          <input type="text" name="email" class="form-control" placeholder="Email">
        </div>
        {% if contactForm.enableFileUpload %}
        <div class="form-group">
          <label for="attachment">{{label.attachment}}</label>
          <input type="file" name="attachment" class="form-control">
        </div>
        {% endif %}
        <div class="form-group">
          <label for="message">
            {{label.message}}
          </label>
          <textarea rows="5" name="message_content" class="form-control" placeholder="Message"></textarea>
        </div>
        {% if contactForm.enableCaptcha %}
        <div class="form-group">
          <label for="g-recaptcha">
            {{label.captcha}}
          </label>
          <div class="g-recaptcha" data-sitekey="{{ contactForm.captchaSiteKey }}"></div>
        </div>
        {% endif %}
        {% if contactForm.mailgunSubscribeExist %}
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" name="maillist_subscribe" checked>{{label.maillist}}</label>
            <input type="hidden" name="confirm_subscribe" value="true">
          </div>
        </div>
        {% endif %}
        <button class="wpcf7-form-control wpcf7-submit btn btn-primary-custom btn-block btn-lg" />
        {{label.button_text}}
      </button>
    </form>
  </form>
</div>
</div>
</div>
</div>
</div>

</div>