title = "Faq Page"
url = "/faq-page"
layout = "clean"
is_hidden = 0

[contenteditor]
file = "faq_content.htm"
==
<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/faq-banner.png' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class="wow zoomIn"></h1>
    </div>
</div>

<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-12 blog-feed-column">

                
                <div class="entry clearfix wow zoomIn post type-post status-publish format-standard has-post-thumbnail sticky hentry category-sample-posts category-uncategorized">


                    <div class="entry-content">
                       {% component 'contenteditor' %}
                    </div>
                    
                </div>
               

            </div>

          
        </div>
    </div>
</div>