title = "Free Videos"
url = "/free-videos"
layout = "clean"
is_hidden = 0

[builderList]
modelClass = "Cya\AddVideos\Models\Add_video_model"
scope = "-"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[VimeoEmbed]
id = 182641913
width = 560
height = 315
responsive = "16by9"

[builderList featured_video]
modelClass = "Cya\AddVideos\Models\Add_video_model"
scope = "scopeIsFeatured"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[VimeoEmbed VimeoEmbed2]
id = 87031388
width = 560
height = 315
responsive = 0

[YouTubeEmbed]
id = "dQw4w9WgXcQ"
width = 560
height = 315
responsive = "16by9"
==
<style>

.video-main-slider .video-main-item iframe{
     width: 100%;
    height: 300px;
}
.video-thumb-slider{
    margin-left: -15px;
    margin-right: -15px;
}
.video-thumb-slider .video-thub-item .item-inner{
    margin: 0 15px;
    pointer-events: none;
}
.video-thumb-slider .video-thub-item .item-inner iframe{
    width: 100%;
    height: auto;
}
</style>



<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/blog2.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class="block-title wow zoomIn" style="height:320px;"></h1>
    </div>
</div>


<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 blog-feed-column">
               {% set records = builderList.records %}
                    {% set displayColumn = builderList.displayColumn %}
                    {% set noRecordsMessage = builderList.noRecordsMessage %}
                    {% set detailsPage = builderList.detailsPage %}
                    {% set detailsKeyColumn = builderList.detailsKeyColumn %}
                    {% set detailsUrlParameter = builderList.detailsUrlParameter %}

                        <div class="video-main-slider">
                        {% for record in records %}

                        {# Use spaceless tag to remove spaces inside the A tag. #}
                        {% spaceless %}
                        {% if detailsPage %}
                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                {% endif %}
                                <div class="video-thumb-item">
                                    {% if(record.type == 'Vimeo')  %}    
                                    {% if VimeoEmbed.property('responsive') %}
                                        <div class="video-main-item">
                                            <iframe src="//player.vimeo.com/video/{{ record.video_id }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        </div>
                                    {% else %}
                                        <div class="video-main-item">
                                            <iframe src="//player.vimeo.com/video/{{ record.video_id }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        </div>
                                    {% endif %}
                                    {% else %}    
                                    {% if YouTubeEmbed.property('responsive') %}
                                        <div class="video-main-item">
                                            <iframe width="100%" src="https://www.youtube.com/embed/{{ record.video_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>                         
                                    {% else %}  
                                        <div class="video-main-item">
                                            <iframe width="100%" src="https://www.youtube.com/embed/{{ record.video_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>    
                                    {% endif %}
                                {% endif %}   
                                </div>

                                {% if detailsPage %}
                            </a>
                         
                        {% endif %}
                        {% endspaceless %}

                        {% else %}
                        <li class="no-data">{{ noRecordsMessage }}</li>
                        {% endfor %}
                    </div> 
                

            </div>

            <div class="col-md-6 col-xs-12 blog-feed-column">
                Description
                The growing concerns of most Americans not being able to retire has lead to the creation of a new approach to perpetuate an individuals income. Pensions have been replaced with qualified retirement plans (i.e. 401k, IRA, etc.) that will not be able to sustain most retirees when they stop working.
            </div>




        </div>
    </div>
</div>


<div class="section blog-feed bg-white">
    <div class="container">

        {% set records = builderList.records %}
        {% set displayColumn = builderList.displayColumn %}
        {% set noRecordsMessage = builderList.noRecordsMessage %}
        {% set detailsPage = builderList.detailsPage %}
        {% set detailsKeyColumn = builderList.detailsKeyColumn %}
        {% set detailsUrlParameter = builderList.detailsUrlParameter %}

        <div class="record-list">

            <div class="video-thumb-slider">
            {% for record in records %}

            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
            {% if detailsPage %}
            <div>
                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                    {% endif %}
                    <div class="video-thumb-item">
                        {% if(record.type == 'Vimeo')  %}    
                        {% if VimeoEmbed.property('responsive') %}
                            <div class="video-thub-item">
                                <div class="item-inner">
                                    <iframe width="100%" src="//player.vimeo.com/video/{{ record.video_id }}" frameborder="0" allow="
                                    autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>
                        {% else %}
                            <div class="video-thub-item">
                                <div class="item-inner">
                                    <iframe width="100%" src="//player.vimeo.com/video/{{ record.video_id }}" frameborder="0" allow="
                                    autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endif %}
                        {% else %}    
                        {% if YouTubeEmbed.property('responsive') %}
                            <div class="video-thub-item">
                                <div class="item-inner">
                                    <iframe width="100%" src="https://www.youtube.com/embed/{{ record.video_id }}" frameborder="0" allow="
                                    autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>                          
                        {% else %}  
                            <div class="video-thub-item">
                                <div class="item-inner">
                                    <iframe width="100%" src="https://www.youtube.com/embed/{{ record.video_id }}" frameborder="0" allow="
                                    autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>     
                        {% endif %}
                    {% endif %}   
                    </div>

                    {% if detailsPage %}
                </a>
            </div>    
            {% endif %}
            {% endspaceless %}

            {% else %}
            <li class="no-data">{{ noRecordsMessage }}</li>
            {% endfor %}
        </div> 
    </div>
    </div>
</div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script>

    $('#player').click(function(){   
        var iframe = $('#player')[0],
        player = (iframe);
        player.addEvent('ready', function() {
            player.addEvent('play', onPlay);
            player.addEvent('pause', onPause);
            player.addEvent('finish', onFinish);
            player.addEvent('playProgress', onPlayProgress);
            player.addEvent('finish', onFinish);
        });
    });
    // function onPlay(id)
    // {
    //     alert();
    // }


</script>