title = "help"
url = "/help"
layout = "clean"
is_hidden = 0

[shares]
facebook = 1
twitter = 1
googleplus = 1
tumblr = 0
linkedin = 1
reddit = 0
digg = 0

[contenteditor]
file = "help.htm"
==
<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/new-slider-3.png' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class="wow zoomIn"></h1>
    </div>
</div>

<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-12 blog-feed-column">
                <div class="entry clearfix wow zoomIn post type-post status-publish format-standard has-post-thumbnail sticky hentry category-sample-posts category-uncategorized">

                    <!-- Post Title -->
                  
                  {% component 'contenteditor' %}
                  
                    <!-- /Large Image Top, Full Content Below -->

                 
                </div>

      
            </div>
            <div class="oc-share">
                <div class="btn-group">
                  <button class="btn btn-default btn-xs disabled">Share:</button>

                    {% if facebook %}
                    <a class="btn btn-default btn-xs" target="_blank" title="On Facebook" href="https://www.facebook.com/sharer.php?u={{url}}">
                         <img src="{{ 'assets/images/icon/social/facebook.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if twitter %}
                    <a class="btn btn-default btn-xs" target="_blank" title="On Twitter" href="https://twitter.com/share?url={{url}}&text={{ this.page.title }}">
                        <img src="{{ 'assets/images/icon/social/twiter.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if googleplus %}
                    <a class="btn btn-default btn-xs" target="_blank" title="On Google Plus" href="https://plus.google.com/share?url={{url}}">
                        <img src="{{ 'assets/images/icon/social/google.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if tumblr %}
                    <a class="btn btn-default btn-xs" target="_blank" title="On Tumblr" href="https://www.tumblr.com/share/link?url={{url}}&title={{ this.page.title }}">
                        <img src="{{ 'assets/images/icon/social/tublr.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if linkedin %}
                    <a class="btn btn-default btn-xs" target="_blank" title="On LinkedIn" href="https://www.linkedin.com/shareArticle?url={{url}}&title={{ this.page.title }}">
                        <img src="{{ 'assets/images/icon/social/linkdin.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if reddit %}
                    <a class="btn btn-default btn-xs" target="_blank" title="On Reddit" href="https://reddit.com/submit?url={{url}}&title={{ this.page.title }}">
                         <img src="{{ 'assets/images/icon/social/reddit.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if digg %}
                    <a class="btn btn-default btn-xs" target="_blank" title="On Digg" href="http://digg.com/submit?url={{url}}&title={{ this.page.title }}">
                        <img src="{{ 'assets/images/icon/social/digg.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

