title = "login"
url = "/login"
layout = "clean"
is_hidden = 0

[account]
redirect = "homepage"
paramCode = "code"
forceSecure = 0
==

<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/samples/67.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class="wow zoomIn"></h1>
    </div>
</div>

<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 blog-feed-column">
                <div class="entry clearfix wow zoomIn post type-post status-publish format-standard has-post-thumbnail sticky hentry category-sample-posts category-uncategorized">
                    <div class="entry-content">
                       <div class="row">
                          <div class="col-md-9"  style="background-color: #2e93cd; color: white; height: 440px" >
                              <div class="login-title">
                                  <h2 >LOGIN TO YOUR ACCOUNT</h2>
                              </div>
                              <div class="row">
                                <div class="col-md-9">
                                    <h3>Sign in</h3>
                                    {% partial account ~ '::signin' %}
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-3">
                           
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</div>