title = "News"
url = "/news"
layout = "clean"
is_hidden = 0

[editable]
file = "front-end-content/news.htm"

[editable editable2]
file = "front-end-content/news1.htm"

[shares]
facebook = 1
twitter = 1
googleplus = 1
tumblr = 1
linkedin = 1
reddit = 0
digg = 0

[newsPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postPage = "news-detail"
postFeatured = 0
==
</div>

<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/news-banner.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">

    <div class="container">
        <h1 class="wow zoomIn"></h1>
    </div>
</div>

<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-9 blog-feed-column">
                 {% set posts = newsPosts.posts %}
                    
                    {% for post in posts %}
                        <div class="entry clearfix wow zoomIn post type-post status-publish format-standard has-post-thumbnail sticky hentry category-sample-posts category-uncategorized">

                        <!-- Post Title -->
                            <h3 class="entry-title">
                                <a href="{{url("news-detail")}}/{{ post.slug }}">{{ post.title }}</a>
                            </h3>

                            <!-- Small Image Left, Excerpt Right -->
                            <div class="entry-image entry-image-left">
                                <a class="post-thumbnail post-thumbnail-small" href="#">
                                    <img width="1200" height="676" src="{{ post.image|media }}" class="attachment-full size-full wp-post-image" alt="{{ post.title }}" />
                                </a>
                            </div>

                            <div class="entry-content-right">
                                <div class="entry-content">
                                    {% if post.introductory %}
                                        <div class="post-introductory">{{ post.introductory|raw }}</div>
                                    {% elseif post.content %}
                                        <div class="post-content">{{ post.content|raw }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- /Small Image Left, Excerpt Right -->

                            <!-- Post Meta -->
                            <div class="entry-meta  entry-meta-right ">
                                Posted: {{ post.published_at|date('Y-m-d') }}
                            </div>

                            <div class="oc-share">
                                <div class="btn-group">
                                  <button class="btn btn-default btn-xs disabled">Share:</button>

                                    {% if facebook %}
                                    <a class="btn btn-default btn-xs" target="_blank" title="On Facebook" href="https://www.facebook.com/sharer.php?u={{ url }}/blog-detail/{{ post.id }}">
                                        <img src="{{ 'assets/images/icon/social/facebook.jpg' | theme }}" width="18.5px" class="img-responsive">
                                    </a>
                                    {% endif %}

                                    {% if twitter %}
                                    <a class="btn btn-default btn-xs" target="_blank" title="On Twitter" href="https://twitter.com/share?url={{ url }}/news-detail/{{ post.id }}&text={{ post.title }}">
                                        <img src="{{ 'assets/images/icon/social/twiter.jpg' | theme }}" width="18.5px" class="img-responsive">
                                    </a>
                                    {% endif %}

                                    {% if googleplus %}
                                    <a class="btn btn-default btn-xs" target="_blank" title="On Google Plus" href="https://plus.google.com/share?url={{ url }}/news-detail/{{ post.id }}">
                                        <img src="{{ 'assets/images/icon/social/google.jpg' | theme }}" width="18.5px" class="img-responsive">
                                    </a>
                                    {% endif %}

                                    {% if tumblr %}
                                    <a class="btn btn-default btn-xs" target="_blank" title="On Tumblr" href="https://www.tumblr.com/share/link?url={{ url }}/news-detail/{{ post.id }}&title={{ post.title }}">
                                        <img src="{{ 'assets/images/icon/social/tublr.jpg' | theme }}" width="18.5px" class="img-responsive">
                                    </a>
                                    {% endif %}

                                    {% if linkedin %}
                                    <a class="btn btn-default btn-xs" target="_blank" title="On LinkedIn" href="https://www.linkedin.com/shareArticle?url={{ url }}/news-detail/{{ post.id }}&title={{ post.title }}">
                                        <img src="{{ 'assets/images/icon/social/linkdin.jpg' | theme }}" width="18.5px" class="img-responsive">
                                    </a>
                                    {% endif %}

                                    {% if reddit %}
                                    <a class="btn btn-default btn-xs" target="_blank" title="On Reddit" href="https://reddit.com/submit?url={{ url }}/news-detail/{{ post.id }}&title={{ post.title }}">
                                        <img src="{{ 'assets/images/icon/social/reddit.jpg' | theme }}" width="18.5px" class="img-responsive">
                                    </a>
                                    {% endif %}

                                    {% if digg %}
                                    <a class="btn btn-default btn-xs" target="_blank" title="On Digg" href="http://digg.com/submit?url={{ url }}/news-detail/{{ post.id }}&title={{ post.title }}">
                                        <img src="{{ 'assets/images/icon/social/digg.jpg' | theme }}" width="18.5px" class="img-responsive">
                                    </a>
                                    {% endif %}
                                </div>
                            </div>   
                            <!-- /Post Meta -->
                        </div>
                    {% endfor %}
                  
            </div>
            <div class="col-md-3 sidebar">
                {% partial 'modules/cya_sidebar' %}
            </div>
         
        
    </div>
</div>
</div>