title = "News Detail"
url = "/news-detail/:slug"
layout = "clean"
is_hidden = 0

[newsPost]
slug = "{{ :slug }}"

[shares]
facebook = 1
twitter = 1
googleplus = 1
tumblr = 1
linkedin = 1
==

<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/news-banner.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class="wow zoomIn"></h1>
    </div>
</div>
<div class="clearfix"></div>
<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-9 blog-feed-column">
                {% set post = newsPost.post %}

                <div class="post">
                    <div class="post-content">


                        {% if post.introductory %}<div class="post-introductory">{{ post.introductory|raw }}</div>{% endif %}
                        {% if post.image %}<div class="post-image"><img src="{{ post.image|media }}" alt="{{ post.title }}"></div>{% endif %}
                        {% if post.content %}<div class="post-content">{{ post.content|raw }}</div>{% endif %}

                        <p class="post-date">Posted on {{ post.published_at|date('Y-m-d') }}</p>
                    </div>
                </div>


            </div>
            <div class="col-md-3 sidebar">
                {% partial 'modules/cya_sidebar' %}
            </div>
            <div class="oc-share">
                <div class="btn-group">
                    <div class="btn btn-xs" style="padding-left: 0">Share:</div>
                    {% if facebook %}
                    <a class="btn btn-xs" target="_blank" title="On Facebook" href="https://www.facebook.com/sharer.php?u={{url}}">
                        <img src="{{ 'assets/images/icon/social/facebook.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if twitter %}
                    <a class="btn btn-xs" target="_blank" title="On Twitter" href="https://twitter.com/share?url={{url}}&text={{ this.page.title }}">
                        <img src="{{ 'assets/images/icon/social/twiter.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if googleplus %}
                    <a class="btn btn-xs" target="_blank" title="On Google Plus" href="https://plus.google.com/share?url={{url}}">
                        <img src="{{ 'assets/images/icon/social/google.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if linkedin %}
                    <a class="btn btn-xs" target="_blank" title="On LinkedIn" href="https://www.linkedin.com/shareArticle?url={{url}}&title={{ this.page.title }}">
                        <img src="{{ 'assets/images/icon/social/linkdin.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}                
                </div>
            </div>
        </div>
    </div>
</div>