title = "The problem"
url = "/problem"
layout = "clean"
is_hidden = 0

[shares]
facebook = 1
twitter = 1
googleplus = 1
tumblr = 1
linkedin = 1
reddit = 1
digg = 1

[contenteditor]
file = "problem-heading.htm"

[contenteditor contenteditor2]
file = "front-end-content/the_problem.htm"
==
<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/new.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class="wow zoomIn"></h1>
    </div>
</div>

<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-9 blog-feed-column">


                <div class="entry clearfix wow zoomIn post type-post status-publish format-standard has-post-thumbnail sticky hentry category-sample-posts category-uncategorized">

                    <!-- Post Title -->
                    <h3 class="entry-title">{% component 'contenteditor' %}</h3>

                    <!-- Small Image Left, Excerpt Right -->
                    <div class="entry-image entry-image-left">
                        <a class="post-thumbnail post-thumbnail-small" href="#">
                            <img width="1200" height="676" src="{{ 'assets/images/OH1DTZ0.jpg' | theme }}" class="attachment-full size-full wp-post-image" alt="The best free multipurpose theme just got better!" />
                        </a>
                    </div>

                    <div class="entry-content-right">
                        {% component 'contenteditor2' %}
                    </div>
                    <!-- /Small Image Left, Excerpt Right -->
                </div>
            </div>

            <div class="col-md-3 sidebar">
                {% partial 'modules/cya_sidebar' %}
            </div>

            <div class="oc-share">
                <div class="btn-group">
                    <div class="btn btn-xs" style="padding-left: 0">Share:</div>
                    {% if facebook %}
                    <a class="btn btn-xs" target="_blank" title="On Facebook" href="https://www.facebook.com/sharer.php?u={{url}}">
                        <img src="{{ 'assets/images/icon/social/facebook.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if twitter %}
                    <a class="btn btn-xs" target="_blank" title="On Twitter" href="https://twitter.com/share?url={{url}}&text={{ this.page.title }}">
                        <img src="{{ 'assets/images/icon/social/twiter.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if googleplus %}
                    <a class="btn btn-xs" target="_blank" title="On Google Plus" href="https://plus.google.com/share?url={{url}}">
                        <img src="{{ 'assets/images/icon/social/google.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}

                    {% if linkedin %}
                    <a class="btn btn-xs" target="_blank" title="On LinkedIn" href="https://www.linkedin.com/shareArticle?url={{url}}&title={{ this.page.title }}">
                        <img src="{{ 'assets/images/icon/social/linkdin.jpg' | theme }}" width="18.5px" class="img-responsive">
                    </a>
                    {% endif %}                
                </div>
            </div>
        </div>
    </div>
</div>