title = "Profile"
url = "/profile"
layout = "clean"
is_hidden = 0

[personaldetail]

[financialinformation]

[userinformation]

[account]
paramCode = "code"
forceSecure = 0

[session]
security = "user"
redirect = "login"
==
<?php
use Session as ses;
use Cya\ClientDetails\Models\Gps_trial_model;
use RainLab\User\Components\Account;
use Redirect as red;

function onStart(){ $this->prepareVars(); }

function prepareVars()
{
    $data = ses::all();

    $user_id = Auth::get_user_id();

    $financial_details = Gps_trial_model::get_gps_details($user_id);
    $credential = Gps_trial_model::get_user_credentials($user_id);
    foreach ($financial_details as $key => $value) 
    {
        $this['client_name'] = $value->client_name;
        $this['client_dob'] = $value->client_dob;
        $this['client_email'] = $value->client_email;
        $this['client_mobile'] = $value->client_mobile;
        $this['client_home'] = $value->client_home;
        $this['id'] = $value->id;
        $this['user_id'] = $value->user_id;
        $this['revolving_accounts'] = json_decode($value->client_revolving_account);
        $this['installments'] = json_decode($value->client_installment);
        $this['mortgages'] = json_decode($value->client_mortgage);
        $this['incomes'] = json_decode($value->client_income);
        $this['expenses'] = json_decode($value->client_expenses);
        $this['bank_infos'] = json_decode($value->client_bank_info);
        $this['has_spouse'] = $value->has_spouse;
        if($value->has_spouse == 1)
        {
            $this['spouse_name'] = $value->spouse_name;
            $this['spouse_dob'] = $value->spouse_dob;
            $this['spouse_email'] = $value->spouse_email;
            $this['spouse_mobile'] = $value->spouse_mobile;
            $this['spouse_home'] = $value->spouse_home;
            $this['spouse_revolving_accounts'] = json_decode($value->spouse_revolving_account);
            $this['spouse_installments'] = json_decode($value->spouse_installment);
            $this['spouse_mortgage'] = json_decode($value->spouse_mortgage);
            $this['spouse_expenses'] = json_decode($value->spouse_expenses);
            $this['spouse_income'] = json_decode($value->spouse_income);
            $this['spouse_bank_info'] = json_decode($value->spouse_bank_info);

        }
    }
    if($credential)
    {
        $this['first_name'] = $credential->first_name;
        $this['last_name'] = $credential->last_name;
        $this['email'] = $credential->email;
        $this['username'] = $credential->username;
        if($credential->is_activated==1){
            $this['account_status'] = 'Activated';

        }
        else{
            $this['account_status'] = 'Not Activated';
        }
    }
}
?>
==
{% component 'session' %}
<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-12 blog-feed-column">                
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#personal" data-toggle="tab">Personal Information</a></li>                                
                        <li><a href="#credential" data-toggle="tab">User Credentials</a></li>                                
                        <li ><a href="#financial" data-toggle="tab">Financial Details</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="personal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8"><h3>Personal Information</h3></div>
                                        <div class="col-md-4">
                                            <div class="pull-right">
                                                <button type="button" id="edit_personal_information" class="btn btn-xs btn-primary" title="edit personal information"><i class="fa fa-pencil"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped">
                                        <tr>
                                            <td>Name</td>
                                            <td>{{ client_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>{{ client_email }}</td>
                                        </tr>

                                        <tr>
                                            <td>Date of Birth</td>
                                            <td>{{ client_dob }}</td>
                                        </tr>
                                        <tr>
                                            <td>Contact</td>
                                            <td>{{ client_mobile }}/{{ client_home }}</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                            {% if(has_spouse == 1) %}   

                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Spouse Information</h3>
                                    <table class="table table-striped">
                                        <tr>
                                            <td>Name</td>
                                            <td>{{ spouse_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>{{ spouse_email }}</td>
                                        </tr>

                                        <tr>
                                            <td>Date of Birth</td>
                                            <td>{{ spouse_dob }}</td>
                                        </tr>
                                        <tr>
                                            <td>Contact</td>
                                            <td>{{ spouse_mobile }}/{{ spouse_home }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {% endif %}   

                        </div>
                        <div class="tab-pane " id="financial">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8"><h3>Financial Information</h3></div>
                                        <div class="col-md-4">
                                            <div class="pull-right">
                                                <button type="button" id="edit_financial_information" class="btn btn-sm btn-flat btn-primary" title="edit financial information"><i class="fa fa-pencil"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <h4>Revolving Accounts</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Account Balance</th>
                                            <th>Interest Rate</th>
                                            <th>Minimum Payment</th>
                                            <th>Actual Payment</th>
                                            <th>Due Date</th>
                                        </tr>
                                        {% for revolving_account in revolving_accounts %}
                                        <tr>
                                            <td>{{ revolving_account.rev_account_balance }}</td>
                                            <td>{{ revolving_account.rev_interest_rate }}</td>
                                            <td>{{ revolving_account.rev_minimum_payment }}</td>
                                            <td>{{ revolving_account.rev_actual_pay }}</td>
                                            <td>{{ revolving_account.rev_due_date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <br/>
                                    <br/>
                                    <hr/>
                                    <h4>Installment Section</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Installment Account</th>
                                            <th>Interest Rate</th>
                                            <th>Installment Payment</th>
                                            <th>Due Date</th>
                                        </tr>
                                        {% for installment in installments %}
                                        <tr>
                                            <td>{{ installment.inst_installment_account }}</td>
                                            <td>{{ installment.inst_interest_rate }}</td>
                                            <td>{{ installment.inst_payment }}</td>
                                            <td>{{ installment.inst_due_date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <br/>
                                    <br/>
                                    <hr/>
                                    <h4>Mortgage</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Mortgage Type</th>
                                            <th>Payment</th>
                                            <th>Interest Rate</th>
                                            <th>Balance</th>
                                            <th>Purchase Price</th>
                                            <th>Estimated Value</th>
                                        </tr>
                                        {% for mortgage in mortgages %}
                                        <tr>
                                            <td>{{ mortgage.mor_mortgage_type }}</td>
                                            <td>{{ mortgage.mor_payment }}</td>
                                            <td>{{ mortgage.mor_interest_rate }}</td>
                                            <td>{{ mortgage.mor_balance }}</td>
                                            <td>{{ mortgage.mor_purchase_price }}</td>
                                            <td>{{ mortgage.mor_estimated_value }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <br/>
                                    <br/>
                                    <hr/>
                                    <h4>Income</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Pay frequency</th>
                                            <th>Net Income</th>
                                            <th>Overtime or Bonuses</th>
                                            <th>Date of Payday</th>
                                        </tr>
                                        {% for income in incomes %}
                                        <tr>
                                            <td>{{ income.inc_pay_frequency }}</td>
                                            <td>{{ income.inc_net_income }}</td>
                                            <td>{{ income.inc_extra_income }}</td>
                                            <td>{{ income.inc_pay_day}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <br/>
                                    <br/>
                                    <hr/>
                                    <h4>Bank Information</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Checking Account Balance</th>
                                            <th>Saving Account Bank Balance</th>
                                            <th>Pre Tax Saving Plan</th>
                                            <th>Contribution Per Day</th>
                                            <th>Get Match</th>
                                            <th>Bank Balance</th>
                                            <th>Tax Refund Previous Year</th>
                                            <th>Tax Refund Amount</th>
                                            <th>Retire Age</th>
                                            <th>Get Back Mortgage Plans</th>
                                        </tr>
                                        <tr>
                                            <td>{{ bank_infos.bank_checking_account_balance }}</td>
                                            <td>{{ bank_infos.bank_saving_account_balance }}</td>
                                            <td>{{ bank_infos.bank_pretax_saving_plan }}</td>
                                            <td>{{ bank_infos.bank_contribution_per_day }}</td>
                                            <td>{{ bank_infos.bank_get_match }}</td>
                                            <td>{{ bank_infos.bank_balance }}</td>
                                            <td>{{ bank_infos.bank_tax_refund_previous_year }}</td>
                                            <td>{{ bank_infos.bank_tax_refund_amount }}</td>
                                            <td>{{ bank_infos.bank_retire_age }}</td>
                                            <td>{{ bank_infos.bank_get_back_mortage_payments }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div> 
                            {% if(has_spouse == 1) %}   
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Spouse Financial Information</h3>
                                    <hr/>
                                    <h4>Revolving Accounts</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Account Balance</th>
                                            <th>Interest Rate</th>
                                            <th>Minimum Payment</th>
                                            <th>Actual Payment</th>
                                            <th>Due Date</th>
                                        </tr>
                                        {% for revolving_account in spouse_revolving_accounts %}
                                        <tr>
                                            <td>{{ revolving_account.rev_account_balance }}</td>
                                            <td>{{ revolving_account.rev_interest_rate }}</td>
                                            <td>{{ revolving_account.rev_minimum_payment }}</td>
                                            <td>{{ revolving_account.rev_actual_pay }}</td>
                                            <td>{{ revolving_account.rev_due_date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <br/>
                                    <br/>
                                    <hr/>
                                    <h4>Installment Section</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Installment Account</th>
                                            <th>Interest Rate</th>
                                            <th>Installment Payment</th>
                                            <th>Due Date</th>
                                        </tr>
                                        {% for installment in spouse_installments %}
                                        <tr>
                                            <td>{{ installment.inst_installment_account }}</td>
                                            <td>{{ installment.inst_interest_rate }}</td>
                                            <td>{{ installment.inst_payment }}</td>
                                            <td>{{ installment.inst_due_date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <br/>
                                    <br/>
                                    <hr/>
                                    <h4>Mortgage</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Mortgage Type</th>
                                            <th>Payment</th>
                                            <th>Interest Rate</th>
                                            <th>Balance</th>
                                            <th>Purchase Price</th>
                                            <th>Estimated Value</th>
                                        </tr>
                                        {% for mortgage in spouse_mortgage %}
                                        <tr>
                                            <td>{{ mortgage.mor_mortgage_type }}</td>
                                            <td>{{ mortgage.mor_payment }}</td>
                                            <td>{{ mortgage.mor_interest_rate }}</td>
                                            <td>{{ mortgage.mor_balance }}</td>
                                            <td>{{ mortgage.mor_purchase_price }}</td>
                                            <td>{{ mortgage.mor_estimated_value }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <br/>
                                    <br/>
                                    <hr/>
                                    <h4>Income</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Pay frequency</th>
                                            <th>Net Income</th>
                                            <th>Overtime or Bonuses</th>
                                            <th>Date of Payday</th>
                                        </tr>
                                        {% for income in spouse_income %}
                                        <tr>
                                            <td>{{ income.inc_pay_frequency }}</td>
                                            <td>{{ income.inc_net_income }}</td>
                                            <td>{{ income.inc_extra_income }}</td>
                                            <td>{{ income.inc_pay_day}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <br/>
                                    <br/>
                                    <hr/>
                                    <h4>Bank Information</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Checking Account Balance</th>
                                            <th>Saving Account Bank Balance</th>
                                            <th>Pre Tax Saving Plan</th>
                                            <th>Contribution Per Day</th>
                                            <th>Get Match</th>
                                            <th>Bank Balance</th>
                                            <th>Tax Refund Previous Year</th>
                                            <th>Tax Refund Amount</th>
                                            <th>Retire Age</th>
                                            <th>Get Back Mortgage Plans</th>
                                        </tr>
                                        <tr>
                                            <td>{{ spouse_bank_info.bank_checking_account_balance }}</td>
                                            <td>{{ spouse_bank_info.bank_saving_account_balance }}</td>
                                            <td>{{ spouse_bank_info.bank_pretax_saving_plan }}</td>
                                            <td>{{ spouse_bank_info.bank_contribution_per_day }}</td>
                                            <td>{{ spouse_bank_info.bank_get_match }}</td>
                                            <td>{{ spouse_bank_info.bank_balance }}</td>
                                            <td>{{ spouse_bank_info.bank_tax_refund_previous_year }}</td>
                                            <td>{{ spouse_bank_info.bank_tax_refund_amount }}</td>
                                            <td>{{ spouse_bank_info.bank_retire_age }}</td>
                                            <td>{{ spouse_bank_info.bank_get_back_mortage_payments }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="credential">
                            <div class="row">
                                <div class="col-md-8"><h3>Login Credential</h3></div>
                                <div class="col-md-4">
                                    <div class="pull-right">
                                        <button type="button" id="edit_user_information" class="btn btn-sm btn-flat btn-primary" title="edit user information"><i class="fa fa-pencil"></i></button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <tr>
                                    <th>Name</th>
                                    <td>{{ first_name }} {{ last_name }}</td>
                                </tr>
                                <tr>   
                                    <th>Email</th>
                                    <td>{{ email }}</td>
                                </tr>
                                <tr>    
                                    <th>User Name</th>
                                    <td>{{ username }}</td>
                                </tr>
                                <tr>    
                                    <th>Account Staus</th>
                                    <td>
                                        {{ account_status }}
                                    </td>
                                </tr>
                            </table>
                        </div>                       
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
            <!-- Pagination -->
            <div class="posts-pagination">
                <div class="posts-pagination-block">
                    <a href="#">
                        <span class="ic ic-angle-left"></span>
                    </a>
                </div>
            </div>
            <!-- /Pagination -->
        </div>
    </div>
</div>

<div id="personal_information" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
    </div>
    <div class="modal-body">
      {% set informations = personaldetail.informations %}
      <form data-request = "onSave" data-request-success = "window.location.reload()">
        <div class="row">
            <div class=" col-md-6 form-group">
                <input type="text" class="form-control" value="{{ informations.client_name }}" name = "client_name" id="client_name" placeholder="Fullname" readonly="readonly">
            </div>
            <div class=" col-md-6 form-group">
                <input type="date" class="form-control" name = "client_dob" id="client_dob" value="{{ informations.client_dob }}" placeholder="Date of Birth">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="client_email" value="{{ informations.client_email }}" id="client_email" placeholder="Your E-mail Address" readonly="readonly">
            </div>
            <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="client_mobile" value="{{ informations.client_mobile }}" id="client_mobile" placeholder="Mobile No.">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 ">
                <input type="text" class="form-control" name="client_home" value="{{ informations.client_home }}" id="client_home" placeholder="Home / Work">
            </div>
        </div>

        {% if(informations.has_spouse == 1) %}
        <h4>Spouse Detail</h4>
        <div class="row">
            <div class=" col-md-6 form-group">
                <input type="text" class="form-control" name = "spouse_name" value="{{ informations.spouse_name }}" id="spouse_name" placeholder="Fullname">
            </div>
            <div class=" col-md-6 form-group">
                <input type="date" class="form-control" name = "spouse_dob" value="{{ informations.spouse_dob }}" id="spouse_dob" placeholder="Date of Birth">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="spouse_email" value="{{ informations.spouse_email }}" id="spouse_email" placeholder="Your E-mail Address">
            </div>
            <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="spouse_mobile" value="{{ informations.spouse_mobile }}" id="spouse_mobile" placeholder="Mobile No.">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 ">
                <input type="text" class="form-control" name="spouse_home" value="{{ informations.spouse_home }}" id="spouse_home" placeholder="Home / Work">
            </div>
        </div>
        {% endif %}
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
        </div>
    </form>
</div>

</div>

</div>
</div>
<style type="text/css">
#financial_information .modal-dialog{
    width: 75% !important;
}
</style>

<div id="financial_information" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Client Financial Information</h4>
    </div>
    <div class="modal-body">
      {% component 'financialinformation' %}
  </div>

</div>

</div>
</div>

<div id="user_information" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Client User Information</h4>
    </div>
    <div class="modal-body">
      {% partial account ~ '::update' %}
      
  </div>

</div>

</div>
</div>

<script type="text/javascript">
    $('#edit_personal_information').click(function(){
        $('#personal_information').modal('show');
    });

    $('#edit_financial_information').click(function(){
        $('#financial_information').modal('show');
    });

    $('#edit_user_information').click(function(){
        $('#user_information').modal('show');
    });
</script>