title = "Refer-a-friend"
url = "/refer-friend"
layout = "cya-layout"
is_hidden = 0

[contenteditor]
file = "refer-friend/refer-friend-heading.htm"

[contenteditor contenteditor2]
file = "refer-friend/refer-friend-body.htm"

[referform]

[referform referform2]
==
<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/cyyy.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
  <div class="container">

    <h1 class="wow zoomIn"></h1>

  </div>
</div>

<div class="section blog-feed bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 blog-feed-column">
        <div class="entry clearfix wow zoomIn post type-post status-publish format-standard has-post-thumbnail sticky hentry category-sample-posts category-uncategorized">

          {% flash success %}
          <p>{{ message }}</p>
          {% endflash %}
          <!-- Small Image Left, Excerpt Right -->
          <div class="entry-content-left">
           {% component 'contenteditor2' %}
         </div>

         <button id="refer_website" class="btn btn-md btn-primary pull-left">Refer Website</button>
         <button id="refer_webinar" class="btn btn-md btn-success pull-right">Refer Gps Trial</button>
         <!-- /Small Image Left, Excerpt Right -->
       </div>
     </div>
   </div>
 </div>
</div>


<style>
.form-control{
 border-radius: 1px !important; 
 height: 30px !important; 
}
</style>`
<div id="refer_website_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Refer Website to Friends</h4>
      </div>
      <div class="modal-body">
        <form data-request="{{ referform }}::onSave"
        data-request-flash>
        <div class="row form-group">
          <div class="col-md-6">
            <label>Your Full Name</label>
            
          </div>
          <div class="col-md-6">
            <input type="text" name="full_name" class="form-control">
            
          </div>
          
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label>Friend's Full Name</label>
            
          </div>
          <div class="col-md-6">
            <input type="text" name="friend_full_name" class="form-control">
            
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label>Friend's Email</label>
            
          </div>
          <div class="col-md-6">
            
            <input type="text" name="friend_email" class="form-control">
          </div>
        </div>
        <input type="hidden" name="type" value="website_refer"> 

        <input type="submit" value="Refer" class="btn btn-success btn-sm ">
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>
<div id="refer_webinar_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Refer Gps Trial to Friends</h4>
      </div>
      <div class="modal-body">
       <form data-request="{{ referform2 }}::onSave"
       data-request-flash>
       <div class="row form-group">
        <div class="col-md-6">
          <label>Your Full Name</label>
          
        </div>
        <div class="col-md-6">
          <input type="text" name="full_name" class="form-control">
          
        </div>
        
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <label>Friend's Full Name</label>
          
        </div>
        <div class="col-md-6">
          <input type="text" name="friend_full_name" class="form-control">
          
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <label>Friend's Email</label>
          
        </div>
        <div class="col-md-6">
          
          <input type="text" name="friend_email" class="form-control">
        </div>
      </div>
      <input type="hidden" name="type" value="gps_refer"> 

      <input type="submit" value="Refer" class="btn btn-success btn-sm ">
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>

</div>
</div>
<script type="text/javascript">
  $('#refer_website').click(function(){
    $('#refer_website_modal').modal('show');
  });
  $('#refer_webinar').click(function(){
    $('#refer_webinar_modal').modal('show');
  });
</script>