title = "Testimonial Page"
url = "/testimonial-page"
layout = "clean"
is_hidden = 0
show_menu = 0

[testimonials]
==
<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/bannerhome.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class="block-title wow zoomIn" style="height:300px !important"></h1>
    </div>
</div>

<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">
               
            {% component 'testimonials' %}
            
            <a href="{{ 'testimonial-form' | page }}" class="btn btn-primary btn-flat pull-right">Write Testimonials</a>
        </div>
    </div>
</div>