title = "Testimonial Add"
url = "/testimonial-form"
layout = "clean"
is_hidden = 0
show_menu = 0

[session]
security = "user"
allowedUserGroups[] = "agent"
allowedUserGroups[] = "client"
allowedUserGroups[] = "registered"
allowedUserGroups[] = "guest"
redirect = "login"

[form_testimonials]
==
<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/samples/67.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class="block-title wow zoomIn" style="color:#05386d !important; margin-bottom:57px;">Login</h1>
    </div>
</div>

<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-12 blog-feed-column">

                
                <div class="entry clearfix wow zoomIn post type-post status-publish format-standard has-post-thumbnail sticky hentry category-sample-posts category-uncategorized">


                    <div class="entry-content">
                       <div class="row">
                              <div class="col-md-12" >
                                  <div class="login-title">
                                      <h2 >Add Testimonial</h2>
                                  </div> 
                                  <div class="form">
                                    {% component 'session' %}
                                    {% component 'form_testimonials' %}
                                  </div>                               
                              </div>
                             
                       </div>
                    </div>
                    <!-- /Large Image Top, Full Content Below -->

                    <!-- Post Meta -->
                    
                    <!-- /Post Meta -->
                </div>          
            </div>          
        </div>
    </div>
</div>