title = "User activation"
url = "/user-activation/:code?"
layout = "clean"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
==

<div class="container">
	<div class="row text-center">
		<div class="col-sm-6 col-sm-offset-3">
			<br><br> <h2 style="color:#2e93cd">Email Confirmed Successfully</h2>
			<p style="font-size:20px;color:#5C5C5C;">Thank you for verifying your Email. To go to login page, click the link below.</p>
			<a href="{{url('/login')}}" class="btn btn-primary">     Log in      </a>
			<br><br>
		</div>

	</div>
</div>