title = "webinar"
url = "/webinar"
layout = "clean"
is_hidden = 0

[builderList]
modelClass = "Cya\Webinar\Models\Webinar"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[shares]
facebook = 1
twitter = 1
googleplus = 1
tumblr = 0
linkedin = 1
reddit = 0
digg = 0

[contenteditor]
file = "webinar_heading.htm"

[contenteditor contenteditor2]
file = "webinar_content.htm"
==
<div class="jumbotron image-banner banner-custom-header" style="background:url('{{ 'assets/images/know.jpg' | theme }}') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
    <div class="container">
        <h1 class=" wow zoomIn"></h1>
    </div>
</div>

<div class="section blog-feed bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-5 blog-feed-column">

                {% component 'contenteditor2' %}

            </div>
            <div class="col-md-5 blog-feed-column">
                {% set records = builderList.records %}
                {% set displayColumn = builderList.displayColumn %}
                {% set noRecordsMessage = builderList.noRecordsMessage %}
                {% set detailsPage = builderList.detailsPage %}
                {% set detailsKeyColumn = builderList.detailsKeyColumn %}
                {% set detailsUrlParameter = builderList.detailsUrlParameter %}
                
                <table class="table table-striped table-hover table-responsive" style="width: 100%">
                    <thead>
                        <tr>
                            <th>WEBNIAR</th>
                            <th>TIME</th>
                            <th>DATE</th>
                            <th>BOOKINGS</th>
                        </tr>
                    </thead>
                    {% for record in records %}
                    <tr>
                        <td>{{ record.name }}</td>
                        <td>{{ record.time }}</td>
                        <td>{{ record.date }}</td>
                        <td> <a class="btn btn-danger" href="{{'login'|page}}">Join Now</a></td>
                    </tr>    
                    {% else %}
                    <li class="no-data">{{ noRecordsMessage }}</li>
                    {% endfor %}
                </table>
                
                
            </div>

            <div class="oc-share">
                <div class="btn-group">
                    <div class="btn btn-xs">Share:</div>
                    {% if facebook %}
                    <a class="btn btn-xs" target="_blank" title="On Facebook" href="https://www.facebook.com/sharer.php?u={{url}}">
                     <img src="{{ 'assets/images/icon/social/facebook.jpg' | theme }}" width="18.5px" class="img-responsive">
                 </a>
                 {% endif %}

                 {% if twitter %}
                 <a class="btn btn-xs" target="_blank" title="On Twitter" href="https://twitter.com/share?url={{url}}&text={{ this.page.title }}">
                    <img src="{{ 'assets/images/icon/social/twiter.jpg' | theme }}" width="18.5px" class="img-responsive">
                </a>
                {% endif %}

                {% if googleplus %}
                <a class="btn btn-xs" target="_blank" title="On Google Plus" href="https://plus.google.com/share?url={{url}}">
                    <img src="{{ 'assets/images/icon/social/google.jpg' | theme }}" width="18.5px" class="img-responsive">
                </a>
                {% endif %}

                {% if linkedin %}
                <a class="btn btn-xs" target="_blank" title="On LinkedIn" href="https://www.linkedin.com/shareArticle?url={{url}}&title={{ this.page.title }}">
                    <img src="{{ 'assets/images/icon/social/linkdin.jpg' | theme }}" width="18.5px" class="img-responsive">
                </a>
                {% endif %}                
            </div>
        </div>

    </div>
</div>
</div>