title = "about-us"
url = "/about-us"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "cya\FrontendContent\Models\About_model"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[ssbuttons]
fa = "no"
twitter = 1
facebook = 1
google+ = 1
stumbleupon = 1
linkedin = 1
order_twitter = 1
order_facebook = 2
order_google+ = 3
order_stumbleupon = 4
order_linkedin = 5
==
<section class="fullwidth-image-block">
    {% set records = builderList.records %}
    {% set displayColumn = builderList.displayColumn %}
    {% set noRecordsMessage = builderList.noRecordsMessage %}
    {% for record in records %}
    {% if(record.slug =="about-us") %}
    {% if(record.status == 1) %}
    <div class="image-section">
        <div class="image-block inside-image" style="background-image: url({{ record.background_image.path }});">
            <div class="custom-container">
                <div class="section-content">
                    <div class="row">
                        <div class="two-block-content">
                            <div class="col-lg-5">
                                <div class="float-about">
                                    <h2>{{record.title}}</h2>
                                    <div class="content">
                                        <p>{{ record.short_description|raw }}</p>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                             <div class="right-block">
                                 <div class="detail-content">
                                     <p> {{record.body_description | raw}}</p>
                                 </div>
                                 <div class="buttons">
                                    <span class="join">
                                        <a href="{{ 'login'|page }}">Join Webinar</a>
                                    </span>

                                </div>
                                <div class="buttons">
                                    <span class="buy">
                                        <a href="{{ 'author'|page }}">Meet the Author</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% component 'ssbuttons' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% else %}
{{ noRecordsMessage }}
{% endfor %}
</section>

