title = "Agent_dashboard"
url = "/agent_dashboard"
layout = "agent_layout"
is_hidden = 0

[session]
security = "user"
redirect = "index"
==
{% if user %}
<a data-request="onLogout" data-request-data="redirect: '/'" class="btn btn-primary">Sign out</a>
{% component 'session' %}


<section class="content">
	<div class="container-fluid">
		<div class="block-header">
			<h2>DASHBOARD</h2>
		</div>
	</div>
</section>
{% endif %}