title = "Author"
url = "/author"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "cya\FrontendContent\Models\About_model"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<style>
.inside-custom-container{
    width: 1500px;
    margin: auto;
    padding: 50px;
}
.about-schedule p{
    color: #3d3d3d;
}
.added-margin{
    margin-bottom: 20px;
}
.top-margin{
    margin-top: 30px;
}

</style>
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% for record in records %}
{% if(record.slug == "author") %}
{% if(record.status == 1) %}

<section class="fullwidth-image-block">
    <div class="image-section">
        <div class="image-block home-image" style="background-image: url({{ record.background_image.path }});">
            <div class="custom-container">
                <div class="float-content">
                    <h2>{{record.title |raw}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="fullwidth-border">
    <section class="inside-custom-container">
        <div class="custom-container">
            <div class="full-width-row">
                <div class="row added-margin">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="compress-content">
                            <figure>
                               {{record.short_description |raw}}
                           </figure>
                       </div>
                   </div>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="right-block">
                        <div class="about-schedule">
                         <p>{{record.body_description |raw}}</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>
</div>
{% endif %}
{% endif %}
{% else %}
{{ noRecordsMessage }}
{% endfor %}