title = "Blog"
url = "/blog"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Cya\Blog\Models\Blog"
scope = "-"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "blog_details"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<section class="fullwidth-image-block">
    <div class="image-section">
        <div class="image-block home-image" style="background-image: url('{{'assets/images/know.jpg'|theme }}');">
            <div class="custom-container">
                <div class="float-content">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fullwidth-image-block">
    <div class="colored-background">
        <div class="custom-container">
            <div class="section-content">
                {% set records = builderList.records %}
                {% set displayColumn = builderList.displayColumn %}
                {% set noRecordsMessage = builderList.noRecordsMessage %}
                {% set detailsPage = builderList.detailsPage %}
                {% set detailsKeyColumn = builderList.detailsKeyColumn %}
                {% set detailsUrlParameter = builderList.detailsUrlParameter %}

                {% for record in records %}
                {% spaceless %}
                <div class="row">                
                    <div class="two-block-content">
                        <div class="col-lg-5">
                            <div class="schedule">
                                <div class="schedule-title">
                                    <h2>{{ record.title }}</h2>
                                </div>
                                <div class="about-schedule">
                                    <p>{{ record.short_description |raw }}
                                        {% if detailsPage %}
                                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" target="_blank">
                                            {% endif %}
                                        Read More...</p>
                                        {% if detailsPage %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-lg-7">
                            <div class="compress-content">
                                <figure>
                                    {{ record.image_link |raw}}
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                {% endspaceless %}
                {% else %}
                <li class="no-data">{{ noRecordsMessage }}</li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
</section>