title = "blog_details"
url = "/blog_details/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Cya\Blog\Models\Blog"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"

[builderList]
modelClass = "Cya\Blog\Models\Blog"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "blog_details"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<section class="fullwidth-image-block">
    <div class="colored-background">
        <div class="custom-container">
            <div class="section-content">
                <div class="row">
                    <div class="two-block-content">
                        {% set record = builderDetails.record %}
                        {% set displayColumn = builderDetails.displayColumn %}
                        {% set notFoundMessage = builderDetails.notFoundMessage %}
                        {% if record %}
                        <div class="col-md-6">
                            <div class="blog-inside-content">
                                <div class="blog-block">
                                    <div class="blog-image-content">
                                        {{ record.image_link |raw}}
                                    </div>
                                    <div class="about-blog-content">
                                        <p>
                                            {{record.description |raw}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {{ notFoundMessage }}
                        {% endif %}
                        <div class="col-md-6">
                            <div class="fixed-content">
                                <div class="fix-trends">
                                    <div class="fixed-title">
                                        <h3>TRENDING</h3>
                                    </div>
                                    {% set trending_records = builderList.records %}
                                    {% set displayColumn = builderList.displayColumn %}
                                    {% set noRecordsMessage = builderList.noRecordsMessage %}
                                    {% set detailsPage = builderList.detailsPage %}
                                    {% set detailsKeyColumn = builderList.detailsKeyColumn %}
                                    {% set detailsUrlParameter = builderList.detailsUrlParameter %}

                                    {% for trending_record in trending_records %}

                                    <div class="trending">
                                        <div class="trending-content">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="image">
                                                        {{ trending_record.image_link |raw}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="about-trends">
                                                        <p>{{ trending_record.short_description |raw}}</p>
                                                        <span class="date">{{ record.created_at }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% if detailsPage %}
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(trending_record, detailsKeyColumn) }) }}">
                                        {% endif %}


                                        {% if detailsPage %}
                                    </a>
                                    {% endif %}
                                    {% else %}
                                    <li class="no-data">{{ noRecordsMessage }}</li>
                                    {% endfor %}
                                    <hr class="lines">
                                    <div class="fix-similar">
                                        <div class="fixed-title">
                                            <h3>SIMILAR VIDEOS</h3>
                                        </div>
                                        {% set similar_videos = builderList.records %}
                                        {% set displayColumn = builderList.displayColumn %}
                                        {% set noRecordsMessage = builderList.noRecordsMessage %}
                                        {% set detailsPage = builderList.detailsPage %}
                                        {% set detailsKeyColumn = builderList.detailsKeyColumn %}
                                        {% set detailsUrlParameter = builderList.detailsUrlParameter %}

                                        {% for similar_video in similar_videos %}
                                        <div class="similar">
                                            <div class="similar-content">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="image">
                                                            {{ similar_video.image_link |raw}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="about-similar">
                                                            <p>{{ similar_video.short_description |raw}}</p>
                                                            <span class="date">{{ similar_video.created_at }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if detailsPage %}
                                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(similar_video, detailsKeyColumn) }) }}">
                                            {% endif %}


                                            {% if detailsPage %}
                                        </a>
                                        {% endif %}
                                        {% else %}
                                        <li class="no-data">{{ noRecordsMessage }}</li>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="like-block">
                                <div class="like-title">
                                    <h3>YOU MAY ALSO LIKE</h3>
                                </div>
                                {% set other_blogs = builderList.records %}
                                {% set displayColumn = builderList.displayColumn %}
                                {% set noRecordsMessage = builderList.noRecordsMessage %}
                                {% set detailsPage = builderList.detailsPage %}
                                {% set detailsKeyColumn = builderList.detailsKeyColumn %}
                                {% set detailsUrlParameter = builderList.detailsUrlParameter %}

                                <div class="others">
                                    <div class="row">
                                        {% for other_blog in other_blogs %}
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="other-blog">
                                                <div class="image">
                                                    {{ other_blog.image_link |raw}}
                                                </div>
                                                <div class="other-blog-content">
                                                    <p>{{ other_blog.short_description|raw }}</p>
                                                </div>
                                            </div>
                                        </div> 
                                        {% if detailsPage %}
                                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(other_blog, detailsKeyColumn) }) }}"> 
                                            {% endif %}
                                            {% if detailsPage %}
                                        </a>
                                        {% endif %}
                                        {% else %}
                                        <li class="no-data">{{ noRecordsMessage }}</li>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="reply-form">
                                <p>Leave a Reply</p>
                                <p>Your email address will not be published. Required fields are marked*</p>

                                <form>
                                    <div class="form-group">
                                        <label for="comment">Comment</label>
                                        <textarea type="text" id="comment" class="form-control" rows="7"></textarea>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-2">Name*</label>
                                        <div class="col-sm-10">
                                         <input type="text" id="name" class="form-control">
                                     </div>
                                 </div>
                                 <div class="form-group row">
                                    <label for="email" class="col-sm-2">Email*</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="website" class="col-sm-2">Website*</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="website" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row post-btn">
                                    <label class="col-md-12">Post Comment</label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>