title = "Contact-Us"
url = "/contact-us"
layout = "default"
is_hidden = 0

[contactform]

[GrofGraf\ContactMe\Components\ContactForm contactForm]
loadJS = 1
==
<section class="fullwidth-image-block">
	<div class="image-section">
		<div class="overlay-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8947040.214367623!2d-75.29566923617055!3d39.262898660408275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1500012278417" width="100%" height="800" frameborder="0" style="border:0" allowfullscreen=""></iframe>

			<div class="directions">
				<div class="direction-info">
					<span class="icon">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</span>
					<span class="content">
						<p>New York,USA</p>
						<p>info@hireyourhouse.com</p>
					</span>
				</div>		
			</div>
			
			
			<div class="right-block-form">
        {% component 'contactform' %}
      </div>

    </div>
  </div>
</section>