title = "Index"
url = "/"
layout = "default"
is_hidden = 0

[session]
security = "all"
==
<section class="fullwidth-image-block">
        <div class="image-section ">
            <div class="image-block home-image " style="background-image: url('{{'assets/images/cyyy.jpg'|theme }}');">
                <div class="custom-container">
                    <div class="float-content">
                        <h1>Know More, Invest Better, Retire Better</h1>
                        <a href="{{ 'login'|page }}">See how you can achieve it all</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="custom-content-block">
    <div class="common-container">
        <div class="section-content">
            <div class="row">
                <div class="three-block-content">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="content-block">
                            <div class="image">
                                <img src="{{'assets/images/out.png'|theme }}">
                            </div>
                            <div class="content">
                                <h5>Outliving Your Income</h5>
                                <p>That is a grim reality for millions….and this is not just limited to the United States.</p>
                            </div>
                            <div class="buttons">
                                <a href="problem.php">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="content-block">
                            <div class="image">
                                <img src="{{'assets/images/quick.png'|theme }}">
                            </div>
                            <div class="content">
                                <h5>Quick Fix</h5>
                                <p>First, you have to understand if these vehicles aren’t the best for you to use then why isn’t your financial</p>
                            </div>
                            <div class="buttons">
                                <a href="{{ 'quick'|page }}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="content-block">
                            <div class="image">
                                <img src="{{'assets/images/solution.png'|theme }}">
                            </div>
                            <div class="content">
                                <h5>Our Solutions</h5>
                                <p>Everyone makes a goal to pay off a 15 or 30 year loan, on average the bank will make 2-3 times profit</p>
                            </div>
                            <div class="buttons">
                                <a href="{{ 'solution'|page }}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two-block-content">
                    <div class="col-md-6">
                        <div class="with-image">
                            <img src="{{'assets/images/comp.png'|theme }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="with-context">
                            <h2>We are here to get you the best options for your mortgage</h2>
                            <div class="link">
                                <a href="{{ 'webinar'|page }}">Find Out How</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-block-content">
                    <div class="col-sm-12">
                        <div class="content">
                            <h2>Integrations</h2>
                            <p>Seamlessly connected to your exisiting solution</p>
                        </div>
                        <div class="solution-block">
                            <ul>
                                <li>
                                    <img src="{{'assets/images/v2.jpg'|theme }}">                                    
                                </li>
                                <li>
                                    <img src="{{'assets/images/v1.jpg'|theme }}">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="fullwidth-image-block">
        <div class="image-section">
            <div class="image-block" style="background-image: url('{{'assets/images/golf.jpg'|theme }}');">
                <div class="custom-container">
                    <div class="table-block">
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-6">
                                <h3>TRADITIONAL APPROACH VS CYA APPROACH</h3>
                                <div class="table-container">
                                    <div class="table">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Traditional</th>
                                            <th>CYA</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Interest Paid Out</td>
                                            <td>100</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>Mortgage Payments</td>
                                            <td>70</td>
                                            <td>62</td>
                                        </tr>
                                        <tr>
                                            <td>Liquidity</td>
                                            <td>No</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>Leverage</td>
                                            <td>No</td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Income form hoouse</td>
                                            <td>0</td>
                                            <td>100</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                                <div class="apply-btn">
                                    <a href="{{ 'webinar'|page }}">Apply Now</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="custom-content-block">
        <div class="common-container">
            <div class="section-content">
                <div class="row">
                    <div class="single-block-content">
                        <div class="col-sm-12">
                            <div class="content">
                                <h2>Featured On</h2>
                            </div>
                            <div class="solution-block">
                                <ul>
                                    <li>
                                    <img src="{{'assets/images/v4.jpg'|theme }}">
                                    </li>
                                    <li>
                                    <img src="{{'assets/images/v3.jpg'|theme }}">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fullwidth-image-block">
       <div class="subscribe-btn">
           <div class="common-container">
               <div class="row">
                   <div class="col-md-8">
                       <div class="title">
                           <h3>Find out how you live your life more!</h3>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="sub-btn">
                           <a href="{{ 'login'|page }}">Subscribe Now</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </section>