title = "login"
url = "/login"
layout = "default"
is_hidden = 0

[account]
redirect = "index"
paramCode = "code"
forceSecure = 0
==
<section class="fullwidth-image-block">
    <div class="image-block colored-background">
        <div class="custom-container">
            <div class="section-content">
                <div class="row">
                    <div class="two-block-content">
                        <div class="col-md-6">
                            <div class="login-form">
                                <div class="login-title">
                                    <h3>LOGIN TO YOUR ACCOUNT</h3>
                                </div>
                                <div class="form">
                                    <h3>Sign in</h3>
                                    {% partial account ~ '::login' %}
                                    <div class="clearfix">
                                    </div>
                                    <p>If you  are not Registered. <a href="{{ 'register'|page }}">Click Here</a> to Create Your Account</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-block">
                                <div class="image" style="background-image: url('{{'assets/images/calc.jpg'|theme }}');"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
