title = "Problem"
url = "/problem"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "cya\FrontendContent\Models\Solution_model"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<style>
.inside-custom-container{
    width: 1325px;
    margin: auto;
    padding: 50px;
}
.about-schedule p{
    color: #3d3d3d;
}
.added-margin{
    margin-bottom: 20px;
}
.top-margin{
    margin-top: 30px;
}

</style>
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% for record in records %}
{% if(record.slug == "problems") %}
<section class="fullwidth-image-block">
    <div class="image-section">
        <div class="image-block home-image" style="background-image: url({{ record.background_image.path }});">
            <div class="custom-container">
                <div class="float-content">
                    <h1>{{ record.banner_text |raw}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="fullwidth-border">
 <section class="inside-custom-container">
    <div class="custom-container">
        <div class="full-width-row">
            <div class="row added-margin">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {{ record.body |raw}}
                </div>
            </div>

        </div>
    </div>
</section>
</div>    
{% endif %}
{% else %}
{{ noRecordsMessage }}
{% endfor %}