title = "Refer"
url = "/refer"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "cya\FrontendContent\Models\About_model"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<section class="fullwidth-image-block">
    {% set records = builderList.records %}
    {% set displayColumn = builderList.displayColumn %}
    {% set noRecordsMessage = builderList.noRecordsMessage %}
    {% for record in records %}
    {% if(record.slug == "refer-friend") %}
    {% if(record.status == 1) %}
    <div class="image-section">
        <div class="image-block inside-image" style="background-image: url({{ record.background_image.path }});">
            <div class="custom-container">
                <div class="section-content">
                    <div class="row">
                        <div class="two-block-content">
                            <div class="col-lg-5">
                                <div class="float-about">
                                    <h2>{{record.title |raw}}</h2>
                                    <div class="content">
                                       {{record.short_description |raw}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="right-block">
                                    <div class="detail-content">
                                        <p>{{record.body_description |raw}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% else %}
    {{ noRecordsMessage }}
    {% endfor %}
</section>