title = "Register"
url = "/register"
layout = "default"
is_hidden = 0

[account]
redirect = "index"
paramCode = "code"
forceSecure = 0
==
<section class="fullwidth-image-block">
    <div class="image-section">
        <div class="image-block home-image" style="background-image: url('{{'assets/images/know.jpg'|theme }}');">
            <div class="custom-container">
                <div class="float-content">
                    <!--<h1>Know More, Invest Better, Retire Better</h1>-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fullwidth-image-block">
    <div class="register colored-background">
        <div class="custom-container">
            <div class="section-content">
                <div class="row">
                    <div class="centered-block-form">
                        <div class="col-md-12">
                            <div class="login-form">
                                <div class="login-title">
                                    <h3>Register</h3>
                                </div>
                                <div class="form">
                                    {% partial account ~ '::user_register' %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>