title = "Status"
url = "/status"
layout = "default"
is_hidden = 0
==

<section class="fullwidth-image-block">
        <div class="image-block colored-background">
            <div class="custom-container">
                <div class="section-content">
                    <div class="row">
                        <div class="two-block-content">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default login-form">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <a href="#status-panel" data-toggle="collapse" data-parent="#accordion">
                                                    <span>WHY ARE WE ASKING YOU THESE QUESTIONS</span>
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="panel-collapse collapse" id="status-panel">
                                            <div class="panel-body">
                                                <p>The GPS uses all your disposable income after debt calculation to leverage the extra money that we will suggest to use, this is a mathematical formula that if you are accurate will give you the blueprint to eliminate debt and save thousands of dollars that would inevitably would be paid out in interest to the banks.</p>
                                            </div>
                                        </div>
                                        <div class="form">
                                            <form>
                                                <div class="form-group">
                                                    <label for="status">Please select You are single or Married</label>
                                                    <select class="form-control" id="status">
                                                        <option>Single</option>
                                                        <option>Married</option>
                                                    </select>
                                                </div>

                                                <div class="buttons">
                                                    <span class="sub"><a href="#">Confirm</a></span>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="right-block">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">
                                                    <a href="#information" data-toggle="collapse" data-parent="#accordion">
                                                        <span>Information</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="panel-collapse collapse" id="information">
                                                <div class="panel-body">
                                                    <form>
                                                        <div class="form-group row">
                                                            <label for="name" class="col-sm-3">Name:</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" id="name" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="dob" class="col-sm-3">Date of Birth:</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" id="dob" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="email" class="col-sm-3">Email:</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" id="email" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="mobno1" class="col-sm-3">Mobile Number:</label>
                                                            <div class="col-sm-9">
                                                                <input type="number" id="mobno1" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="mobno2" class="col-sm-3">Second Number:</label>
                                                            <div class="col-sm-9">
                                                                <input type="number" id="mobno2" class="form-control">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">
                                                    <a href="#card" data-toggle="collapse" data-parent="#card">
                                                        <span>Revolving Accounts(Credit Cards)</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="panel-collapse collapse" id="card">
                                                <div class="panel-body">
                                                    <div class="available-for-clone">
                                                        <div class="add-btn-more clone-me">Addmore</div>
                                                        <div class="row">
                                                            <div class="col-md-6 form-group">
                                                                <label>What is the balance on the account? </label>
                                                                <input type="text" class="form-control" name = "rev_account_balance[]">
                                                            </div>
                                                            <div class="col-md-6 form-group">
                                                                <label>What is the interest rate? </label> 
                                                                <input type="text" class="form-control" name = "rev_interest_rate[]">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 form-group">
                                                                <label>What is the minimum payment? </label>
                                                                <input type="text" class="form-control" name = "rev_minimum_payment[]">
                                                            </div>
                                                            <div class="col-md-6 form-group">
                                                                <label>How much do you actually pay? </label>
                                                                <input type="text" class="form-control" name = "rev_actual_pay[]">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 form-group">
                                                                <label>What is the due date? </label>
                                                                <input type="text" class="form-control" name = "rev_due_date[]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                            <a href="#installment" data-toggle="collapse" data-parent="#accordion">
                                                                <span>Installment Section</span>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                    <div class="panel-collapse collapse" id="installment">
                                                        <div class="panel-body">
                                                            <form>
                                                                <div class="form-group row">
                                                                    <label for="name" class="col-sm-3">Name:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="dob" class="col-sm-3">Date of Birth:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="dob" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="email" class="col-sm-3">Email:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="email" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="mobno1" class="col-sm-3">Mobile Number:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" id="mobno1" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="mobno2" class="col-sm-3">Second Number:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" id="mobno2" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                            <a href="#mortgage" data-toggle="collapse" data-parent="#accordion">
                                                                <span>Mortgage Section</span>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                    <div class="panel-collapse collapse" id="mortgage">
                                                        <div class="panel-body">
                                                            <form>
                                                                <div class="form-group row">
                                                                    <label for="name" class="col-sm-3">Name:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="dob" class="col-sm-3">Date of Birth:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="dob" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="email" class="col-sm-3">Email:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="email" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="mobno1" class="col-sm-3">Mobile Number:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" id="mobno1" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="mobno2" class="col-sm-3">Second Number:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" id="mobno2" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                            <a href="#expenses" data-toggle="collapse" data-parent="#accordion">
                                                                <span>Expenses</span>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                    <div class="panel-collapse collapse" id="expenses">
                                                        <div class="panel-body">
                                                            <form>
                                                                <div class="form-group row">
                                                                    <label for="name" class="col-sm-3">Name:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="dob" class="col-sm-3">Date of Birth:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="dob" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="email" class="col-sm-3">Email:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="email" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="mobno1" class="col-sm-3">Mobile Number:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" id="mobno1" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="mobno2" class="col-sm-3">Second Number:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" id="mobno2" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                            <a href="#income" data-toggle="collapse" data-parent="#accordion">
                                                                <span>Income</span>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                    <div class="panel-collapse collapse" id="income">
                                                        <div class="panel-body">
                                                            <form>
                                                                <div class="form-group row">
                                                                    <label for="name" class="col-sm-3">Name:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="dob" class="col-sm-3">Date of Birth:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="dob" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="email" class="col-sm-3">Email:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="email" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="mobno1" class="col-sm-3">Mobile Number:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" id="mobno1" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="mobno2" class="col-sm-3">Second Number:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" id="mobno2" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                            <a href="#bank" data-toggle="collapse" data-parent="#accordion">
                                                                <span>Bank Info</span>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                    <div class="panel-collapse collapse" id="bank">
                                                        <div class="panel-body">
                                                            <form>
                                                                <div class="form-group row">
                                                                    <label for="name" class="col-sm-3">Name:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="dob" class="col-sm-3">Date of Birth:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="dob" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="email" class="col-sm-3">Email:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="email" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="mobno1" class="col-sm-3">Mobile Number:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" id="mobno1" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="mobno2" class="col-sm-3">Second Number:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" id="mobno2" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <script type="text/javascript">

                $(document).on('click', '.clone-me', function(){
                    var currentDiv = $(this).parents(".available-for-clone");
                    var cloned = currentDiv.clone();

                    cloned.removeClass('available-for-clone').addClass('cloned');
                    cloned.insertAfter(currentDiv);
                    cloned.find('.add-btn-more').removeClass('clone-me').addClass('unclone-me');
                    cloned.find('.add-btn-more').html('<img src="{{"assets/images/remove.png"|theme }}" width="30px">');  
                });

                $(document).on('click', '.unclone-me', function(){
                    $(this).parents('.cloned').remove();
                }); 

            </script>