title = "webinar"
url = "/webinar"
layout = "default"
is_hidden = 0

[builderList Webinar]
modelClass = "Cya\Webinar\Models\Webinar"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList]
modelClass = "cya\FrontendContent\Models\About_model"
scope = "-"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% for record in records %}
{% if(record.slug == "webinar-schedule") %}
<section class="fullwidth-image-block">
    <div class="image-section">
        <div class="image-block home-image" style="background-image: url('{{'assets/images/know.jpg'|theme }}');">
            <div class="custom-container">
                <div class="float-content">
                    <h1>Know More, Invest Better, Retire Better</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fullwidth-image-block">
    <div class="colored-background">
        <div class="custom-container">
            <div class="section-content">
                <div class="row">
                    <div class="two-block-content">
                        <div class="col-lg-5">
                            <div class="schedule">
                                <div class="schedule-title">
                                    <h2>{{record.title |raw}}</h2>
                                </div>
                                <div class="about-schedule">
                                    <p>{{record.short_description |raw}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="right-block">
                                <div class="schedule-table ">
                                    <div class="table-container" style="width: 100%">
                                        <div class="table">
                                            <table class="table table-striped table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>WEBNIAR</th>
                                                        <th>TIME</th>
                                                        <th>DATE</th>
                                                        <th>BOOKINGS</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% set records = Webinar.records %}
                                                    {% set displayColumn = Webinar.displayColumn %}
                                                    {% set noRecordsMessage = Webinar.noRecordsMessage %}

                                                    {% for record in records %}
                                                    {% if record.status == 1 %}
                                                    <tr>
                                                        <td>
                                                            {{ record.name }}
                                                        </td>
                                                        <td>
                                                            {{ record.time }}
                                                        </td>
                                                        <td>
                                                            {{ record.date }}
                                                        </td>
                                                        <td>
                                                            <a href="{{'login'|page}}">Join Now</a>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                    {% else %}
                                                    <li class="no-data">{{ noRecordsMessage }}</li>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% else %}
<li class="no-data">{{ noRecordsMessage }}</li>
{% endfor %}
