<p>
    We have a very simple approach, we reward you for spreading the word! You should have tried the GPS and seen an amazing savings, you probably are on track to save tens of thousands some are saving hundreds of thousands of dollars that would have otherwise been paid in interest!
</p>
<p>
    If you know people who own a house anywhere in the country and you tell them your experience and how much money you are projected to save.
</p>
<p>
    Your referral will be entitled to try the GPS for 7 days for free, if they join you will receive credit for the referral, if you have 5 referrals your $29 per month GPS is free for life as long as you have 5 active referrals using the software.
</p>
<p>
    Our non profit partner The HALO Foundation is also putting together some great incentives for our clients that will be announced in the fall.
</p>
<p>
    Vacations
</p>
<p>
    Home Entertainment Packages
</p>
<p>
    Cars
</p>
<p>
    
</p>
