<p>
    This website has been created as a collaborative initiative between <strong>The HALO Foundation</strong> and the authors of <strong>“How To Hire Your House”</strong>. The HALO Foundation is a non-profit organization. In accordance with The HALO Foundation’s mission <a href="http://hireyourhouse.com/" target="_blank">hireyourhouse.com</a> is looking to help address a major problem facing the American middle-class, which is the ability to truly stop working when people become senior citizens. With the absence of the pension for the majority of middle-class Americans there is not a sure way using traditional methods today to allow a person to ever stop working when they are old!
</p>
<p>
    In pursuit of a solution to address this crisis facing the American middle-class <strong>The HALO Foundation</strong>partnered with the authors of <strong>“How To Hire Your House”</strong> to create a system that can potentially help millions of Americans to be secure in their senior years. The HALO Foundation has made available for this initiative its Financial GPS software, that can be used to help the average American utilize the strategies specified in the book <strong>“How To Hire Your House”</strong>.
</p>
<p>
    Most Americans are living longer than ever before in modern history and we are seeing the first generation that is outliving their savings. Through this site <strong>The HALO Foundation</strong> and the authors of <strong>“How To Hire Your House”</strong> will show the public a better way to leverage their monies currently going to the bank. This site will also show how to turn the tables on the banks and to use your house as an asset instead of a liability!
</p>
<p>
    Education is the most important factor to address any problem a person or society may face. So this site provides a series of free videos that explain the concepts put forth in the book <strong>“How To Hire Your House”</strong>to educate anyone who accesses this website. We believe that the educational videos and Financial GPS software offered on this website will help make our communities stronger, wiser, and more importantly allow millions of people to achieve self-sustainability!
</p>
<p>
    Our goal is to educate the public regarding the issue that most Americans will never stop working and provide our “Hire Your House” system as the solution that can potential help millions!
</p>