<p>
    <strong>Mario Henry</strong> is a very advanced out the box thinker. He has taken that philosophy and applied it throughout his entire life, which has allowed him to focus on problem solving. He has started several companies and always applies this way of thinking in order to create a win/win situation with his clients. He attended both the University of South Carolina (Columbia, SC) and Rutgers University (New Brunswick, NJ) on football athletic scholarships as wide receiver. Following his collegiate athletic career Mario beat incredible odds and made it all the way to the National Football League (NFL).
</p>
<p>
    There was no fanfare when his career was cut short. Though he was devastated for not having a successful professional football career, he focused his passion and competitive nature during his athletic career towards being the best entrepreneur for his many business ventures. He has inspired thousands of children with his motivational speaking about goal setting, and he wants to live what he speaks. His main desire is to have his patent pending Control Your Assets program on a platform that the 75 million Americans who own houses can take advantage of this financial discovery!
</p>