<h2>
    Frequently Asked Questions
</h2>
<p>
    <a href="contact-us">Ask more specific questions to a CYA representative.</a>
</p>

<table class="table table-bodered table-striped">
    <tbody>
        <tr>
            <th>
                Q. Why have I not heard of this program before?
            </th>
        </tr>
        <tr>
            <td>
                A. Homeowners in Australia and the United Kingdom have been using this system for the last 12 years. In fact, more than a third of the households in Australia and about one fourth of the households in the United Kingdom are currently using a program to accelerate their equity. The financial institutions in the United States do not like this program because they make less money in interest per household.
            </td>
        </tr>
        <tr>
            <th>
                Q. Is this a new concept in the United States?
            </th>
        </tr>
        <tr>
            <td>
                A. No. Many fortune 500 companies use a banking technique called a 'sweep account'. This technique is used to reduce the daily calculated interest. Big companies started moving or 'sweeping' their bank accounts daily to an outstanding interest bearing loan to reduce average daily interest.
            </td>
        </tr>
        <tr>
            <th>
                Q. Why can't I just make extra payments to the principal on my current mortgage? Isn't it the same thing?
            </th>
        </tr>
        <tr>
            <td>
                A. CYA's program contains an algorithm that systematically creates the highest interest savings possible in the least amount of time. Each individual, due to the uniqueness of their situation, requires a custom plan to achieve optimal results. Plus, if you make additional payments on a conventional 30-year fixed-rate loan, you can't borrow that money without taking out a home-equity line of credit or a home-equity loan. With the mortgage-accelerator program, you already have the line of credit in place. That gives homeowners confidence that they can be aggressive in paying their mortgages and still have money readily available if a financial emergency comes up..
            </td>
        </tr>
        <tr>
            <th>
                Q. Why do I have to apply for a line of credit for this program to work?
            </th>
        </tr>
        <tr>
            <td>
                A. CYA's program utilizes a line of credit to maximize interest savings. Interest in a line of credit is calculated on an average daily balance. Normally, it would not make sense to open up a line of credit with a higher interest rate. But since you put your pay check into your line of credit account every month, your balance stays lower and you pay less interest.
            </td>
        </tr>
        <tr>
            <th>
                Q. Do I have to spend less and pay more every month for this program to work?
            </th>
        </tr>
        <tr>
            <td>
                A. The software platform is designed to maximize your net monthly discretionary income which means it will tell you exactly how to effectively allocate your income for the purposes of debt elimination and wealth acceleration. On occasion, the platform will make recommendations on paying a specific debt quicker but you have full control of your decision-making.
            </td>
        </tr>
        <tr>
            <th>
                Q. What happens if I sell my home?
            </th>
        </tr>
        <tr>
            <td>
                A. CYA's program helps you build equity. Essentially it is impossible to move backwards if you follow your personalized plan. The line of credit will not affect your ability to sell your house. Plus, when you move into your new home, you can use the same program to pay your new home off faster and save thousands in interest.
            </td>
        </tr>
        <tr>
            <th>
                Q. Why do I need to use a software platform to get out of debt?
            </th>
        </tr>
        <tr>
            <td>
                A. The software platform uses a series of mathematical algorithms to maximize the highest and best use of their monthly net discretionary income to calculate the most effective debt elimination and wealth acceleration plan. By design the platform eliminates the guesswork, doing all the mathematical calculations for you. All you need to do is follow the plan.
            </td>
        </tr>
        <tr>
            <th>
                Q. Does the software platform work for everyone?
            </th>
        </tr>
        <tr>
            <td>
                A. Absolutely! Because it is a full spectrum debt elimination and wealth acceleration tool, the software platform is designed to work for everyone regardless of their current financial circumstances.
            </td>
        </tr>
        <tr>
            <th>
                Q. Will the software product help me set up a monthly budget?
            </th>
        </tr>
        <tr>
            <td>
                A. Yes! When a client sets up their account for the first time they will be asked to gather all of their financial information and enter it into the software platform. Once the information is complete, the client simply clicks a button and the software will automatically calculate their wealth acceleration plan for them, including their monthly budget.
            </td>
        </tr>
        <tr>
            <th>
                Q. I own a business. Can I use the software platform to manage my business expenses?
            </th>
        </tr>
        <tr>
            <td>
                The software platform is designed to allow you to set up a stand-alone business account in addition to your primary account for no additional cost. This allows you to keep your personal expenses separate from your business expenses.
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>