<!-- Navigation -->
            <div class="navbar-collapse collapse">
                <ul id="menu-header" class="nav navbar-nav navbar-right menu-header">
                  
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown">
                        <a title="Features" href="#" data-toggle="dropdown" class="dropdown-toggle">About <b class="fa fa-angle-down"></b></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">

                                <a title="About Us" href="{{ 'about-us' | page }}">About Us</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a title="Author Information" href="{{ 'author' | page }}">Meet the Author</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="Problems" href="{{ 'problem' | page }}">Problem</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="Quick Fix" href="{{ 'quick' | page }}">Quick Fix</a>
                            </li>
                            
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="Solution" href="{{ 'solution' | page }}">Solution</a>

                            </li>

                        </ul>
                    </li>
                    <li class="page-scroll hidden-sm hidden-md menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active">
                        <a title="Webinar Schedule" href="{{ 'webinar' | page }}">Webinar Schedule</a>
                    </li>
                    <li class="page-scroll hidden-sm hidden-md menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active">
                        <a title="Gps Trial" href="#latest">GPS Trial</a>
                    </li>
                     <li class="page-scroll hidden-sm hidden-md menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active">
                        <a title="Blogs" href="{{ 'contact-us' | page }}">Blogs</a>
                    </li>
                    <li class="page-scroll hidden-sm hidden-md menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active">
                        <a title="Contact Us" href="{{ 'contact-us' | page }}">Contact Us</a>

                    </li>
                </ul>
            </div>