<strong>Requirements-</strong>
<ol>
    <li>
        <strong>Detailed Budget-</strong> The software platform requires that you take the time to create a budget for you to meet your financial goals. This is the first step to realizing your dream of true financial freedom. Closely review how much money you earn each month and then reconcile it with how much you are spending each month. The software platform will only work if you are making more money than you are spending
    </li>
    <li>
        <strong>Checking/Savings Account or Line of Credit (LOC)-</strong> The software platform uses one of the above bank instruments as a tool to drive the platform. In most cases, using a traditional checking/savings account will be sufficient, however if you choose to use a line of credit, the line of credit must have the capacity to operate just like your checking account and must be set up with an open-end interest calculation. Using a line of credit with our web-based software platform creates an environment in which the money available from your line of credit account generates an interest cancellation on your primary mortgage.
    </li>
    <li>
        <strong>Wealth Acceleration Software Platform-</strong> Statistic show that most consumers do not meet their financial goals on their own due to a lack of financial literacy. This is the reason why using a mechanism such as our software platform to help manage your finances is so important. Every individual, due to the uniqueness of their financial circumstances, requires a custom wealth acceleration plan to achieve optimal results. The software platform will maximize the highest and best use of your net discretionary income every single month, creating the highest interest savings possible in the least amount of time.
    </li>
</ol>
<br>
<br>