<h3>
    Terms of Services
</h3>
<p>
    Control Your Assets is a wealth building system created to show an individual how to use our Debt-Elimination software in conjunction with various insurance products to potentially create a lifetime income.
</p>
<p>
    This is for educational purposes and results may vary based upon each individual’s unique financial situation. An individual’s financial decision is based solely upon their own research and due diligence.
</p>
<p>
    Any illustrations shown on this site are based upon industry accepted index averages, but past performance of these indexes cannot guarantee future results. The recommended plan require each individual to follow it with discipline and consistency as outlined.
</p>
<p>
    The Control Your Assets system is not an overnight get rich solution, but instead is a long range solution designed to provide a path on how to potentially create a life time income.
</p>
<p>
    We Control Your Assets program provides minimal risk, however there is no guarantee that the plan we propose will perform exactly how it was illustrated. Our recommendations are industry averages based upon historical data of the past 25 years that are used to estimate potential future performance.
</p>
<p>
    Everyone has different modes of learning. With this understanding, we encourage those who need help to fully understand our Control Your Assets process to please schedule a ‘One-on One’ conference call with one of our support representatives.
</p>
<p>
    You are more than welcome to utilize any independent financial professional for their advice. Understand, that our program utilizes non-traditional methods that most financial professionals may not agree.
</p>
<p>
    We are very confident in our program and our solutions but it would be very irresponsible for us not to have proper disclaimers for our students/clients.
</p>
<p>
    We created this program because of the despair we foresee for many Americans using the current traditional financial models that expose individuals too many financially hazards overlooked by most financial experts.
</p>
<p>
    We hope you enjoy the information presented on this site, review it with an open mind, and hope you will then prosper with us!
</p>