<p>
    TRADITIONAL&nbsp; APPROACH VS CYA APPROACH
</p>
<table class="table table-bodered">
    <thead style="background: #2e93cd;">
        <tr>
            <th>
                Attributes
            </th>
            <th>
                Traditional
            </th>
            <th>
                CYA
            </th>
        </tr>
    </thead>
    <tbody style="background: grey;">
        <tr>
            <td>
                Interest Paid Out
            </td>
            <td>
                100
            </td>
            <td>
                0
            </td>
        </tr>
        <tr>
            <td>
                Mortgage Payments
            </td>
            <td>
                70
            </td>
            <td>
                62
            </td>
        </tr>
        <tr>
            <td>
                Liquidity
            </td>
            <td>
                No
            </td>
            <td>
                100
            </td>
        </tr>
        <tr>
            <td>
                Leverage
            </td>
            <td>
                No
            </td>
            <td>
                Yes
            </td>
        </tr>
        <tr>
            <td>
                Income From House
            </td>
            <td>
                0
            </td>
            <td>
                100
            </td>
        </tr>
    </tbody>
</table>