<form data-request="{{ __SELF__ }}::onSave"
    data-request-flash>
              <div class="row form-group">
              <div class="col-md-6">
                <label>Your Full Name</label>
                
              </div>
              <div class="col-md-6">
                <input type="text" name="full_name" class="form-control">
                
              </div>
                
              </div>
              <div class="row form-group">
              <div class="col-md-6">
                <label>Friend's Full Name</label>
                
              </div>
              <div class="col-md-6">
                <input type="text" name="friend_full_name" class="form-control">
                
              </div>
              </div>
              <div class="row form-group">
              <div class="col-md-6">
                <label>Friend's Email</label>
                
              </div>
              <div class="col-md-6">
                
                <input type="text" name="friend_email" class="form-control">
              </div>
              </div>
                <input type="hidden" name="type" value="website_refer"> 

              <input type="submit" value="Refer" class="btn btn-success btn-sm ">
          </form>