title = "Page full width"
url = "/page-with-title"
layout = "titled"
is_hidden = 0

[editable]
file = "full-width-page/full-width.htm"
==
<div class="row">
    <div class="col-md-7">
             {% component 'editable' %}
       
    </div>
    <div class="col-md-5">
        <p><img class="img-responsive" src="{{ 'assets/images/samples/about-img.jpg' | theme }}" alt="" /></p>
    </div>
</div>

<div class="spacer" style="height: 60px"></div>

<div class="row">
    <div class="col-md-6">
        <h3 class="block-title block-title-left">Our Strengths</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae iste sit commodi eaque voluptatem officia quam.</p>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h3 class="block-title block-title-left">Contact us today!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <ul class="icon-list">
            <li><i class="fa fa-map-marker"></i>1234, Street Number, City, State</li>
            <li><i class="fa fa-phone"></i>+1(123) 456 7890</li>
            <li><i class="fa fa-envelope"></i>help@yourdomain.com</li>
        </ul>
    </div>
</div>