<div class="contact-form">
 <form data-request = "Blog_comment::onSave">
    <div class="row">
        <label>Name*</label>
        <input type="text" class="form-control" name = "name" id="name" placeholder="Fullname">
    </div>
    <div class="row">
        <label>Email*</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail Address">
    </div>
    <div class="row">
        <label>Comment*</label>
        <textarea  type="text" class="form-control" name = "comment" id="comment" placeholder="Comment"></textarea>
    </div>
    <button class="btn btn-primary btn-md btn-flat">Submit</button>
</form>
</div>
