==
<div class="footer">
    <div class="container">
        <div class="row">

            <!-- Navigation -->
            <div class="col-md-8">
                <ul id="menu-footer" class="nav-foot">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">

                        <a href="{{ 'contact-us' | page }}">Contact</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                       <li><a href="{{ 'terms' | page }}">Terms</a></li>
                    </li>
                    

                </ul>
            </div>

            <!-- Copyright and Credits -->
            <div class="col-md-4">
                <div class="copyright">
                    Copyright 2018<br />

                </div>
            </div>

        </div>
    </div>

</div>