[viewBag]

[builderList]
modelClass = "Cya\Blog\Models\Blog"
scope = "scopeInlimit"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "blog-detail"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[newsPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postPage = "news-detail"
postFeatured = 0
==
<div class="widget widget_recent_entries">
    <h3 class="widget-title">Recent Posts</h3>
    <ul>
        {% set records = builderList.records %}
        {% set displayColumn = builderList.displayColumn %}
        {% set noRecordsMessage = builderList.noRecordsMessage %}
        {% set detailsPage = builderList.detailsPage %}
        {% set detailsKeyColumn = builderList.detailsKeyColumn %}
        {% set detailsUrlParameter = builderList.detailsUrlParameter %}

        
        {% for record in records %}
        <li>
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
            {% if detailsPage %}
            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                {{ record.title }}

                {% if detailsPage %}
            </a>
            {% endif %}
            {% endspaceless %}
        </li>
        {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
        {% endfor %}
    </ul>
    
    
    
</div>

<div id="recent-news-3" class="widget widget_recent_entries">
    <h3 class="widget-title">Recent News</h3>

    <div class="post-list">
        <ul>
        {% set posts = newsPosts.posts %}
            {% for post in posts %}
                <li>
                <div class="post-item">
                    <a href="{{url("news-detail")}}/{{ post.slug }}">{{ post.title }}</a>
                </div>
                {% else %}
                <span class="post-nodata">{{ noPostsMessage }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>



</div>
    <!-- <div class="widget widget_tag_cloud">
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud">
            <a href='#' class='tag-link-7 tag-link-position-1' title='2 topics' style='font-size: 8pt;'>animal</a>
            <a href='#' class='tag-link-30 tag-link-position-2' title='2 topics' style='font-size: 8pt;'>flower</a>
            <a href='#' class='tag-link-31 tag-link-position-3' title='2 topics' style='font-size: 8pt;'>forest</a>
            <a href='#' class='tag-link-43 tag-link-position-4' title='2 topics' style='font-size: 8pt;'>nature</a>
            <a href='#' class='tag-link-44 tag-link-position-5' title='2 topics' style='font-size: 8pt;'>ocean</a>
            <a href='#' class='tag-link-50 tag-link-position-6' title='2 topics' style='font-size: 8pt;'>sample post</a>
            <a href='#' class='tag-link-66 tag-link-position-7' title='2 topics' style='font-size: 8pt;'>water</a>
        </div>
    </div> -->
    <style type="text/css">
    .qtranxs_widget ul { margin: 0; }
    .qtranxs_widget ul li
    {
        display: inline; /* horizontal list, use "list-item" or other appropriate value for vertical list */
        list-style-type: none; /* use "initial" or other to enable bullets */
        margin: 0 5px 0 0; /* adjust spacing between items */
        opacity: 0.5;
        -o-transition: 1s ease opacity;
        -moz-transition: 1s ease opacity;
        -webkit-transition: 1s ease opacity;
        transition: 1s ease opacity;
    }
    .qtranxs_widget ul li.active { opacity: 0.8; }
    .qtranxs_widget ul li:hover { opacity: 1; }
    .qtranxs_widget img { box-shadow: none; vertical-align: middle; display: initial; }
    .qtranxs_flag span { display:none; }
</style>
    <!-- <div class="widget qtranxs_widget">
        <h3 class="widget-title">Language:</h3>
        <ul class="language-chooser language-chooser-image qtranxs_language_chooser" id="qtranslate-1-chooser">
            <li class="lang-en active">
                <a href="#" hreflang="en" title="English (en)" class="qtranxs_image qtranxs_image_en">
                    <img src="{{ 'assets/images/flags/gb.png' | theme }}" alt="English (en)" />
                    <span style="display:none">English</span>
                </a>
            </li>
            <li class="lang-de">
                <a href="#" hreflang="de" title="Deutsch (de)" class="qtranxs_image qtranxs_image_de">
                    <img src="{{ 'assets/images/flags/de.png' | theme }}" alt="Deutsch (de)" />
                    <span style="display:none">Deutsch</span>
                </a>
            </li>
        </ul>
        <div class="qtranxs_widget_end"></div>
    </div> -->
