[viewBag]

[menu]
start = "id-13"
activeNode = "id-13"
listItemClasses = "item"
primaryClasses = "icon-list"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu menu2]
start = "id-29"
activeNode = "id-29"
listItemClasses = "item"
primaryClasses = "icon-list"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu menu3]
start = "id-30"
activeNode = "id-30"
listItemClasses = "item"
primaryClasses = "icon-list"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
<div class="social-media">
    <ul class="social-linkers">
        <li>
            <a href="https://www.facebook.com/hireyourhouse/?fref=ts">
                <img src="{{ 'assets/images/icon/facebook.png' | theme }}" class="img-responsive" />
            </a>
        </li>
        <li>
            <a href="https://twitter.com/hireyourhouse">
                <img src="{{ 'assets/images/icon/twitter.png' | theme }}" class="img-responsive" />
            </a>
        </li>
        <li>
            <a href="{{ 'contact-us'|page }}">
                <img src="{{ 'assets/images/icon/contact.png' | theme }}" class="img-responsive" />
            
            </a>
        </li>
        <li>
            <a href="{{ 'contact-us'|page }}">
                <img src="{{ 'assets/images/icon/mail.png' | theme }}" class="img-responsive" />
           
            </a>
        </li>
    </ul>
</div>
<div class="footer-widgets bg-footer">
    <div class="container">
        <div class="row">
    <div class="col-md-3">
        <h3 class="block-title block-title-left">CONTACT INFO</h3>
        <p>
            Phone: (713) 300-1760<br/>
            Email: info@hireyourhouse.com<br/>
            Support: support@hireyourhouse.com
        </p>
    </div>
   
    
    <div class="col-md-3">
        {% component 'menu' %}
    </div>
    <div class="col-md-3">
        {% component 'menu2' %}
    </div>
    <div class="col-md-3">
        {% component 'menu3' %}
    </div>
    </div>
    </div>
</div>