[session]
security = "all"
==
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 header-left">
                <ul id="menu-top-left" class="top-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="mailto:info@hireyourhouse.com">info@hireyourhouse.com</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="tel:(713) 300-1760">(713) 300-1760</a>

                    </li>
                </ul>
            </div>

            <div class="col-sm-6 header-right">
                <ul id="menu-top-right" class="social-menu top-menu">
                    {% component 'session' %}
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        {% if user %}
                        <div class="logginuser">
                        <div class="pull-left">
                            <a href="{{ 'profile' | page }}">Profile</a> &nbsp;&nbsp;                           
                        </div>
                        <div class="pull-left">
                            <a data-request="onLogout" data-request-data="redirect: '/'" style="cursor: pointer;"><span style="font-size: 13px">LogOut</span></a>
                            
                        </div>
                        {% endif %}
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>

<div class="header-toggle"><i class="fa fa-angle-down"></i></div>