[viewBag]

[menu]
start = "id-6"
activeNode = "id-6"
listItemClasses = "menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown"
primaryClasses = "nav navbar-nav navbar-right menu-header"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
<div class="nav-wrapper">
    <div class="navbar navbar-custom" role="navigation">
        <div class="container">
            <!-- Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>

                <a class="navbar-brand text-logo" href="{{ url('/') }}"> <img src="{{'assets/images/cya.png'|theme }}" height="60px" alt="logo"></a>
            </div>
            <!-- /Logo -->

          
          <!-- Navigation -->
            <div class="navbar-collapse collapse">

                {% component 'menu' %}

            </div>
        </div>
    </div>
</div>