[viewBag]
title = "Free videos pages"
url = "/free-videos-pages"
layout = "static-page-layout"
is_hidden = 0
navigation_hidden = 0
==
<p style="text-align: right;">dasasdasdasdssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
	<br><img src="/cya/storage/app/media/uploaded-files/home_main.jpg" style="width: 300px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<table style="width: 100%;"></table>