{% set informations = __SELF__.informations %}
{% set client_revolving_account = __SELF__.client_revolving_account %}
{% set client_installment = __SELF__.client_installment %}
{% set client_mortgage = __SELF__.client_mortgage %}
{% set client_expenses = __SELF__.client_expenses %}
{% set client_income = __SELF__.client_income %}
{% set client_bank_info = __SELF__.client_bank_info %}
{% set inhouse_other_expenses = __SELF__.inhouse_other_expenses %}
{% set overall_expenses = __SELF__.overall_expenses %}

{% if(informations.has_spouse == 1) %}
    {% set spouse_revolving_account = __SELF__.spouse_revolving_account %}
    {% set spouse_installment = __SELF__.spouse_installment %}
    {% set spouse_mortgage = __SELF__.spouse_mortgage %}
    {% set spouse_expenses = __SELF__.spouse_expenses %}
    {% set spouse_income = __SELF__.spouse_income %}
    {% set spouse_bank_info = __SELF__.spouse_bank_info %}
    {% set spouse_inhouse_other_expenses = __SELF__.spouse_inhouse_other_expenses %}
    {% set spouse_overall_expenses = __SELF__.spouse_overall_expenses %}
{% endif %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="right-block">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="#card" data-toggle="collapse" data-parent="#card">
                                <span>Revolving Accounts(Credit Cards)</span>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse" id="card">
                        <div class="panel-body">
                         <form data-request = "financialinformation::onSave_revolving">
                             <div class="available-for-clone">
                                <div class="add-btn-more clone-me col-md-12" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                                {% for revolvin in client_revolving_account %}
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>What is the balance on the account? </label>
                                        <input type="text" class="form-control" value="{{ revolvin.rev_account_balance }}" name = "rev_account_balance[]">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>What is the interest rate? </label> 
                                        <input type="text" class="form-control" value="{{ revolvin.rev_interest_rate }}"  name = "rev_interest_rate[]">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>What is the minimum payment? </label>
                                        <input type="text" class="form-control" value="{{ revolvin.rev_minimum_payment }}" name = "rev_minimum_payment[]">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>How much do you actually pay? </label>
                                        <input type="text" class="form-control" value="{{ revolvin.rev_actual_pay }}" name = "rev_actual_pay[]">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>What is the due date? </label>
                                        <select name= "rev_due_date[]" class="form-control" class="form-control">
                                            <option>--select--</option>
                                            <option {{ (revolvin.rev_due_date == 1)?'selected':'' }} >1</option>
                                            <option {{ (revolvin.rev_due_date == 2)?'selected':'' }}>2</option>
                                            <option {{ (revolvin.rev_due_date == 3)?'selected':'' }}>3</option>
                                            <option {{ (revolvin.rev_due_date == 4)?'selected':'' }}>4</option>
                                            <option {{ (revolvin.rev_due_date == 5)?'selected':'' }}>5</option>
                                            <option {{ (revolvin.rev_due_date == 6)?'selected':'' }}>6</option>
                                            <option {{ (revolvin.rev_due_date == 7)?'selected':'' }}>7</option>
                                            <option {{ (revolvin.rev_due_date == 8)?'selected':'' }}>8</option>
                                            <option {{ (revolvin.rev_due_date == 9)?'selected':'' }}>9</option>
                                            <option {{ (revolvin.rev_due_date == 10)?'selected':'' }}>10</option>
                                            <option {{ (revolvin.rev_due_date == 11)?'selected':'' }}>11</option>
                                            <option {{ (revolvin.rev_due_date == 12)?'selected':'' }}>12</option>
                                            <option {{ (revolvin.rev_due_date == 13)?'selected':'' }}>13</option>
                                            <option {{ (revolvin.rev_due_date == 14)?'selected':'' }}>14</option>
                                            <option {{ (revolvin.rev_due_date == 15)?'selected':'' }}>15</option>
                                            <option {{ (revolvin.rev_due_date == 16)?'selected':'' }}>16</option>
                                            <option {{ (revolvin.rev_due_date == 17)?'selected':'' }}>17</option>
                                            <option {{ (revolvin.rev_due_date == 18)?'selected':'' }}>18</option>
                                            <option {{ (revolvin.rev_due_date == 19)?'selected':'' }}>19</option>
                                            <option {{ (revolvin.rev_due_date == 20)?'selected':'' }}>20</option>
                                            <option {{ (revolvin.rev_due_date == 21)?'selected':'' }}>21</option>
                                            <option {{ (revolvin.rev_due_date == 22)?'selected':'' }}>22</option>
                                            <option {{ (revolvin.rev_due_date == 23)?'selected':'' }}>23</option>
                                            <option {{ (revolvin.rev_due_date == 24)?'selected':'' }}>24</option>
                                            <option {{ (revolvin.rev_due_date == 25)?'selected':'' }}>25</option>
                                            <option {{ (revolvin.rev_due_date == 26)?'selected':'' }}>26</option>
                                            <option {{ (revolvin.rev_due_date == 27)?'selected':'' }}>27</option>
                                            <option {{ (revolvin.rev_due_date == 28)?'selected':'' }}>28</option>
                                            <option {{ (revolvin.rev_due_date == 29)?'selected':'' }}>29</option>
                                            <option {{ (revolvin.rev_due_date == 30)?'selected':'' }}>30</option>
                                            <option {{ (revolvin.rev_due_date == 31)?'selected':'' }}>31</option>
                                            <option {{ (revolvin.rev_due_date == 32)?'selected':'' }}>32</option>
                                        </select>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">

                        <a href="#installment" data-toggle="collapse" data-parent="#accordion">
                            <span>Installment Section</span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="installment">
                    <div class="panel-body">
                     <form data-request = "financialinformation::onSave_installment">

                        <div class="available-for-clone">
                            <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                            {% for installment in  client_installment %}
                            <div class="row">
                                <div class="col-md-6 form-group">

                                    <label>Installment Accounts</label>
                                    <select name="inst_installment_account[]" value="{{ installment.inst_installment_account }}"  class="form-control">
                                        <option>--select--</option>
                                        <option>Car Loan</option>
                                        <option>Student Loan</option>
                                        <option>Time Share</option>
                                        <option>Secured Loan</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>What is the interest rate? </label> 
                                    <input type="text" class="form-control" value="{{ installment.inst_interest_rate }}" name = "inst_interest_rate[]">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group" style="display: none" id="inst_other_installment">
                                    <label>Other Name of the Installment Account? </label>
                                    <input type="text" class="form-control" value="{{ installment.inst_other_installment }}" name = "inst_other_installment[]">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>How much is the payment? </label>
                                    <input type="text" class="form-control" value="{{ installment.inst_payment }}" name = "inst_payment[]">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>What is the due date? </label>
                                    <select name= "inst_due_date[]" class="form-control">

                                        <option>--select--</option>
                                        <option {{ (installment.inst_due_date == 1)?'selected':'' }}>1</option>
                                        <option {{ (installment.inst_due_date == 2)?'selected':'' }}>2</option>
                                        <option {{ (installment.inst_due_date == 3)?'selected':'' }}>3</option>
                                        <option {{ (installment.inst_due_date == 4)?'selected':'' }}>4</option>
                                        <option {{ (installment.inst_due_date == 5)?'selected':'' }}>5</option>
                                        <option {{ (installment.inst_due_date == 6)?'selected':'' }}>6</option>
                                        <option {{ (installment.inst_due_date == 7)?'selected':'' }}>7</option>
                                        <option {{ (installment.inst_due_date == 8)?'selected':'' }}>8</option>
                                        <option {{ (installment.inst_due_date == 9)?'selected':'' }}>9</option>
                                        <option {{ (installment.inst_due_date == 10)?'selected':'' }}>10</option>
                                        <option {{ (installment.inst_due_date == 11)?'selected':'' }}>11</option>
                                        <option {{ (installment.inst_due_date == 12)?'selected':'' }}>12</option>
                                        <option {{ (installment.inst_due_date == 13)?'selected':'' }}>13</option>
                                        <option {{ (installment.inst_due_date == 14)?'selected':'' }}>14</option>
                                        <option {{ (installment.inst_due_date == 15)?'selected':'' }}>15</option>
                                        <option {{ (installment.inst_due_date == 16)?'selected':'' }}>16</option>
                                        <option {{ (installment.inst_due_date == 17)?'selected':'' }}>17</option>
                                        <option {{ (installment.inst_due_date == 18)?'selected':'' }}>18</option>
                                        <option {{ (installment.inst_due_date == 19)?'selected':'' }}>19</option>
                                        <option {{ (installment.inst_due_date == 20)?'selected':'' }}>20</option>
                                        <option {{ (installment.inst_due_date == 21)?'selected':'' }}>21</option>
                                        <option {{ (installment.inst_due_date == 22)?'selected':'' }}>22</option>
                                        <option {{ (installment.inst_due_date == 23)?'selected':'' }}>23</option>
                                        <option {{ (installment.inst_due_date == 24)?'selected':'' }}>24</option>
                                        <option {{ (installment.inst_due_date == 25)?'selected':'' }}>25</option>
                                        <option {{ (installment.inst_due_date == 26)?'selected':'' }}>26</option>
                                        <option {{ (installment.inst_due_date == 27)?'selected':'' }}>27</option>
                                        <option {{ (installment.inst_due_date == 28)?'selected':'' }}>28</option>
                                        <option {{ (installment.inst_due_date == 29)?'selected':'' }}>29</option>
                                        <option {{ (installment.inst_due_date == 30)?'selected':'' }}>30</option>
                                        <option {{ (installment.inst_due_date == 31)?'selected':'' }}>31</option>
                                        <option {{ (installment.inst_due_date == 32)?'selected':'' }}>32</option>
                                    </select>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#mortgage" data-toggle="collapse" data-parent="#accordion">
                        <span>Mortgage Section</span>
                    </a>
                </h3>
            </div>
            <div class="panel-collapse collapse" id="mortgage">
                <div class="panel-body">
                 <form data-request = "financialinformation::onSave_mortgage">
                    <div class="available-for-clone">
                        <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                        {% for mortgage in client_mortgage %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Mortgage</label>
                                <select name="mor_mortgage_type[]" class="form-control">
                                    <option>--select--</option>
                                    <option {{ (mortgage.mor_mortgage_type == 'First')?'selected':'' }}>First</option>
                                    <option {{ (mortgage.mor_mortgage_type == 'Second')?'selected':'' }}>Second</option>
                                    <option {{ (mortgage.mor_mortgage_type == 'HELOC')?'selected':'' }}>HELOC</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>How much is your payment?? </label> 
                                <input type="text" class="form-control" value="{{ mortgage.mor_payment }}" name = "mor_payment[]">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>What is the interest rate?</label> 
                                <input type="text" class="form-control"    value="{{ mortgage.mor_interest_rate }}" name = "mor_interest_rate[]">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>What is the balance? </label> 
                                <input type="text" class="form-control"   value="{{ mortgage.mor_balance }}" name = "mor_balance[]">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>What was purchase price? </label>
                                <input type="text" class="form-control"  value="{{ mortgage.mor_purchase_price }}" name = "mor_purchase_price[]">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>What is estimated value? </label>
                                <input type="text" class="form-control" value="{{ mortgage.mor_estimated_value }}" name = "mor_estimated_value[]">
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="#expenses" data-toggle="collapse" data-parent="#accordion">
                    <span>Expenses</span>
                </a>
            </h3>
        </div>
        <div class="panel-collapse collapse" id="expenses">
         <form data-request = "financialinformation::onSave_expenses">
            <div class="panel-body">
             In House expenses
             <div class="row">
                <div class="col-md-4 form-group">
                    <label>Groceries</label>
                    <input type="text" value="{{ client_expenses.exp_groceries }}" class="form-control" name = "inhouse_groceries">
                </div>
                <div class="col-md-4 form-group">
                    <label>Cable </label> 
                    <input type="text" value="{{ client_expenses.exp_cable }}" class="form-control" name = "inhouse_cable">
                </div>
                <div class="col-md-4 form-group">
                    <label>Cellphone </label> 
                    <input type="text" value="{{ client_expenses.exp_cellphone }}" class="form-control" name = "inhouse_cellphone">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Utilities</label> 
                    <input type="text" value="{{ client_expenses.exp_utilities }}" class="form-control" name = "inhouse_utilities">
                </div>
                <div class="col-md-4 form-group">
                    <label>Clothes </label>
                    <input type="text" class="form-control" value="{{ client_expenses.exp_clothes }}" name = "inhouse_clothes">
                </div>
                <div class="col-md-4 form-group">
                    <label>Dry cleaning </label>
                    <input type="text" class="form-control" value="{{ client_expenses.exp_dry_cleaning }}" name = "inhouse_dry_cleaning">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Entertainment</label> 
                    <input type="text" class="form-control" value="{{ client_expenses.exp_entertainment }}" name = "inhouse_entertainment">
                </div>
                <div class="col-md-4 form-group">
                    <label>Emergency </label>
                    <input type="text" class="form-control" value="{{ client_expenses.exp_emergency }}" name = "inhouse_emergency">
                </div>
            </div>
            <div class="available-for-clone">
                <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                {% for other_exp in inhouse_other_expenses %}
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Name Of Other Expense</label> 
                        <input type="text" class="form-control" value="{{other_exp.inhouse_expense_name}}" name = "inhouse_expense_name[]">
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Expenses </label>
                        <input type="text" class="form-control" value="{{other_exp.inhouse_other_expenses}}" name = "inhouse_other_expenses[]">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Total</label> 
                    <input type="text" class="form-control" value="{{ client_expenses.inhouse_total }}" name = "inhouse_total">
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Personal Grooming</label>
                    <input type="text" class="form-control" value="{{ client_expenses.exp_grooming }}" name = "overall_grooming">
                </div>
                <div class="col-md-4 form-group">
                    <label>Tolls </label> 
                    <input type="text" class="form-control" value="{{ client_expenses.exp_tolls }}" name = "overall_tolls">
                </div>
                <div class="col-md-4 form-group">
                    <label>Eating Out </label> 
                    <input type="text" class="form-control" value="{{ client_expenses.exp_eating_out }}" name = "overall_eating_out">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Gas</label> 
                    <input type="text" class="form-control" value="{{ client_expenses.exp_gas }}" name = "overall_gas">
                </div>
                <div class="col-md-4 form-group">
                    <label>Children Lessons </label>
                    <input type="text" class="form-control" value="{{ client_expenses.exp_children_lesso }}" name = "overall_children_lessons">
                </div>
                <div class="col-md-4 form-group">
                    <label>Daycare </label>
                    <input type="text" class="form-control" value="{{ client_expenses.exp_daycare }}" name = "overall_daycare">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>(Hair,nails,massage)</label> 
                    <input type="text" class="form-control" value="{{ client_expenses.exp_hair_nails }}" name = "overall_hair_nails">
                </div>
                <div class="col-md-4 form-group">
                    <label>Gym Membership </label>
                    <input type="text" class="form-control" value="{{ client_expenses.exp_gym }}" name = "overall_gym">
                </div>
            </div>
            <div class="available-for-clone">
                <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                {% for ovexpense in  overall_expenses %}
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Name Of Other Expense</label> 
                        <input type="text" class="form-control" value="{{ ovexpense.overall_expense_name }}" name = "overall_expense_name[]">
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Expenses </label>
                        <input type="text" class="form-control" value="{{ ovexpense.overall_other_expenses }}"  name = "overall_other_expenses[]">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Total</label> 
                    <input type="text" class="form-control" value="{{ client_expenses.overall_total }}" name = "overall_overall_total">
                </div>
            </div>
            <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
        </form>
    </div>
</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#income" data-toggle="collapse" data-parent="#accordion">
                <span>Income</span>
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse" id="income">
        <form data-request = "financialinformation::onSave_income">
            <div class="panel-body">
                <div class="available-for-clone">
                    <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                    {% for income in client_income %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Pay frequency</label>
                            <select name="inc_pay_frequency[]" class="form-control">
                                <option>--select--</option>
                                <option {{ (income.inc_pay_frequency == 'Weekly')?'selected':'' }}>Weekly</option>
                                <option {{ (income.inc_pay_frequency == 'Bi Weekly')?'selected':'' }}>Bi Weekly</option>
                                <option {{ (income.inc_pay_frequency == 'Bi Monthly')?'selected':'' }}>Bi Monthly</option>
                                <option {{ (income.inc_pay_frequency == 'Monthly')?'selected':'' }}>Monthly</option>
                                <option {{ (income.inc_pay_frequency == 'Commisson(Average)')?'selected':'' }}>Commisson(Average)</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>What is your net income? (After Taxes) </label> 
                            <input type="text" class="form-control" value="{{ income.inc_net_income }}" name = "inc_net_income[]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Overtime or Bonuses?</label> 
                            <input type="text" class="form-control" value="{{ income.inc_extra_income }}" name = "inc_extra_income[]">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Date of next pay day? </label>
                            <select name= "inc_pay_day[]" class="form-control">
                                <option>--select--</option>
                                <option {{ (income.inc_pay_day == 1)?'selected':'' }}>1</option>
                                <option {{ (income.inc_pay_day == 2)?'selected':'' }}>2</option>
                                <option {{ (income.inc_pay_day == 3)?'selected':'' }}>3</option>
                                <option {{ (income.inc_pay_day == 4)?'selected':'' }}>4</option>
                                <option {{ (income.inc_pay_day == 5)?'selected':'' }}>5</option>
                                <option {{ (income.inc_pay_day == 6)?'selected':'' }}>6</option>
                                <option {{ (income.inc_pay_day == 7)?'selected':'' }}>7</option>
                                <option {{ (income.inc_pay_day == 8)?'selected':'' }}>8</option>
                                <option {{ (income.inc_pay_day == 9)?'selected':'' }}>9</option>
                                <option {{ (income.inc_pay_day == 10)?'selected':'' }}>10</option>
                                <option {{ (income.inc_pay_day == 11)?'selected':'' }}>11</option>
                                <option {{ (income.inc_pay_day == 12)?'selected':'' }}>12</option>
                                <option {{ (income.inc_pay_day == 13)?'selected':'' }}>13</option>
                                <option {{ (income.inc_pay_day == 14)?'selected':'' }}>14</option>
                                <option {{ (income.inc_pay_day == 15)?'selected':'' }}>15</option>
                                <option {{ (income.inc_pay_day == 16)?'selected':'' }}>16</option>
                                <option {{ (income.inc_pay_day == 17)?'selected':'' }}>17</option>
                                <option {{ (income.inc_pay_day == 18)?'selected':'' }}>18</option>
                                <option {{ (income.inc_pay_day == 19)?'selected':'' }}>19</option>
                                <option {{ (income.inc_pay_day == 20)?'selected':'' }}>20</option>
                                <option {{ (income.inc_pay_day == 21)?'selected':'' }}>21</option>
                                <option {{ (income.inc_pay_day == 22)?'selected':'' }}>22</option>
                                <option {{ (income.inc_pay_day == 23)?'selected':'' }}>23</option>
                                <option {{ (income.inc_pay_day == 24)?'selected':'' }}>24</option>
                                <option {{ (income.inc_pay_day == 25)?'selected':'' }}>25</option>
                                <option {{ (income.inc_pay_day == 26)?'selected':'' }}>26</option>
                                <option {{ (income.inc_pay_day == 27)?'selected':'' }}>27</option>
                                <option {{ (income.inc_pay_day == 28)?'selected':'' }}>28</option>
                                <option {{ (income.inc_pay_day == 29)?'selected':'' }}>29</option>
                                <option {{ (income.inc_pay_day == 30)?'selected':'' }}>30</option>
                                <option {{ (income.inc_pay_day == 31)?'selected':'' }}>31</option>
                                <option {{ (income.inc_pay_day == 32)?'selected':'' }}>32</option>
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#bank" data-toggle="collapse" data-parent="#accordion">
                <span>Bank Info</span>
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse" id="bank">
        <form data-request = "financialinformation::onSave_bank_info">
            <div class="panel-body">
                <div>
                    (Why Are We Asking?- The financial GPS uses extra money to leverage the fastest path to bypass interest and attack principle. We do not need to know exact figures, and we will never ask for account info. We want to give you the most accurate path to maximize your savings.)
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>How much do you have in your checking account?</label>
                            <input type="text" class="form-control"  value="{{ client_bank_info.bank_checking_account_balance }}" name = "bank_checking_account_balance">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>How much do you have in your savings account?</label> 
                            <input type="text" class="form-control" value="{{ client_bank_info.bank_saving_account_balance }}" name = "bank_saving_account_balance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Do you have a 401k account or any pre-tax savings plan?</label> 
                            <select name = "bank_pretax_saving_plan" class="form-control">
                                <option>--select--</option>
                                <option {{ (client_bank_info.bank_pretax_saving_plan == 'Yes')?'selected':''}}>Yes</option>
                                <option {{ (client_bank_info.bank_pretax_saving_plan == 'No')?'selected':''}}>No</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>If Yes ,How much do you contribute per pay period? </label> 
                            <input type="text" class="form-control" value="{{ client_bank_info.bank_contribution_per_day }}" name = "bank_contribution_per_day">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Do you get a match?</label>
                            <select name = "bank_get_match" class="form-control">
                                <option>--select--</option>
                                <option {{ (client_bank_info.bank_get_match == 'Yes')?'selected':'' }}>Yes</option>
                                <option {{ (client_bank_info.bank_get_match == 'No')?'selected':'' }}>No</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>What is your balance? </label>
                            <input type="text" class="form-control" value="{{ client_bank_info.bank_balance }}" name = "bank_balance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Did you get a tax refund last year?</label>
                            <select name = "bank_tax_refund_previous_year" class="form-control">
                                <option>--select--</option>
                                <option {{ (client_bank_info.bank_tax_refund_previous_year == 'Yes')?'selected':'' }}>Yes</option>
                                <option {{ (client_bank_info.bank_tax_refund_previous_year == 'Yes')?'selected':'' }}>No</option>
                            </select>

                        </div>
                        <div class="col-md-6 form-group">
                            <label>How much tax refund last year? </label>
                            <input type="text" class="form-control" value="{{ client_bank_info.bank_tax_refund_amount }}" name = "bank_tax_refund_amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>What age do you want to retire and stop working realistically?</label>
                            <input type="text" class="form-control" value="{{ client_bank_info.bank_retire_age }}" name = "bank_retire_age">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Would you be interested to find out how you can get back your mortgage payments?</label>
                            <select name = "bank_get_back_mortage_payments" class="form-control">
                                <option>--select--</option>
                                <option {{ (client_bank_info.bank_get_back_mortage_payments == 'Yes')?'selected':'' }}>Yes</option>
                                <option {{ (client_bank_info.bank_get_back_mortage_payments == 'Yes')?'selected':'' }}>No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

{% if(informations.has_spouse == 1) %}
<h4>Spouse Detail</h4>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="right-block">
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="#spouse_card" data-toggle="collapse" data-parent="#card">
                                <span>Revolving Accounts(Credit Cards)</span>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse" id="spouse_card">
                        <div class="panel-body">
                         <form data-request = "financialinformation::onSave_spouse_revolving">
                             <div class="available-for-clone">
                                <div class="add-btn-more clone-me col-md-12" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                                {% for spouse_revolving in spouse_revolving_account %}
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>What is the balance on the account? </label>
                                        <input type="text" class="form-control" value="{{ spouse_revolving.rev_account_balance }}" name = "spouse_rev_account_balance[]">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>What is the interest rate? </label> 
                                        <input type="text" class="form-control" value="{{ spouse_revolving.rev_interest_rate }}" name = "spouse_rev_interest_rate[]">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>What is the minimum payment? </label>
                                        <input type="text" class="form-control" value="{{ spouse_revolving.rev_minimum_payment }}" name = "spouse_rev_minimum_payment[]">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>How much do you actually pay? </label>
                                        <input type="text" class="form-control" value="{{ spouse_revolving.rev_actual_pay }}" name = "spouse_rev_actual_pay[]">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>What is the due date? </label>
                                        <select name= "rev_due_date[]" class="form-control" class="form-control">
                                            <option>--select--</option>
                                            <option {{ (spouse_revolving.rev_due_date == 1)?'selected':'' }}>1</option>
                                            <option {{ (spouse_revolving.rev_due_date == 2)?'selected':'' }}>2</option>
                                            <option {{ (spouse_revolving.rev_due_date == 3)?'selected':'' }}>3</option>
                                            <option {{ (spouse_revolving.rev_due_date == 4)?'selected':'' }}>4</option>
                                            <option {{ (spouse_revolving.rev_due_date == 5)?'selected':'' }}>5</option>
                                            <option {{ (spouse_revolving.rev_due_date == 6)?'selected':'' }}>6</option>
                                            <option {{ (spouse_revolving.rev_due_date == 7)?'selected':'' }}>7</option>
                                            <option {{ (spouse_revolving.rev_due_date == 8)?'selected':'' }}>8</option>
                                            <option {{ (spouse_revolving.rev_due_date == 9)?'selected':'' }}>9</option>
                                            <option {{ (spouse_revolving.rev_due_date == 10)?'selected':'' }}>10</option>
                                            <option {{ (spouse_revolving.rev_due_date == 11)?'selected':'' }}>11</option>
                                            <option {{ (spouse_revolving.rev_due_date == 12)?'selected':'' }}>12</option>
                                            <option {{ (spouse_revolving.rev_due_date == 13)?'selected':'' }}>13</option>
                                            <option {{ (spouse_revolving.rev_due_date == 14)?'selected':'' }}>14</option>
                                            <option {{ (spouse_revolving.rev_due_date == 15)?'selected':'' }}>15</option>
                                            <option {{ (spouse_revolving.rev_due_date == 16)?'selected':'' }}>16</option>
                                            <option {{ (spouse_revolving.rev_due_date == 17)?'selected':'' }}>17</option>
                                            <option {{ (spouse_revolving.rev_due_date == 18)?'selected':'' }}>18</option>
                                            <option {{ (spouse_revolving.rev_due_date == 19)?'selected':'' }}>19</option>
                                            <option {{ (spouse_revolving.rev_due_date == 20)?'selected':'' }}>20</option>
                                            <option {{ (spouse_revolving.rev_due_date == 21)?'selected':'' }}>21</option>
                                            <option {{ (spouse_revolving.rev_due_date == 22)?'selected':'' }}>22</option>
                                            <option {{ (spouse_revolving.rev_due_date == 23)?'selected':'' }}>23</option>
                                            <option {{ (spouse_revolving.rev_due_date == 24)?'selected':'' }}>24</option>
                                            <option {{ (spouse_revolving.rev_due_date == 25)?'selected':'' }}>25</option>
                                            <option {{ (spouse_revolving.rev_due_date == 26)?'selected':'' }}>26</option>
                                            <option {{ (spouse_revolving.rev_due_date == 27)?'selected':'' }}>27</option>
                                            <option {{ (spouse_revolving.rev_due_date == 28)?'selected':'' }}>28</option>
                                            <option {{ (spouse_revolving.rev_due_date == 29)?'selected':'' }}>29</option>
                                            <option {{ (spouse_revolving.rev_due_date == 30)?'selected':'' }}>30</option>
                                            <option {{ (spouse_revolving.rev_due_date == 31)?'selected':'' }}>31</option>
                                            <option {{ (spouse_revolving.rev_due_date == 32)?'selected':'' }}>32</option>
                                        </select>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">

                        <a href="#spouse_installment" data-toggle="collapse" data-parent="#accordion">
                            <span>Installment Section</span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="spouse_installment">
                    <div class="panel-body">
                     <form data-request = "financialinformation::onSave_spouse_installment">

                        <div class="available-for-clone">
                            <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                            {% for installment in spouse_installment %}
                            <div class="row">
                                <div class="col-md-6 form-group">

                                    <label>Installment Accounts</label>
                                    <select name="spouse_inst_installment_account[]"  class="form-control">
                                        <option>--select--</option>
                                        <option {{ (installment.inst_installment_account == "Car Loan")?'selected':'' }} >Car Loan</option>
                                        <option {{ (installment.inst_installment_account == "Student Loan")?'selected':'' }} >Student Loan</option>
                                        <option {{ (installment.inst_installment_account == "Time Share")?'selected':'' }} >Time Share</option>
                                        <option {{ (installment.inst_installment_account == "Secured Loan")?'selected':'' }} >Secured Loan</option>
                                        <option {{ (installment.inst_installment_account == "Others")?'selected':'' }} >Others</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>What is the interest rate? </label> 
                                    <input type="text" class="form-control" value="{{ installment.inst_interest_rate }}" name = "spouse_inst_interest_rate[]">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group" style="display: none" id="spouse_inst_other_installment">
                                    <label>Other Name of the Installment Account? </label>
                                    <input type="text" class="form-control" value="{{ installment.inst_interest_rate }}" name = "spouse_inst_other_installment[]">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>How much is the payment? </label>
                                    <input type="text" class="form-control" value="{{ installment.inst_payment }}" name = "spouse_inst_payment[]">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>What is the due date? </label>
                                    <select name= "inst_due_date[]" class="form-control">

                                        <option>--select--</option>
                                        <option {{ (installment.inst_due_date == 1)?'selected':'' }} >1</option>
                                        <option {{ (installment.inst_due_date == 2)?'selected':'' }} >2</option>
                                        <option {{ (installment.inst_due_date == 3)?'selected':'' }} >3</option>
                                        <option {{ (installment.inst_due_date == 4)?'selected':'' }} >4</option>
                                        <option {{ (installment.inst_due_date == 5)?'selected':'' }} >5</option>
                                        <option {{ (installment.inst_due_date == 6)?'selected':'' }} >6</option>
                                        <option {{ (installment.inst_due_date == 7)?'selected':'' }} >7</option>
                                        <option {{ (installment.inst_due_date == 8)?'selected':'' }} >8</option>
                                        <option {{ (installment.inst_due_date == 9)?'selected':'' }} >9</option>
                                        <option {{ (installment.inst_due_date == 10)?'selected':'' }} >10</option>
                                        <option {{ (installment.inst_due_date == 11)?'selected':'' }} >11</option>
                                        <option {{ (installment.inst_due_date == 12)?'selected':'' }} >12</option>
                                        <option {{ (installment.inst_due_date == 13)?'selected':'' }} >13</option>
                                        <option {{ (installment.inst_due_date == 14)?'selected':'' }} >14</option>
                                        <option {{ (installment.inst_due_date == 15)?'selected':'' }} >15</option>
                                        <option {{ (installment.inst_due_date == 16)?'selected':'' }} >16</option>
                                        <option {{ (installment.inst_due_date == 17)?'selected':'' }} >17</option>
                                        <option {{ (installment.inst_due_date == 18)?'selected':'' }} >18</option>
                                        <option {{ (installment.inst_due_date == 19)?'selected':'' }} >19</option>
                                        <option {{ (installment.inst_due_date == 20)?'selected':'' }} >20</option>
                                        <option {{ (installment.inst_due_date == 21)?'selected':'' }} >21</option>
                                        <option {{ (installment.inst_due_date == 22)?'selected':'' }} >22</option>
                                        <option {{ (installment.inst_due_date == 23)?'selected':'' }} >23</option>
                                        <option {{ (installment.inst_due_date == 24)?'selected':'' }} >24</option>
                                        <option {{ (installment.inst_due_date == 25)?'selected':'' }} >25</option>
                                        <option {{ (installment.inst_due_date == 26)?'selected':'' }} >26</option>
                                        <option {{ (installment.inst_due_date == 27)?'selected':'' }} >27</option>
                                        <option {{ (installment.inst_due_date == 28)?'selected':'' }} >28</option>
                                        <option {{ (installment.inst_due_date == 29)?'selected':'' }} >29</option>
                                        <option {{ (installment.inst_due_date == 30)?'selected':'' }} >30</option>
                                        <option {{ (installment.inst_due_date == 31)?'selected':'' }} >31</option>
                                        <option {{ (installment.inst_due_date == 32)?'selected':'' }} >32</option>
                                    </select>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#spouse_mortgage" data-toggle="collapse" data-parent="#accordion">
                        <span>Mortgage Section</span>
                    </a>
                </h3>
            </div>
            <div class="panel-collapse collapse" id="spouse_mortgage">
                <div class="panel-body">
                 <form data-request = "financialinformation::onSave_spouse_mortgage">
                    <div class="available-for-clone">
                        <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                        {% for mortgage in spouse_mortgage %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Mortgage</label>
                                <select name="spouse_mor_mortgage_type[]" class="form-control">
                                    <option>--select--</option>
                                    <option {{ (mortgage.mor_mortgage_type == 'First' )?'selected':'' }} >First</option>
                                    <option {{ (mortgage.mor_mortgage_type == 'Second' )?'selected':'' }} >Second</option>
                                    <option {{ (mortgage.mor_mortgage_type == 'HELOC' )?'selected':'' }} >HELOC</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>How much is your payment?? </label> 
                                <input type="text" class="form-control" value="{{ mortgage.mor_payment }}" name = "spouse_mor_payment[]">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>What is the interest rate?</label> 
                                <input type="text" class="form-control" value="{{ mortgage.mor_interest_rate }}" name = "spouse_mor_interest_rate[]">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>What is the balance? </label> 
                                <input type="text" class="form-control" value="{{ mortgage.mor_balance }}" name = "spouse_mor_balance[]">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>What was purchase price? </label>
                                <input type="text" class="form-control" value="{{ mortgage.mor_purchase_price }}" name = "spouse_mor_purchase_price[]">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>What is estimated value? </label>
                                <input type="text" class="form-control" value="{{ mortgage.mor_estimated_value }}" name = "spouse_mor_estimated_value[]">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="#spouse_expenses" data-toggle="collapse" data-parent="#accordion">
                    <span>Expenses</span>
                </a>
            </h3>
        </div>
        <div class="panel-collapse collapse" id="spouse_expenses">
         <form data-request = "financialinformation::onSave_spouse_expenses">
            <div class="panel-body">
             In House expenses
             <div class="row">
                <div class="col-md-4 form-group">
                    <label>Groceries</label>
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_groceries }}" name = "spouse_inhouse_groceries">
                </div>
                <div class="col-md-4 form-group">
                    <label>Cable </label> 
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_cable }}" name = "spouse_inhouse_cable">
                </div>
                <div class="col-md-4 form-group">
                    <label>Cellphone </label> 
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_cellphone }}" name = "spouse_inhouse_cellphone">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Utilities</label> 
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_utilities }}" name = "spouse_inhouse_utilities">
                </div>
                <div class="col-md-4 form-group">
                    <label>Clothes </label>
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_clothes }}" name = "spouse_inhouse_clothes">
                </div>
                <div class="col-md-4 form-group">
                    <label>Dry cleaning </label>
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_dry_cleaning }}" name = "spouse_inhouse_dry_cleaning">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Entertainment</label> 
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_entertainment }}" name = "spouse_inhouse_entertainment">
                </div>
                <div class="col-md-4 form-group">
                    <label>Emergency </label>
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_emergency }}" name = "spouse_inhouse_emergency">
                </div>
            </div>
            <div class="available-for-clone">
                <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                {% for other in spouse_inhouse_other_expenses %}
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Name Of Other Expense</label> 
                        <input type="text" class="form-control" value="{{ other.inhouse_expense_name }}" name = "spouse_inhouse_expense_name[]">
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Expenses </label>
                        <input type="text" class="form-control" value="{{ other.inhouse_other_expenses }}" name = "spouse_inhouse_other_expenses[]">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Total</label> 
                    <input type="text" class="form-control" value="{{ spouse_expenses.inhouse_total }}" name = "spouse_inhouse_total">
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Personal Grooming</label>
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_grooming }}" name = "spouse_overall_grooming">
                </div>
                <div class="col-md-4 form-group">
                    <label>Tolls </label> 
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_tolls }}" name = "spouse_overall_tolls">
                </div>
                <div class="col-md-4 form-group">
                    <label>Eating Out </label> 
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_eating_out }}" name = "spouse_overall_eating_out">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Gas</label> 
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_gas }}" name = "spouse_overall_gas">
                </div>
                <div class="col-md-4 form-group">
                    <label>Children Lessons </label>
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_children_lesso }}" name = "spouse_overall_children_lessons">
                </div>
                <div class="col-md-4 form-group">
                    <label>Daycare </label>
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_daycare }}" name = "spouse_overall_daycare">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>(Hair,nails,massage)</label> 
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_hair_nails }}" name = "spouse_overall_hair_nails">
                </div>
                <div class="col-md-4 form-group">
                    <label>Gym Membership </label>
                    <input type="text" class="form-control" value="{{ spouse_expenses.exp_gym }}" name = "spouse_overall_gym">
                </div>
            </div>
            <div class="available-for-clone">
                <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                {% for overall in  spouse_overall_expenses %}
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Name Of Other Expense</label> 
                        <input type="text" class="form-control" value="{{ overall.overall_expense_name }}" name = "spouse_overall_expense_name[]">
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Expenses </label>
                        <input type="text" class="form-control" value="{{ overall.overall_other_expenses }}" name = "spouse_overall_other_expenses[]">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Total</label> 
                    <input type="text" class="form-control" value="{{ spouse_expenses.overall_total }}" name = "spouse_overall_overall_total">
                </div>
            </div>
            <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
        </form>
    </div>
</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#spouse_income" data-toggle="collapse" data-parent="#accordion">
                <span>Income</span>
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse" id="spouse_income">
        <form data-request = "financialinformation::onSave_spouse_income">
            <div class="panel-body">
                <div class="available-for-clone">
                    <div class="add-btn-more clone-me" style="text-align: right;"><img src="{{'assets/images/plus.png'|theme }}" width="30px"></div>
                    {% for income in spouse_income %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Pay frequency</label>
                            <select name="spouse_inc_pay_frequency[]" class="form-control">
                                <option>--select--</option>
                                <option {{ (income.inc_pay_frequency == 'Weekly')?'selected':'' }}>Weekly</option>
                                <option {{ (income.inc_pay_frequency == 'Bi Weekly')?'selected':'' }}>Bi Weekly</option>
                                <option {{ (income.inc_pay_frequency == 'Bi Monthly')?'selected':'' }}>Bi Monthly</option>
                                <option {{ (income.inc_pay_frequency == 'Monthly')?'selected':'' }}>Monthly</option>
                                <option {{ (income.inc_pay_frequency == 'Commisson(Average)')?'selected':'' }}>Commisson(Average)</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>What is your net income? (After Taxes) </label> 
                            <input type="text" class="form-control" value="{{ income.inc_net_income }}" name = "spouse_inc_net_income[]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Overtime or Bonuses?</label> 
                            <input type="text" class="form-control" value="{{ income.inc_extra_income }}" name = "spouse_inc_extra_income[]">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Date of next pay day? </label>
                            <select name= "inc_pay_day[]" class="form-control">
                                <option>--select--</option>
                                <option {{ (income.inc_pay_day == 1)?'selected':'' }}>1</option>
                                <option {{ (income.inc_pay_day == 2)?'selected':'' }}>2</option>
                                <option {{ (income.inc_pay_day == 3)?'selected':'' }}>3</option>
                                <option {{ (income.inc_pay_day == 4)?'selected':'' }}>4</option>
                                <option {{ (income.inc_pay_day == 5)?'selected':'' }}>5</option>
                                <option {{ (income.inc_pay_day == 6)?'selected':'' }}>6</option>
                                <option {{ (income.inc_pay_day == 7)?'selected':'' }}>7</option>
                                <option {{ (income.inc_pay_day == 8)?'selected':'' }}>8</option>
                                <option {{ (income.inc_pay_day == 9)?'selected':'' }}>9</option>
                                <option {{ (income.inc_pay_day == 10)?'selected':'' }}>10</option>
                                <option {{ (income.inc_pay_day == 11)?'selected':'' }}>11</option>
                                <option {{ (income.inc_pay_day == 12)?'selected':'' }}>12</option>
                                <option {{ (income.inc_pay_day == 13)?'selected':'' }}>13</option>
                                <option {{ (income.inc_pay_day == 14)?'selected':'' }}>14</option>
                                <option {{ (income.inc_pay_day == 15)?'selected':'' }}>15</option>
                                <option {{ (income.inc_pay_day == 16)?'selected':'' }}>16</option>
                                <option {{ (income.inc_pay_day == 17)?'selected':'' }}>17</option>
                                <option {{ (income.inc_pay_day == 18)?'selected':'' }}>18</option>
                                <option {{ (income.inc_pay_day == 19)?'selected':'' }}>19</option>
                                <option {{ (income.inc_pay_day == 20)?'selected':'' }}>20</option>
                                <option {{ (income.inc_pay_day == 21)?'selected':'' }}>21</option>
                                <option {{ (income.inc_pay_day == 22)?'selected':'' }}>22</option>
                                <option {{ (income.inc_pay_day == 23)?'selected':'' }}>23</option>
                                <option {{ (income.inc_pay_day == 24)?'selected':'' }}>24</option>
                                <option {{ (income.inc_pay_day == 25)?'selected':'' }}>25</option>
                                <option {{ (income.inc_pay_day == 26)?'selected':'' }}>26</option>
                                <option {{ (income.inc_pay_day == 27)?'selected':'' }}>27</option>
                                <option {{ (income.inc_pay_day == 28)?'selected':'' }}>28</option>
                                <option {{ (income.inc_pay_day == 29)?'selected':'' }}>29</option>
                                <option {{ (income.inc_pay_day == 30)?'selected':'' }}>30</option>
                                <option {{ (income.inc_pay_day == 31)?'selected':'' }}>31</option>
                                <option {{ (income.inc_pay_day == 32)?'selected':'' }}>32</option>
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#spouse_bank" data-toggle="collapse" data-parent="#accordion">
                <span>Bank Info</span>
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse" id="spouse_bank">
        <form data-request = "financialinformation::onSave_spouse_bank_info">
            <div class="panel-body">
                <div>
                    (Why Are We Asking?- The financial GPS uses extra money to leverage the fastest path to bypass interest and attack principle. We do not need to know exact figures, and we will never ask for account info. We want to give you the most accurate path to maximize your savings.)
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>How much do you have in your checking account?</label>
                            <input type="text" class="form-control" value="{{ spouse_bank_info.bank_checking_account_balance }}" name = "spouse_bank_checking_account_balance">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>How much do you have in your savings account?</label> 
                            <input type="text" class="form-control" value="{{ spouse_bank_info.bank_saving_account_balance }}" name = "spouse_bank_saving_account_balance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Do you have a 401k account or any pre-tax savings plan?</label> 
                            <select name = "spouse_bank_pretax_saving_plan" class="form-control">
                                <option>--select--</option>
                                <option {{ (spouse_bank_info.bank_pretax_saving_plan == 'Yes')?'selected':'' }}>Yes</option>
                                <option {{ (spouse_bank_info.bank_pretax_saving_plan == 'No')?'selected':'' }}>No</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>If Yes ,How much do you contribute per pay period? </label> 
                            <input type="text" class="form-control" value="{{ spouse_bank_info.bank_contribution_per_day }}" name = "spouse_bank_contribution_per_day">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Do you get a match?</label>
                            <select name = "spouse_bank_get_match" class="form-control">
                                <option>--select--</option>
                                <option {{ (spouse_bank_info.bank_get_match == 'Yes')?'selected':'' }} >Yes</option>
                                <option {{ (spouse_bank_info.bank_get_match == 'No')?'selected':'' }} >No</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>What is your balance? </label>
                            <input type="text" class="form-control" value="{{ spouse_bank_info.bank_balance }}" name = "spouse_bank_balance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Did you get a tax refund last year?</label>
                            <select name = "spouse_bank_tax_refund_previous_year" class="form-control">
                                <option>--select--</option>
                                <option {{ (spouse_bank_info.bank_tax_refund_previous_year == 'Yes')?'selected':'' }}>Yes</option>
                                <option {{ (spouse_bank_info.bank_tax_refund_previous_year == 'No')?'selected':'' }}>No</option>
                            </select>

                        </div>
                        <div class="col-md-6 form-group">
                            <label>How much tax refund last year? </label>
                            <input type="text" class="form-control" value="{{ spouse_bank_info.bank_tax_refund_amount }}" name = "spouse_bank_tax_refund_amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>What age do you want to retire and stop working realistically?</label>
                            <input type="text" class="form-control" value="{{ spouse_bank_info.bank_retire_age }}" name = "spouse_bank_retire_age">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Would you be interested to find out how you can get back your mortgage payments?</label>
                            <select name = "spouse_bank_get_back_mortage_payments" class="form-control">
                                <option>--select--</option>
                                <option {{ (spouse_bank_info.bank_get_back_mortage_payments == 'Yes')?'selected':'' }}>Yes</option>
                                <option {{ (spouse_bank_info.bank_get_back_mortage_payments == 'No')?'selected':'' }}>No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg pull-right mt-4"> Save </button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
{% endif %}
<script type="text/javascript">

   $(document).on('click', '.clone-me', function(){
    var currentDiv = $(this).parents(".available-for-clone");
    var cloned = currentDiv.clone();

    cloned.removeClass('available-for-clone').addClass('cloned');
    cloned.insertAfter(currentDiv);
    cloned.find('.add-btn-more').removeClass('clone-me').addClass('unclone-me');
    cloned.find('.add-btn-more').html('<img src="{{"assets/images/minus.png"|theme }}" width="30px" style="text-align: right;">');  
});

   $(document).on('click', '.unclone-me', function(){
    $(this).parents('.cloned').remove();
}); 

   $('#installment_id').change(function()
   {
    var value = $(this).val();
    if(value == 'Others')
    {
        $('#inst_other_installment').show();
    }

});
</script>