<form method="post" action="" accept-charset="UTF8" enctype="multipart/form-data">

    <input type="hidden" name="_handler" value="onSave">

    {{ form_token()}}
    {{ form_sessionKey()}}
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <textarea rows="8" name="content" class="form-control"></textarea>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="photo">Upload Photo/Avatar</label>

                <input type="file" name="photo" class="form-control">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="Author bio">Author Bio</label>
        <textarea name="author_bio" class="form-control"></textarea> 
    </div>
    <input type="hidden" name="is_public" value="1">
    <div class="buttons">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>